@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain {
    .topKvContainer {
      .topKvPanel {
        height: 400px;
      }
      .secWrap {
        padding: 0 20px 40px;
      }
      .kvTitle {
        max-width: 400px;
        margin: 0 0 10px;
      }
      .kvList {
        max-width: 240px;
      }
    }
    .sec01 {
      padding: 40px 0 60px;
      .secBox {
        .photo {
          position: relative;
        }
        .txtBox {
          padding: 20px 0 0;
          .ttl {
            margin: 0 0 20px;
            font-size: 24px;
          }
          .txt {
            margin: 0 0 30px;
          }
        }
      }
    }
    .sec02 {
      padding: 40px 0 60px;
      .secBoxList {
        .secBox {
          + .secBox {
            margin: 40px 0 0;
          }
          .ttl {
            margin: 0 0 15px;
            padding: 0 0 0 15px;
            > * {
              font-size: 26px;
            }
          }
        }
      }
    }
    .sec03 {
      padding: 40px 0 60px;
      .secContainer {
        padding: 40px 0;
      }
      .secPanel {
        .ttlBox {
          margin: 0 0 20px;
          .ttl01 {
            display: block;
            margin: 0 0 5px;
            font-size: 18px;
          }
          .ttl02 {
            display: block;
            font-size: 26px;
          }
        }
        .secBox {
          margin: 0 0 30px;
          .txtBox {
            padding: 20px 0 0;
            .infoBox {
              .dl {
                .dt {
                  display: block;
                  margin: 0 0 5px;
                  p {
                    min-width: 80px;
                    padding: 5px 8px;
                  }
                }
                .dd {
                  display: block;
                  .strong {
                    font-size: 26px;
                  }
                  .em {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        .listBox {
          .ul {
            .li {
              + .li {
                margin: 30px 0 0;
              }
            }
            .ttl {
              margin: 0 0 5px;
              font-size: 18px;
            }
          }
        }
      }
    }
    .sec04 {
      padding: 40px 0 60px;
      .ttl {
        margin: 0 0 30px;
        font-size: 18px;
      }
      .chartPc {
        display: none;
      }
      .chartSp {
        display: block;
        max-width: 640px;
        margin: 0 auto;
      }
    }
    .sec05 {
      padding: 30px 0 60px;
    }
  }
}

/*////////////////////////////////////////////////////////////
	product
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .productMain {
    .pagingList {
      padding: 40px 20px 0;
      .ul {
        display: block;
        max-width: 180px;
        .li {
          + .li {
            margin: 20px 0 0;
          }
        }
      }
    }
    .section {
      padding: 40px 0 60px;
    }
    .pageSecTitleBox {
      margin: 0 0 40px;
    }
    .checkPanel {
      margin: 80px 0 0;
      .pTtl {
        position: relative;
        top: -20px;
        max-width: 400px;
        font-size: 18px;
      }
      .list {
        max-width: 400px;
        margin: 0 auto;
        .ul {
          .li {
            padding: 0 0 0 25px;
            font-size: 16px;
            background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/product_list_check.png)
              left center no-repeat;
            background-size: 20px auto;
            + .li {
              margin: 10px 0 0;
            }
          }
        }
      }
    }
    .sec01 {
      .secBox {
        .photo {
          position: relative;
        }
        .txtBox {
          padding: 20px 0 0;
          .ttl {
            margin: 0 0 20px;
            font-size: 24px;
          }
        }
      }
    }
    .sec02 {
      .secBox {
        .photoBox {
          max-width: 500px;
          + .photoBox {
            margin: 30px 0 0;
          }
          p {
            margin: 10px 0 0;
            padding: 0 0 0 10px;
            font-size: 16px;
            border-left: 4px solid #db6e0e;
          }
        }
        .txtBox {
          padding: 20px 0 0;
          .ttl {
            margin: 0 0 20px;
            font-size: 20px;
          }
          .txt {
            margin: 0 0 30px;
          }
        }
      }
    }
    .sec03 {
      .secBox {
        .txtBox {
          padding: 20px 0 0;
          .ttl {
            margin: 0 0 20px;
            font-size: 24px;
          }
        }
      }
      .listBox {
        margin: 40px 0 0;
        .ul {
          .li {
            padding: 20px;
            + .li {
              margin: 20px 0 0;
            }
          }
          .ttlBox {
            margin: 0 0 10px;
            .ttl01 {
              display: block;
              margin: 0 0 5px;
              font-size: 18px;
            }
            .ttl02 {
              display: block;
              font-size: 26px;
            }
          }
        }
      }
    }
    .sec04 {
      .topBox {
        margin: 0 0 40px;
        text-align: center;
        .ttl {
          margin: 0 0 15px;
          font-size: 20px;
        }
      }
      .secBoxList {
        .secBox {
          padding: 30px 0;
          .ttlBox {
            .ttl01 {
              font-size: 16px;
            }
            .ttl02 {
              font-size: 20px;
            }
          }
        }
      }
    }
    .sec05 {
      .secBox {
        .txtBox {
          padding: 20px 0 0;
          .ttl {
            margin: 0 0 20px;
            font-size: 24px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	case
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .caseMain {
    .section {
      padding: 40px 0 60px;
    }
    .sec01 {
      .secContainer {
        padding: 40px 0;
      }
      .secPanel {
        .ttlBox {
          margin: 0 0 20px;
          .ttl01 {
            display: block;
            margin: 0 0 5px;
            font-size: 18px;
          }
          .ttl02 {
            display: block;
            font-size: 26px;
          }
        }
        .secBox {
          margin: 0 0 30px;
          .txtBox {
            padding: 20px 0 0;
            .infoBox {
              .dl {
                .dt {
                  display: block;
                  margin: 0 0 5px;
                  p {
                    min-width: 80px;
                    padding: 5px 8px;
                  }
                }
                .dd {
                  display: block;
                  .strong {
                    font-size: 26px;
                  }
                  .em {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        .listBox {
          .ul {
            .li {
              + .li {
                margin: 30px 0 0;
              }
            }
            .ttl {
              margin: 0 0 5px;
              font-size: 18px;
            }
          }
        }
      }
    }
    .sec02 {
      .galleryPanel {
        margin: 0 0 60px;
        .listBox {
          .ul {
            margin: -30px 0 0 -10px;
            .li {
              width: calc((100% / 2) - 10px);
              margin: 30px 0 0 10px;
            }
            p {
              margin: 10px 0 0;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .companyMain {
    .pagingList {
      padding: 40px 20px 0;
      .ul {
        display: block;
        max-width: 180px;
        .li {
          + .li {
            margin: 20px 0 0;
          }
        }
      }
    }
    .section {
      padding: 40px 0 60px;
    }
    .secTop {
      .secBox {
        .txtBox {
          padding: 20px 0 0;
          .ttl {
            margin: 0 0 20px;
            font-size: 24px;
          }
        }
      }
    }
    .sec01 {
      .secPanel {
        + .secPanel {
          margin: 50px 0 0;
        }
        .pTtl {
          padding: 0 15px 5px;
          font-size: 16px;
        }
        .secBox {
          padding: 10px 15px 0;
          .dl {
            + .dl {
              margin: 30px 0 0;
            }
            .dt {
              margin: 0 0 5px;
              a {
                padding: 0 20px 0 0;
                font-size: 16px;
                color: #1668af;
                background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/company_icon_target.png)
                  right center no-repeat;
                background-size: 15px auto;
              }
            }
          }
        }
        @media (min-width: 1025px) {
          .secBox {
            display: flex;
            justify-content: space-between;
            .dl {
              width: 45%;
            }
          }
        }
      }
    }
    .sec02 {
      .infoBox {
        padding: 0 0 40px;
        .dl {
          padding: 10px;
          .dt {
            width: 80px;
            font-size: 14px;
          }
        }
      }
    }
    .sec03 {
      .topBox {
        margin: 0 0 40px;
        .list {
          .ul {
            max-width: 400px;
            .li {
              padding: 15px 10px;
              .logo01 {
                max-width: 100px;
              }
              .logo02 {
                max-width: 150px;
              }
            }
          }
        }
        p {
          margin: 10px 0 0;
        }
      }
      .secBoxList {
        .secBox {
          + .secBox {
            margin: 30px 0 0;
          }
          .img {
            width: 140px;
          }
          .txtBox {
            padding: 20px 0 0;
            .ttl {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain {
    .topContainer {
      padding: 40px 0;
      .btnMore {
        margin: 20px auto 0;
      }
    }
    .section {
      padding: 40px 0 60px;
    }
    .sec01 {
      .testPanel {
        padding: 20px;
        .ttl {
          margin: 0 0 20px;
          font-size: 20px;
        }
        .btnItems {
          margin: 30px 0 0;
        }
        .btnMoreDl,
        .btnMoreBlack {
          width: 240px;
          margin: 0 auto;
        }
        .btnMoreBlack {
          margin: 10px auto 0;
        }
      }
    }
    .sec02 {
      .chartPc {
        display: none;
      }
      .chartSp {
        display: block;
        max-width: 640px;
        margin: 0 auto;
      }
      .txt {
        margin: 30px 0 0;
      }
      .btnMoreDl {
        margin: 20px auto 0;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain {
    .contactForm {
      .formBox {
        + .formBox {
          margin-top: 40px;
        }

        h3 {
          margin-bottom: 0;
          font-size: 18px;
        }

        > .dl {
          display: block;
          width: 100%;
          padding: 10px;

          &.line {
            .dt {
              padding: 10px 0;
            }
          }

          > .dt {
            display: block;
            width: 100%;
            padding: 10px 0;

            .span {
              width: auto;
              margin-right: 10px;
              font-size: 16px;

              br {
                display: none;
              }
            }

            .em {
              font-size: 12px;
              vertical-align: middle;
            }

            .aside {
              margin-top: 5px;

              p {
                font-size: 12px;

                br {
                  display: none;
                }
              }
            }
          }

          > .dd {
            display: block;
            width: 100%;
          }
        }

        .radioList01 {
          .list {
            display: block;
            margin: 0;
            + .list {
              margin: 20px 0 0;
            }
          }
        }

        .checkList01 {
          .ul {
            .li {
              display: block;
              + .li {
                margin: 10px 0 0;
              }
            }
          }
          .checkItem {
            display: inline-block;
            padding: 0 5px 0 0;
            + input {
              display: inline-block;
              width: 150px;
            }
          }
        }

        .addressBox,
        .dateBox {
          .dl {
            display: block;

            .dt {
              display: block;
              width: 100%;
            }

            .dd {
              display: block;
            }
          }
        }

        .dateBox {
          input[type="text"] {
            width: 70px;
          }

          .radioList {
            display: block;
            margin: 10px 0 0;
          }
        }

        .selectBox {
          width: 180px;
        }

        .privacy {
          .agreeBox {
            height: 250px;
            padding: 20px 10px;
          }
        }
      }
      .fileUploadBox {
        display: block;
        .fileBox {
          width: 100%;
        }
        .fileArea {
          display: block;
          .inputFile {
            width: 200px;
          }
          > p,
          .fileTxt {
            width: 100%;
            margin: 10px 0 0;
          }
        }
      }
      .fileUploadTitleBox {
        margin: 40px 0 20px;
        .fileUploadTitle {
          p {
            padding: 0 15px 0 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}
