@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain {
  .topKvContainer {
    .topKvPanel {
      height: 600px;
      background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/top_kv_01.png)
        center no-repeat;
      background-size: cover;
    }
    .secWrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding: 0 20px 80px;
    }
    .kvTitle {
      max-width: 700px;
      margin: 0 0 30px;
    }
    .kvList {
      max-width: 400px;
    }
    .kvTitleTxt {
      display: none;
    }
  }
  .sec01 {
    padding: 40px 0 80px;
    .secBox {
      .photo {
        position: relative;
      }
      .txtBox {
        .ttl {
          margin: 0 0 20px;
          font-size: 40px;
        }
        .txt {
          margin: 0 0 40px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .photo {
          width: 45%;
          height: 380px;
          img {
            @include cover-image;
          }
        }
        .txtBox {
          width: 50%;
        }
      }
    }
  }
  .sec02 {
    padding: 40px 0 80px;
    background: #f4f4f4;
    .secBoxList {
      .secBox {
        .ttl {
          margin: 0 0 20px;
          padding: 0 0 0 20px;
          font-size: 0;
          border-left: 4px solid #db6e0e;
          > * {
            display: inline;
            font-size: 40px;
            line-height: 1.2;
          }
          .em,
          em {
            color: #1668af;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBoxList {
        display: flex;
        justify-content: space-between;
        .secBox {
          width: 48%;
        }
      }
    }
  }
  .sec03 {
    padding: 40px 0 80px;
    .secContainer {
      padding: 60px 0;
      background: #f4f4f4;
    }
    .secPanel {
      .ttlBox {
        margin: 0 0 30px;
        .ttl01 {
          display: inline-block;
          margin: 0 10px 0 0;
          font-size: 24px;
          color: #1668af;
        }
        .ttl02 {
          display: inline-block;
          font-size: 40px;
        }
      }
      .secBox {
        margin: 0 0 40px;
        .photoBox {
          display: flex;
          justify-content: space-between;
          .photo {
            width: 49%;
          }
        }
        .txtBox {
          .infoBox {
            .dl {
              + .dl {
                margin: 15px 0 0;
              }
              .dt {
                display: inline-block;
                margin: 0 10px 0 0;
                p {
                  display: inline-block;
                  min-width: 80px;
                  padding: 5px 8px;
                  color: #ffffff;
                  text-align: center;
                  line-height: 1;
                  border-radius: 40px;
                  background: #1668af;
                }
              }
              .dd {
                display: inline-block;
                p {
                  display: inline;
                }
                .strong {
                  font-size: 34px;
                  color: #db6e0e;
                }
                .em {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .photoBox {
            width: 410px;
          }
          .txtBox {
            width: calc(100% - 460px);
          }
        }
      }
      .listBox {
        text-align: center;
        .ul {
          .ttl {
            margin: 0 0 10px;
            font-size: 20px;
          }
          .box {
            padding: 20px;
            border: 1px solid #000000;
            background: #ffffff;
            .chart {
              max-width: 500px;
              margin: 0 auto;
            }
          }
        }
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            justify-content: space-between;
            .li {
              width: 49%;
            }
          }
        }
      }
    }
    .btnMore {
      margin: 40px auto 0;
    }
  }
  .sec04 {
    padding: 40px 0 80px;
    background: #f4f4f4;
    .btnMore {
      width: 200px;
      margin: 0 auto 30px;
    }
    .ttl {
      margin: 0 0 40px;
      font-size: 20px;
      text-align: center;
    }
    .chartPc {
      max-width: 1000px;
      margin: 0 auto;
    }
    .chartSp {
      display: none;
    }
  }
  .sec05 {
    padding: 60px 0 100px;
    color: #ffffff;
    background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/top_sec05_bg.png)
      center no-repeat;
    background-size: cover;
    .btnMoreWhite {
      margin: 0 auto;
    }
  }
}

/*////////////////////////////////////////////////////////////
	product
///////////////////////////////////////////////////////////*/
.productMain {
  .pagingList {
    padding: 60px 20px 0;
    .ul {
      display: flex;
      justify-content: space-between;
      max-width: 380px;
      margin: 0 auto;
    }
  }
  .section {
    padding: 40px 0 80px;
  }
  .pageSecTitleBox {
    margin: 0 0 60px;
  }
  .checkPanel {
    position: relative;
    margin: 100px 0 0;
    padding: 0 20px 30px;
    border-radius: 10px;
    border: 1px solid #1668af;
    background: #ffffff;
    .pTtl {
      position: relative;
      top: -30px;
      max-width: 600px;
      margin: 0 auto 0;
      padding: 10px;
      font-size: 26px;
      color: #ffffff;
      text-align: center;
      border-radius: 10px;
      background: #1668af;
    }
    .list {
      max-width: 1000px;
      margin: 0 auto;
      .ul {
        .li {
          padding: 0 0 0 40px;
          font-size: 20px;
          background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/product_list_check.png)
            left center no-repeat;
          background-size: 25px auto;
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          flex-wrap: wrap;
          margin: -20px 0 0;
          .li {
            width: 48%;
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  .sec01 {
    .secBox {
      .photo {
        position: relative;
      }
      .txtBox {
        .ttl {
          margin: 0 0 20px;
          font-size: 40px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row-reverse;
        .photo {
          width: 50%;
          height: 380px;
          img {
            @include cover-image;
          }
        }
        .txtBox {
          position: relative;
          width: 45%;
          .ttl {
            white-space: nowrap;
          }
        }
      }
    }
  }
  .sec02 {
    background: #f4f4f4;
    .secBox {
      .photoBox {
        + .photoBox {
          margin: 40px 0 0;
        }
        p {
          margin: 10px 0 0;
          padding: 0 0 0 10px;
          font-size: 20px;
          border-left: 4px solid #db6e0e;
        }
      }
      .photo {
        position: relative;
      }
      .txtBox {
        .ttl {
          margin: 0 0 20px;
          font-size: 36px;
        }
        .txt {
          margin: 0 0 40px;
        }
        .btnMore {
          width: 220px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .photoPanel {
          width: 40%;
        }
        .photo {
          height: 140px;
          img {
            @include cover-image;
          }
        }
        .txtBox {
          width: 55%;
        }
      }
    }
  }
  .sec03 {
    .secBox {
      .photoBox {
        .photo {
          position: relative;
        }
        p {
          margin: 10px 0 0;
          font-size: 13px;
        }
      }
      .txtBox {
        .ttl {
          margin: 0 0 20px;
          font-size: 40px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .photoBox {
          width: 45%;
        }
        .photo {
          height: 300px;
          img {
            @include cover-image;
          }
        }
        .txtBox {
          position: relative;
          width: 50%;
        }
      }
    }
    .listBox {
      margin: 60px 0 0;
      .ul {
        .li {
          padding: 30px;
          border: 1px solid #636363;
          background: #ffffff;
          &:nth-child(1),
          &:nth-child(4) {
            color: #ffffff;
            border: 1px solid #636363;
            background: #161616;
          }
        }
        .ttlBox {
          margin: 0 0 15px;
          .ttl01 {
            display: inline-block;
            margin: 0 10px 0 0;
            font-size: 24px;
            color: #1668af;
          }
          .ttl02 {
            display: inline-block;
            font-size: 40px;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: -20px 0 0;
          .li {
            width: calc((100% / 2) - 10px);
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  .sec04 {
    background: #f4f4f4;
    .topBox {
      margin: 0 0 60px;
      text-align: center;
      .ttl {
        margin: 0 0 20px;
        font-size: 30px;
      }
    }
    .secBoxList {
      .secBox {
        padding: 40px 0;
        border-bottom: 1px solid #000000;
        .ttlBox {
          .ttl01 {
            display: inline-block;
            margin: 0 5px 0 0;
            font-size: 20px;
            color: #1668af;
          }
          .ttl02 {
            display: inline-block;
            font-size: 26px;
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .ttlBox {
            width: 320px;
          }
          .txtBox {
            width: calc(100% - 340px);
          }
        }
      }
    }
  }
  .sec05 {
    .secBox {
      .photoBox {
        .photo {
          position: relative;
        }
        p {
          position: relative;
          margin: 20px 0 0;
          padding: 0 0 0 1em;
          font-size: 13px;
          line-height: 2;
          &::before {
            content: "※";
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .txtBox {
        .ttl {
          margin: 0 0 20px;
          font-size: 40px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .photoBox {
          width: 45%;
        }
        .txtBox {
          position: relative;
          width: 50%;
        }
      }
    }
    .testPanel {
      margin: 40px 0 0;
      padding: 20px 20px 40px;
      color: #ffffff;
      background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/product_sec05_test_bg.png)
        center no-repeat;
      background-size: cover;
      .pageSecTitleBox {
        margin: 0 0 20px;
      }
      .btnMoreWhite {
        width: 220px;
        margin: 0 auto;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	case
///////////////////////////////////////////////////////////*/
.caseMain {
  .section {
    padding: 40px 0 80px;
  }
  .sec01 {
    .secContainer {
      padding: 60px 0;
      background: #f4f4f4;
      + .secContainer {
        margin: 40px 0 0;
      }
    }
    .secPanel {
      .ttlBox {
        margin: 0 0 30px;
        .ttl01 {
          display: inline-block;
          margin: 0 10px 0 0;
          font-size: 24px;
          color: #1668af;
        }
        .ttl02 {
          display: inline-block;
          font-size: 40px;
        }
      }
      .secBox {
        margin: 0 0 40px;
        .photoBox {
          display: flex;
          justify-content: space-between;
          .photo {
            width: 49%;
          }
        }
        .txtBox {
          padding: 20px 0 0;
          .infoBox {
            .dl {
              + .dl {
                margin: 15px 0 0;
              }
              .dt {
                display: inline-block;
                margin: 0 10px 0 0;
                p {
                  display: inline-block;
                  min-width: 80px;
                  padding: 5px 8px;
                  color: #ffffff;
                  text-align: center;
                  line-height: 1;
                  border-radius: 40px;
                  background: #1668af;
                }
              }
              .dd {
                display: inline-block;
                p {
                  display: inline;
                }
                .strong {
                  font-size: 34px;
                  color: #db6e0e;
                }
                .em {
                  font-size: 24px;
                }
              }
            }
          }
          .aside {
            margin: 15px 0 0;
            line-height: 1.7;
            p + p {
              margin: 5px 0 0;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          .photoBox {
            width: 410px;
          }
          .txtBox {
            width: calc(100% - 460px);
          }
        }
      }
      .listBox {
        text-align: center;
        .ul {
          .ttl {
            margin: 0 0 10px;
            font-size: 20px;
          }
          .box {
            padding: 20px;
            border: 1px solid #000000;
            background: #ffffff;
            .chart {
              max-width: 500px;
              margin: 0 auto;
            }
          }
        }
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            justify-content: space-between;
            .li {
              width: 49%;
            }
          }
        }
      }
    }
  }
  .sec02 {
    .galleryPanel {
      margin: 0 0 100px;
      .listBox {
        text-align: center;
        .ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -30px;
          .li {
            width: calc((100% / 3) - 30px);
            margin: 40px 0 0 30px;
          }
          p {
            margin: 10px 0 0;
          }
        }
      }
    }
    .testPanel {
      margin: 40px 0 0;
      padding: 20px 20px 40px;
      color: #ffffff;
      background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/product_sec05_test_bg.png)
        center no-repeat;
      background-size: cover;
      .pageSecTitleBox {
        margin: 0 0 20px;
      }
      .btnMoreWhite {
        width: 220px;
        margin: 0 auto;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
.companyMain {
  .pagingList {
    padding: 60px 20px 0;
    .ul {
      display: flex;
      justify-content: space-between;
      max-width: 380px;
      margin: 0 auto;
    }
  }
  .section {
    padding: 40px 0 80px;
  }
  .secTop {
    .secBox {
      .photoBox {
        .photo {
          position: relative;
        }
        p {
          position: relative;
          margin: 20px 0 0;
          padding: 0 0 0 1em;
          font-size: 13px;
          line-height: 2;
          &::before {
            content: "※";
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .txtBox {
        .ttl {
          margin: 0 0 20px;
          font-size: 40px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .photoBox {
          width: 45%;
        }
        .txtBox {
          position: relative;
          width: 50%;
        }
      }
    }
  }
  .sec01 {
    background: #f4f4f4;
    .secPanel {
      + .secPanel {
        margin: 60px 0 0;
      }
      .pTtl {
        padding: 0 30px 5px;
        font-size: 18px;
        border-bottom: 1px solid #000000;
      }
      .secBox {
        padding: 15px 30px 0;
        .dl {
          .dt {
            margin: 0 0 5px;
            a {
              display: inline-block;
              padding: 0 25px 0 0;
              font-size: 18px;
              color: #1668af;
              background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/company_icon_target.png)
                right center no-repeat;
              background-size: 20px auto;
            }
          }
          .dd {
            a {
              display: inline-block;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          .dl {
            width: 45%;
          }
        }
      }
    }
  }
  .sec02 {
    .infoBox {
      padding: 0 0 60px;
      .dl {
        display: table;
        width: 100%;
        padding: 15px 30px;
        border-bottom: 1px solid #000000;
        > * {
          display: table-cell;
        }
        .dt {
          width: 200px;
          font-size: 18px;
          color: #1668af;
        }
        .dd {
          a {
            display: inline-block;
          }
        }
      }
    }
  }
  .sec03 {
    .topBox {
      margin: 0 0 60px;
      text-align: center;
      .list {
        .ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 600px;
          margin: 0 auto;
          .li {
            width: 50%;
            padding: 15px 10px;
            + .li {
              border-left: 1px solid #000000;
            }
            .logo01 {
              max-width: 150px;
              margin: 0 auto;
            }
            .logo02 {
              max-width: 200px;
              margin: 0 auto;
            }
          }
        }
      }
      p {
        margin: 30px 0 0;
      }
    }
    .secBoxList {
      .secBox {
        .img {
          width: 160px;
        }
        .txtBox {
          padding: 5px 0 0;
          .ttl {
            padding: 0 0 0 10px;
            font-size: 20px;
            line-height: 1.2;
            border-left: 4px solid #db6e0e;
          }
          .txt {
            padding: 10px 0 0 15px;
          }
        }
      }
      @media (min-width: 1025px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -60px 0 0;
        .secBox {
          width: calc((100% / 2) - 30px);
          display: flex;
          justify-content: space-between;
          margin: 60px 0 0;
          .txtBox {
            width: calc(100% - 180px);
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain {
  .topContainer {
    padding: 60px 0;
    text-align: center;
    .btnMore {
      width: 220px;
      margin: 40px auto 0;
    }
  }
  .section {
    padding: 40px 0 80px;
  }
  .sec01 {
    background: #f4f4f4;
    .testPanel {
      max-width: 1000px;
      margin: 0 auto;
      padding: 30px 20px;
      text-align: center;
      border: 1px solid #636363;
      background: #ffffff;
      .ttl {
        margin: 0 0 30px;
        font-size: 30px;
        color: #1668af;
      }
      .btnItems {
        margin: 30px 0 0;
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            justify-content: space-between;
            width: 500px;
            margin: 0 auto;
          }
        }
      }
      .btnMoreDl,
      .btnMoreBlack {
        width: 240px;
      }
    }
  }
  .sec02 {
    .chartPc {
      max-width: 1000px;
      margin: 0 auto;
    }
    .chartSp {
      display: none;
    }
    .txt {
      margin: 60px 0 0;
      text-align: center;
    }
    .btnMoreDl {
      margin: 30px auto 0;
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm input[type="tel"] {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #636363;
    background: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  /*テキストエリア*/
  .contactForm textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #636363;
    background: #ffffff;
    resize: none;
    box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  .contactForm input[type="text"]:focus,
  .contactForm input[type="email"]:focus,
  .contactForm input[type="tel"]:focus,
  .contactForm textarea:focus {
    outline: 0;
    border: 2px solid #90cefd;
  }
  .contactForm button[type="submit"] {
    overflow: hidden;
    position: relative;
    display: block;
    max-width: 200px;
    width: 100%;
    margin: 60px auto 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: url(https://yhb-osaka240815.smooooth.jp/system_panel/uploads/images/btn_more_arrow_white.png)
      right 15px center no-repeat #1668af;
    background-size: 6px auto;
    transition: 0.6s;
  }
  .contactForm button[type="submit"][disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .contactForm .form {
    .checkList {
      .ul {
        + .ul {
          margin: 10px 0 0;
        }
        .li {
          + .li {
            margin: 10px 0 0;
          }
        }
      }
    }
    .checkList01 {
      .ul {
        .li {
          display: inline-block;
          + .li {
            margin: 0 0 0 10px;
          }
        }
      }
      .checkItem {
        display: inline-block;
        padding: 0 5px 0 0;
        + input {
          display: inline-block;
          width: 150px;
        }
      }
      .otherTxt {
        display: inline-block;
      }
    }
    .checkItem {
      + .checkItem {
        margin-top: 10px;
      }
      > label {
        position: relative;
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
      }
      span {
        display: block;
        padding-left: 20px;
        position: relative;
      }
      span::before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #636363;
        background: #ffffff;
      }
      input:checked + span::after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid #636363;
        border-right: 3px solid #636363;
      }
      &.agreeCheck {
        > label {
          display: inline-block;
        }
      }
    }

    .radioList01 {
      .list {
        display: inline-block;
        margin: 0 20px 0 0;
      }
      .otherTxt {
        display: inline-block;
      }
    }

    .radioBox {
      .radio {
        position: relative;
        display: inline-block;
      }

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }

      label {
        position: relative;
        padding: 5px 0 5px 35px;
      }

      label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
        border: 1px solid #636363;
        background: #ffffff;
        box-sizing: border-box;
      }

      input[type="radio"]:checked + label:before {
        border: 8px solid #636363;
      }
    }

    .postalBox {
      margin: 0 0 20px;
      input {
        width: 90px;
      }

      input + .span {
        display: inline-block;
        margin: 0 5px;
      }

      .postalTxt {
        display: inline-block;
        margin: 0 5px;
      }
    }

    .selectBox {
      display: inline-block;
      width: 200px;
      select {
        display: block;
        width: 100%;
        padding: 11px 20px;
        font-size: 16px;
        color: #000000;
        line-height: 1.5em;
        border-radius: 0;
        border: 1px #ffffff;
        background-size: 10px auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      + .span {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  .contactForm {
    padding: 40px 0 0;
    text-align: left;
    .formBox {
      border-top: 1px dashed #d9e6ef;
      + .formBox {
        margin-top: 60px;
      }

      > .dl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0 10px 20px;
        border-bottom: 1px solid#636363;

        &.line {
          align-items: flex-start;
          > .dt {
            padding: 20px 0 0;
          }
        }

        > .dt {
          display: flex;
          justify-content: space-between;
          width: 310px;
          padding: 15px 0 10px;

          .span {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
          }

          .em {
            display: inline-block;
            padding: 2px 8px;
            font-size: 14px;
            color: #ffffff;
            vertical-align: middle;
            border-radius: 25px;
            background: #db6e0e;
          }

          .small {
            font-size: 12px;
          }

          .aside {
            margin-top: 10px;

            p {
              font-size: 14px;
              padding-left: 1em;
              text-indent: -1em;
            }
          }
        }

        > .dd {
          width: calc(100% - 330px);
          padding: 5px 0;
        }
      }

      .addressBox,
      .dateBox {
        .dl {
          display: table;
          width: 100%;

          + .dl {
            margin-top: 10px;
          }

          .dt {
            display: table-cell;
            width: 60px;
            vertical-align: middle;
          }

          .dd {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .ageInput {
        input {
          display: inline-block;
          width: 120px;
          margin: 0 5px 0 0;
        }
        > p {
          display: inline-block;
        }
      }
      .meetingBox {
        margin: 0 0 20px;
        .radioList {
          display: inline-block;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .dateBox {
        + .dateBox {
          margin: 10px 0 0;
        }
        + .txt {
          margin: 10px 0 0;
        }
        input[type="text"] {
          width: 90px;
        }

        .em {
          display: inline-block;
        }

        .span {
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
        }
        .radioList {
          display: inline-block;
          margin: 0 0 0 40px;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .caution {
        margin-top: 10px;
        color: #d20000;
        line-height: 2;
      }
      .telBox {
        padding: 10px 10px 40px;
        font-size: 0;
        font-weight: 400;
        text-align: left;
        line-height: 2;
        > * {
          display: inline-block;
          font-size: 14px;
        }
      }
      .telTxt {
        padding: 10px 10px 0;
      }
      .privacy {
        margin: 30px auto 0;
        text-align: center;

        > p {
          margin: 0 0 20px;
          text-align: left;
        }

        .agreeBox {
          overflow: scroll;
          height: 500px;
          padding: 20px;
          text-align: left;
          border: 1px solid #636363;
          background: #ffffff;
          .box {
            + .box {
              margin: 30px 0 0;
            }
            .link {
              a {
                display: inline-block;
              }
            }
          }
          p {
            line-height: 2;
          }
          .tel {
            p,
            a {
              display: inline-block;
            }
          }
        }
      }

      .privacy + .checkItem {
        margin: 40px 0;
        text-align: center;
      }
    }
    .fileUploadBox {
      .ttl {
        margin: 0 0 10px;
        line-height: 2;
      }
      .fileBox {
      }
      .fileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;

        + .fileArea {
          margin: 10px 0 0;
        }

        .inputFile {
          position: relative;
          width: 28%;
          font-size: 16px;
          text-align: center;
          border: 1px solid #636363;
          background: #ffffff;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          p {
            padding: 12px 10px;
          }
        }

        > p,
        .fileTxt {
          width: 70%;
        }
        .fileTxt {
          p {
            display: inline-block;
          }
          .fileName {
            margin: 0 10px 0 0;
          }
          .attention {
            font-size: 13px;
            color: #222222;
          }
        }
      }
      .txt {
        line-height: 2;
      }
    }
    .aside {
      margin: 10px 0 0;
    }
    .fileUploadTitleBox {
      margin: 60px 0 30px;
      .fileUploadTitle {
        position: relative;
        max-width: 440px;
        margin: 0 0 20px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto;
          background: #000000;
        }
        p {
          position: relative;
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 30px;
          font-weight: bold;
          background: #ffffff;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 100px 0;
  .txt {
    margin: 0 0 40px;
    text-align: center;
    line-height: 3;
  }
  .btnMore {
    margin: 0 auto;
  }
}
