@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain .topKvPanel .topKv {
  position: relative;
  height: 800px;
}
.topMain .topKvPanel .kvBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.topMain .topKvPanel .kvBox > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topMain .topKvPanel .kvBox .kv01 {
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/top_kv_01.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .kvBox .kv02 {
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/top_kv_02.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .kvBox .kv03 {
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/top_kv_03.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .kvTtl {
  position: absolute;
  left: 5%;
  bottom: 100px;
  color: #ffffff;
  z-index: 1;
  letter-spacing: 0.15em;
}
.topMain .topKvPanel .kvTtl h1 {
  margin: 0 0 20px;
  font-size: 50px;
}
.topMain .topKvPanel .kvTtl h1 + p {
  font-size: 20px;
  line-height: 1.7;
}
.topMain .topHeadLinePanel {
  padding: 40px 0;
}
.topMain .topHeadLinePanel .webgene-blog .webgene-header {
  display: none;
}
.topMain .topHeadLinePanel .webgene-blog .webgene-item {
  padding: 10px 40px 10px 0;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/btn_more.png) right center no-repeat;
  background-size: 25px auto;
}
.topMain .topHeadLinePanel .webgene-blog .webgene-item .dl .dt {
  display: inline-block;
  margin: 0 20px 0 0;
}
.topMain .topHeadLinePanel .webgene-blog .webgene-item .dl .dt .time {
  display: inline-block;
  margin: 0 15px 0 0;
}
.topMain .topHeadLinePanel .webgene-blog .webgene-item .dl .dt .cate {
  display: inline-block;
  min-width: 90px;
  padding: 0 5px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: #c19112;
}
.topMain .topHeadLinePanel .webgene-blog .webgene-item .dl .dd {
  display: inline-block;
}
.topMain .topHeadLinePanel .webgene-blog .webgene-item .dl .dd a {
  display: inline-block;
}
.topMain .sec01 {
  color: #ffffff;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/top_sec01_bg.png) center no-repeat;
  background-size: cover;
}
.topMain .sec01 .secBox {
  position: relative;
  padding: 150px 0;
}
.topMain .sec01 .secBox .leftBox .pageSecTtlBox {
  text-align: left;
}
.topMain .sec01 .secBox .leftBox .pageSecTtlBox p {
  color: #f3e068;
}
.topMain .sec01 .secBox .rightBox .txt p + p {
  margin: 30px 0 0;
}
.topMain .sec01 .secBox .rightBox .toStr {
  margin: 40px 0 0;
}
.topMain .sec01 .secBox .rightBox .toStr a {
  display: inline-block;
  padding: 5px 0 5px 40px;
  color: #ffffff;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/btn_more_white.png) left center no-repeat;
  background-size: 25px auto;
}
.topMain .sec01 .secBox .imgBox {
  width: 240px;
}
@media (min-width: 1025px) {
  .topMain .sec01 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .sec01 .secBox .leftBox {
    width: 320px;
  }
  .topMain .sec01 .secBox .rightBox {
    width: 600px;
  }
  .topMain .sec01 .secBox .imgBox {
    position: absolute;
    left: 15%;
    bottom: -20px;
  }
}
.topMain .sec02,
.topMain .sec04 {
  padding: 150px 0;
}
.topMain .sec02 .topTxt,
.topMain .sec04 .topTxt {
  margin: 30px 0 50px;
  text-align: center;
}
.topMain .sec02 .listBox,
.topMain .sec04 .listBox {
  max-width: 1080px;
  margin: 0 auto;
}
.topMain .sec02 .listBox .ul .li,
.topMain .sec04 .listBox .ul .li {
  position: relative;
}
.topMain .sec02 .listBox .ul .case,
.topMain .sec04 .listBox .ul .case {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  padding: 2px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  background: #c19112;
}
.topMain .sec02 .listBox .ul a,
.topMain .sec04 .listBox .ul a {
  display: block;
}
.topMain .sec02 .listBox .ul .title,
.topMain .sec04 .listBox .ul .title {
  position: relative;
  margin: 20px 0 0;
}
.topMain .sec02 .listBox .ul .title::before,
.topMain .sec04 .listBox .ul .title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #a0a0a0;
}
.topMain .sec02 .listBox .ul .title p,
.topMain .sec04 .listBox .ul .title p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  background: #ffffff;
}
.topMain .sec02 .listBox .ul .iconBox .icon,
.topMain .sec04 .listBox .ul .iconBox .icon {
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  .topMain .sec02 .listBox .ul,
.topMain .sec04 .listBox .ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -60px 0 0;
  }
  .topMain .sec02 .listBox .ul .li,
.topMain .sec04 .listBox .ul .li {
    width: calc(33.3333333333% - 30px);
    margin: 60px 0 0;
  }
  .topMain .sec02 .listBox .ul .photo,
.topMain .sec04 .listBox .ul .photo {
    overflow: hidden;
    position: relative;
    height: 250px;
  }
  .topMain .sec02 .listBox .ul .photo img,
.topMain .sec04 .listBox .ul .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .topMain .sec02 .listBox .ul .iconBox,
.topMain .sec04 .listBox .ul .iconBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
}
.topMain .sec02 .btnMore,
.topMain .sec04 .btnMore {
  margin: 60px auto 0;
}
.topMain .sec03 {
  padding: 100px 0;
  background: #f7f2dc;
}
.topMain .sec03 .secBox {
  margin: 50px 0 0;
}
.topMain .sec03 .secBox .txtBox {
  padding: 40px 50px;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/top_sec03_tri.png) right top no-repeat #ffffff;
  background-size: 40px auto;
}
.topMain .sec03 .secBox .txtBox .btnMore {
  margin: 20px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec03 .secBox {
    display: flex;
    align-items: center;
  }
  .topMain .sec03 .secBox .photoBox {
    width: 50%;
  }
  .topMain .sec03 .secBox .photoBox .photo {
    width: 660px;
  }
  .topMain .sec03 .secBox .topTxt {
    width: 50%;
  }
}
.topMain .sec05 {
  background: #f7f2dc;
}
.topMain .sec05 .secBox {
  position: relative;
  padding: 150px 0;
}
.topMain .sec05 .secBox .leftBox .pageSecTtlBox {
  text-align: left;
}
.topMain .sec05 .secBox .leftBox .btnMore {
  margin: 40px 0 0;
}
.topMain .sec05 .secBox .rightBox .webgene-blog .webgene-header {
  display: none;
}
.topMain .sec05 .secBox .rightBox .webgene-blog .webgene-item {
  padding: 30px 120px 30px 50px;
  border-bottom: 1px solid #000000;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/btn_more.png) right 80px center no-repeat;
  background-size: 25px auto;
}
.topMain .sec05 .secBox .rightBox .webgene-blog .webgene-item .dl .dt {
  display: inline-block;
  margin: 0 20px 0 0;
}
.topMain .sec05 .secBox .rightBox .webgene-blog .webgene-item .dl .dt .time {
  display: inline-block;
  margin: 0 15px 0 0;
}
.topMain .sec05 .secBox .rightBox .webgene-blog .webgene-item .dl .dt .cate {
  display: inline-block;
  min-width: 90px;
  padding: 0 5px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: #c19112;
}
.topMain .sec05 .secBox .rightBox .webgene-blog .webgene-item .dl .dd {
  display: inline-block;
}
.topMain .sec05 .secBox .rightBox .webgene-blog .webgene-item .dl .dd a {
  display: inline-block;
}
.topMain .sec05 .secBox .imgBox {
  width: 240px;
}
@media (min-width: 1025px) {
  .topMain .sec05 .secBox {
    display: flex;
    justify-content: space-between;
  }
  .topMain .sec05 .secBox .leftBox {
    padding: 20px 0 0;
    width: 200px;
  }
  .topMain .sec05 .secBox .rightBox {
    width: 820px;
  }
  .topMain .sec05 .secBox .imgBox {
    position: absolute;
    left: 20px;
    bottom: -20px;
  }
}
.topMain .sec06 {
  margin: 200px 0;
}
.topMain .sec06 .secPanel {
  padding: 80px 60px;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/top_sec06_img.png) center no-repeat;
  background-size: cover;
}
.topMain .sec06 .secBox {
  max-width: 600px;
  padding: 40px 60px;
  color: #ffffff;
  background: #1c4979;
}
.topMain .sec06 .secBox .pageSecTtlBox {
  margin: 0 0 30px;
  text-align: left;
}
.topMain .sec06 .secBox .pageSecTtlBox p {
  color: #f3e068;
}
.topMain .sec06 .secBox .pageSecTtlBox .pageSecTtl {
  font-size: 34px;
}
.topMain .sec07 {
  padding: 0 0 250px;
}
.topMain .sec07 .secBox .txtBox .pageSecTtlBox {
  margin: 0 0 40px;
  text-align: left;
}
.topMain .sec07 .secBox .txtBox .txt {
  margin: 0 0 30px;
}
.topMain .sec07 .secBox .txtBox .btnList {
  max-width: 380px;
}
.topMain .sec07 .secBox .txtBox .btnList .ul .li {
  border-bottom: 1px solid #000000;
}
.topMain .sec07 .secBox .txtBox .btnList .ul .li a {
  display: block;
  padding: 30px 10px 30px 40px;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/btn_more.png) right 20px center no-repeat;
  background-size: 25px auto;
}
@media (min-width: 1025px) {
  .topMain .sec07 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .sec07 .secBox .photo {
    order: 2;
    width: 45%;
    overflow: hidden;
    position: relative;
    height: 380px;
  }
  .topMain .sec07 .secBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .topMain .sec07 .secBox .txtBox {
    order: 1;
    width: 48%;
  }
}

/*////////////////////////////////////////////////////////////
	strength
///////////////////////////////////////////////////////////*/
.strengthMain {
  position: relative;
}
.strengthMain .topContainer {
  color: #ffffff;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/strength_top_bg.png) center no-repeat;
  background-size: cover;
}
.strengthMain .topContainer .secBox {
  position: relative;
  padding: 150px 0;
}
.strengthMain .topContainer .secBox .leftBox .ttl {
  font-size: 40px;
  text-align: center;
}
.strengthMain .topContainer .secBox .rightBox .txt p + p {
  margin: 30px 0 0;
}
.strengthMain .topContainer .secBox .imgBox {
  width: 240px;
}
@media (min-width: 1025px) {
  .strengthMain .topContainer .secBox {
    display: flex;
    justify-content: space-between;
  }
  .strengthMain .topContainer .secBox .leftBox {
    width: 50%;
    padding: 30px 0 0;
  }
  .strengthMain .topContainer .secBox .rightBox {
    width: 50%;
  }
  .strengthMain .topContainer .secBox .imgBox {
    position: absolute;
    left: 25%;
    bottom: -40px;
  }
}
.strengthMain .pageSecTtlBox {
  margin: 0 0 60px;
}
.strengthMain .sec01 {
  background: #f7f2dc;
}
.strengthMain .sec01 .secWrap01 {
  position: relative;
  padding: 150px 10px 250px;
}
.strengthMain .sec01 .secContainer + .secContainer {
  margin: 80px 0 0;
}
.strengthMain .sec01 .panelTtlBox {
  position: relative;
  margin: 0 0 30px;
}
.strengthMain .sec01 .panelTtlBox::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 100%;
  height: 1px;
  background: #a0a0a0;
}
.strengthMain .sec01 .panelTtlBox .panelTtl {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 480px;
  padding: 0 30px 0 0;
  background: #f7f2dc;
}
.strengthMain .sec01 .panelTtlBox .panelTtl .ttl01 {
  width: 200px;
  margin: 0 30px 0 0;
  padding: 2px 5px;
  color: #ffffff;
  text-align: center;
  background: #1c4979;
}
.strengthMain .sec01 .secPanel {
  background: #ffffff;
}
.strengthMain .sec01 .topBox .txtBox {
  padding: 40px 30px;
}
.strengthMain .sec01 .topBox .txtBox .txt p + p {
  margin: 20px 0 0;
}
.strengthMain .sec01 .topBox .txtBox .btnMoreBox {
  margin: 60px 0 0;
}
.strengthMain .sec01 .topBox .txtBox .btnMoreList {
  margin: 60px 0 0;
}
@media (min-width: 1025px) {
  .strengthMain .sec01 .topBox {
    display: flex;
    justify-content: space-between;
  }
  .strengthMain .sec01 .topBox .photo {
    position: relative;
    width: 45%;
    height: 370px;
  }
  .strengthMain .sec01 .topBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .strengthMain .sec01 .topBox .txtBox {
    width: 54%;
  }
  .strengthMain .sec01 .topBox .txtBox .btnMoreList .btnMore {
    display: inline-block;
  }
  .strengthMain .sec01 .topBox .txtBox .btnMoreList .btnMore + .btnMore {
    margin: 0 0 0 60px;
  }
}
.strengthMain .sec01 .consult {
  margin: 20px 0 0;
  padding: 20px 30px;
  border-radius: 6px;
  border: 1px dashed #000000;
}
.strengthMain .sec01 .consult .dl .dt {
  margin: 0 0 10px;
  font-size: 22px;
  color: #1c4979;
  letter-spacing: 0.1em;
}
.strengthMain .sec01 .consult .dl .dd {
  line-height: 2;
}
.strengthMain .sec01 .worksBox {
  padding: 50px 10px;
}
.strengthMain .sec01 .worksBox .ttl {
  margin: 0 0 25px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1em;
}
.strengthMain .sec01 .worksBox .listBox {
  max-width: 1080px;
  margin: 0 auto;
}
.strengthMain .sec01 .worksBox .listBox .ul .li {
  position: relative;
}
.strengthMain .sec01 .worksBox .listBox .ul .case {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  padding: 2px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  background: #c19112;
}
.strengthMain .sec01 .worksBox .listBox .ul a {
  display: block;
}
.strengthMain .sec01 .worksBox .listBox .ul .title {
  position: relative;
  margin: 10px 0 0;
}
.strengthMain .sec01 .worksBox .listBox .ul .title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #a0a0a0;
}
.strengthMain .sec01 .worksBox .listBox .ul .title p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-weight: bold;
  line-height: 1;
  background: #ffffff;
}
@media (min-width: 1025px) {
  .strengthMain .sec01 .worksBox .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .strengthMain .sec01 .worksBox .listBox .ul .li {
    width: calc(25% - 10px);
  }
  .strengthMain .sec01 .worksBox .listBox .ul .photo {
    overflow: hidden;
    position: relative;
    height: 200px;
  }
  .strengthMain .sec01 .worksBox .listBox .ul .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.strengthMain .sec01 .worksBox .btnMore {
  margin: 40px auto 0;
}
.strengthMain .sec01 .flowBox {
  padding: 50px 0;
}
.strengthMain .sec01 .flowBox .ttl {
  margin: 0 0 25px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1em;
}
.strengthMain .sec01 .flowBox .flowList {
  max-width: 1000px;
  margin: 0 auto;
}
.strengthMain .sec01 .flowBox .flowList .ul {
  position: relative;
}
.strengthMain .sec01 .flowBox .flowList .ul .li {
  position: relative;
  padding: 15px;
  color: #ffffff;
  background: #1c4979;
}
@media (min-width: 1025px) {
  .strengthMain .sec01 .flowBox .flowList .ul {
    display: flex;
    justify-content: space-between;
  }
  .strengthMain .sec01 .flowBox .flowList .ul::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    background: #1c4979;
  }
  .strengthMain .sec01 .flowBox .flowList .ul .li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(11.1111111111% - 55px);
    height: 200px;
    writing-mode: vertical-lr;
  }
  .strengthMain .sec01 .flowBox .flowList .ul .li p {
    padding: 20px 0 0;
  }
}
.strengthMain .btmImg {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 240px;
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
.serviceMain .topContainer {
  position: relative;
  color: #ffffff;
  z-index: 1;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/service_top_bg.png) center no-repeat;
  background-size: cover;
}
.serviceMain .topContainer .secBox {
  position: relative;
  padding: 150px 0;
}
.serviceMain .topContainer .secBox .leftBox .ttl {
  font-size: 40px;
  text-align: center;
}
.serviceMain .topContainer .secBox .rightBox .txt p + p {
  margin: 30px 0 0;
}
.serviceMain .topContainer .secBox .imgBox {
  max-width: 400px;
}
@media (min-width: 1025px) {
  .serviceMain .topContainer .secBox {
    display: flex;
    justify-content: space-between;
  }
  .serviceMain .topContainer .secBox .leftBox {
    width: 60%;
    padding: 30px 0 0;
  }
  .serviceMain .topContainer .secBox .rightBox {
    width: 35%;
  }
  .serviceMain .topContainer .secBox .imgBox {
    position: absolute;
    left: 20%;
    bottom: -20px;
    width: 100%;
  }
}
.serviceMain .pageSecTtlBox {
  margin: 0 0 60px;
}
.serviceMain .sec01 {
  position: relative;
  background: #f7f2dc;
}
.serviceMain .sec01 .secWrap {
  padding: 150px 0 250px;
}
.serviceMain .sec01 .secContainer + .secContainer {
  margin: 80px 0 0;
}
.serviceMain .sec01 .secPanel {
  background: #ffffff;
}
.serviceMain .sec01 .topBox .txtBox {
  padding: 40px 30px;
}
.serviceMain .sec01 .topBox .txtBox .txtTtl {
  margin: 0 0 20px;
  font-size: 22px;
  color: #1c4979;
}
.serviceMain .sec01 .topBox .txtBox .txt p + p {
  margin: 20px 0 0;
}
@media (min-width: 1025px) {
  .serviceMain .sec01 .topBox {
    display: flex;
    justify-content: space-between;
  }
  .serviceMain .sec01 .topBox .photo {
    position: relative;
    width: 45%;
    height: 370px;
  }
  .serviceMain .sec01 .topBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .serviceMain .sec01 .topBox .txtBox {
    width: 54%;
  }
  .serviceMain .sec01 .topBox .txtBox .btnMoreList .btnMore {
    display: inline-block;
  }
  .serviceMain .sec01 .topBox .txtBox .btnMoreList .btnMore + .btnMore {
    margin: 0 0 0 60px;
  }
}
.serviceMain .sec01 .introBox {
  padding: 50px;
}
.serviceMain .sec01 .introBox .dl {
  display: flex;
}
.serviceMain .sec01 .introBox .dl + .dl {
  margin: 25px 0 0;
}
.serviceMain .sec01 .introBox .dl .dt {
  width: 240px;
  padding: 0 0 0 15px;
  font-size: 22px;
  color: #1c4979;
  line-height: 1;
  border-left: 4px solid #1c4979;
}
.serviceMain .sec01 .introBox .dl .dd {
  width: calc(100% - 240px);
}
.serviceMain .sec01 .introBox01 .dl .dt {
  width: 180px;
}
.serviceMain .sec01 .introBox01 .dl .dd {
  width: calc(100% - 180px);
}
.serviceMain .sec01 .introBox02 .dl .dt {
  width: 240px;
}
.serviceMain .sec01 .introBox02 .dl .dd {
  width: calc(100% - 240px);
}
.serviceMain .sec01 .worksBox {
  padding: 50px 10px;
}
.serviceMain .sec01 .worksBox .ttl {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1em;
}
.serviceMain .sec01 .worksBox .txt {
  margin: 0 0 40px;
  text-align: center;
}
.serviceMain .sec01 .worksBox .listBox {
  max-width: 1080px;
  margin: 0 auto;
}
.serviceMain .sec01 .worksBox .listBox .ul .li {
  position: relative;
}
.serviceMain .sec01 .worksBox .listBox .ul .case {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  padding: 2px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  background: #c19112;
}
.serviceMain .sec01 .worksBox .listBox .ul a {
  display: block;
}
.serviceMain .sec01 .worksBox .listBox .ul .title {
  position: relative;
  margin: 10px 0 0;
}
.serviceMain .sec01 .worksBox .listBox .ul .title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #a0a0a0;
}
.serviceMain .sec01 .worksBox .listBox .ul .title p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-weight: bold;
  line-height: 1;
  background: #ffffff;
}
@media (min-width: 1025px) {
  .serviceMain .sec01 .worksBox .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .serviceMain .sec01 .worksBox .listBox .ul .li {
    width: calc(25% - 10px);
  }
  .serviceMain .sec01 .worksBox .listBox .ul .photo {
    overflow: hidden;
    position: relative;
    height: 200px;
  }
  .serviceMain .sec01 .worksBox .listBox .ul .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.serviceMain .sec01 .imgBox {
  position: absolute;
  right: 5%;
  bottom: -50px;
  width: 340px;
}
.serviceMain .sec02 {
  padding: 150px 0;
}
.serviceMain .sec02 .pageSecTtlBox {
  margin: 0 0 30px;
}
.serviceMain .sec02 .topTxt {
  margin: 0 0 60px;
  text-align: center;
}
.serviceMain .sec02 .infoBox {
  max-width: 1000px;
  margin: 0 auto;
}
.serviceMain .sec02 .infoBox .dl {
  display: table;
  width: 100%;
}
.serviceMain .sec02 .infoBox .dl + .dl {
  border-top: 1px solid #ffffff;
}
.serviceMain .sec02 .infoBox .dl > * {
  display: table-cell;
}
.serviceMain .sec02 .infoBox .dl .dt {
  width: 280px;
  padding: 15px 10px;
  color: #ffffff;
  text-align: center;
  border-right: 1px solid #ffffff;
  background: #1c4979;
}
.serviceMain .sec02 .infoBox .dl .dd {
  padding: 15px 40px;
  background: #f7f2dc;
}
.serviceMain .sec03 {
  padding: 150px 0;
  background: #f7f2dc;
}
.serviceMain .sec03 .pageSecTtlBox {
  margin: 0 0 10px;
}
.serviceMain .sec03 .secBox .photoBox .map {
  max-width: 180px;
}
.serviceMain .sec03 .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  .serviceMain .sec03 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .serviceMain .sec03 .secBox .photoBox {
    width: 25%;
  }
  .serviceMain .sec03 .secBox .txtBox {
    width: 75%;
  }
}

/*////////////////////////////////////////////////////////////
	cases
///////////////////////////////////////////////////////////*/
.casesMain .topContainer {
  color: #ffffff;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/cases_top_bg.png) center no-repeat;
  background-size: cover;
}
.casesMain .topContainer .secBox {
  position: relative;
  padding: 150px 0 200px;
}
.casesMain .topContainer .secBox .leftBox .ttl {
  font-size: 40px;
}
.casesMain .topContainer .secBox .rightBox .txt p + p {
  margin: 30px 0 0;
}
.casesMain .topContainer .secBox .imgBox {
  width: 220px;
}
@media (min-width: 1025px) {
  .casesMain .topContainer .secBox {
    display: flex;
    justify-content: space-between;
  }
  .casesMain .topContainer .secBox .leftBox {
    width: 50%;
    padding: 30px 0 0;
  }
  .casesMain .topContainer .secBox .rightBox {
    width: 50%;
  }
  .casesMain .topContainer .secBox .imgBox {
    position: absolute;
    left: 25%;
    bottom: -40px;
  }
}
.casesMain .pageSecTtlBox {
  margin: 0 0 60px;
}
.casesMain .sec01 {
  padding: 150px 0;
  background: #f7f2dc;
}
.casesMain .sec01 .secContainer + .secContainer {
  margin: 60px 0 0;
}
.casesMain .sec01 .ttlCase {
  width: 160px;
  padding: 2px 5px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1em;
  background: #1c4979;
}
.casesMain .sec01 .list .ul .li {
  position: relative;
  padding: 0 0 0 1.2em;
  line-height: 2;
}
.casesMain .sec01 .list .ul .li .span {
  position: absolute;
  top: 0;
  left: 0;
}
.casesMain .sec01 .secPanel {
  padding: 40px 50px;
  background: #ffffff;
}
.casesMain .sec01 .subTtl {
  display: inline-block;
  margin: 0 0 15px;
  padding: 2px 15px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background: #c19112;
}
.casesMain .sec01 .topBox .txtBox {
  padding: 30px;
}
.casesMain .sec01 .topBox .txtBox .txtTtl {
  margin: 0 0 20px;
  font-size: 22px;
  color: #1c4979;
}
.casesMain .sec01 .topBox .txtBox .txt p + p {
  margin: 20px 0 0;
}
@media (min-width: 1025px) {
  .casesMain .sec01 .topBox {
    display: flex;
    justify-content: space-between;
  }
  .casesMain .sec01 .topBox .photo {
    position: relative;
    width: 45%;
    height: 320px;
  }
  .casesMain .sec01 .topBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .casesMain .sec01 .topBox .txtBox {
    width: 54%;
  }
  .casesMain .sec01 .topBox .txtBox .btnMoreList .btnMore {
    display: inline-block;
  }
  .casesMain .sec01 .topBox .txtBox .btnMoreList .btnMore + .btnMore {
    margin: 0 0 0 60px;
  }
}
.casesMain .sec01 .secBox {
  margin: 50px 0 0;
}

/*////////////////////////////////////////////////////////////
	works
///////////////////////////////////////////////////////////*/
.worksMain .topContainer {
  color: #ffffff;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/cases_top_bg.png) center no-repeat;
  background-size: cover;
}
.worksMain .topContainer .secBox {
  position: relative;
  padding: 150px 0 200px;
}
.worksMain .topContainer .secBox .leftBox .ttl {
  font-size: 40px;
}
.worksMain .topContainer .secBox .rightBox .txt p + p {
  margin: 30px 0 0;
}
.worksMain .topContainer .secBox .imgBox {
  width: 220px;
}
@media (min-width: 1025px) {
  .worksMain .topContainer .secBox {
    display: flex;
    justify-content: space-between;
  }
  .worksMain .topContainer .secBox .leftBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
  .worksMain .topContainer .secBox .rightBox {
    width: 60%;
  }
  .worksMain .topContainer .secBox .imgBox {
    position: absolute;
    left: 15%;
    bottom: -40px;
  }
}
.worksMain .pageSecTtlBox {
  margin: 0 0 60px;
}
.worksMain .sec01 {
  padding: 150px 0;
  background: #f7f2dc;
}
.worksMain .sec01 .clientPanel {
  padding: 50px 40px;
  background: #ffffff;
}
.worksMain .sec01 .clientPanel .ul .li {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #a0a0a0;
}
.worksMain .sec01 .clientPanel .ul .li + .li {
  margin: 10px 0 0;
}
@media (min-width: 1025px) {
  .worksMain .sec01 .clientPanel {
    display: flex;
    justify-content: space-between;
  }
  .worksMain .sec01 .clientPanel > * {
    width: 49%;
  }
  .worksMain .sec01 .clientPanel .ul .line p {
    padding: 0 0 0 145px;
  }
}
.worksMain .sec02 {
  padding: 150px 0;
}
.worksMain .sec02 .topTxt {
  margin: 0 0 60px;
  text-align: center;
}
.worksMain .sec02 .secBox {
  max-width: 740px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/top_sec03_tri.png) right top no-repeat #f7f2dc;
  background-size: 40px auto;
}
.worksMain .sec03 {
  padding: 150px 0 200px;
  background: #f7f2dc;
}
.worksMain .sec03 .worksList > .ul > .li {
  background: #ffffff;
}
.worksMain .sec03 .worksList > .ul .txtBox {
  padding: 20px;
}
.worksMain .sec03 .worksList > .ul .txtBox .ttl {
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 10px;
  font-size: 22px;
  color: #1c4979;
  text-align: center;
}
.worksMain .sec03 .worksList > .ul .txtBox .ttl:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 140px;
  height: 1px;
  margin: 0 auto;
  background: #a0a0a0;
}
.worksMain .sec03 .worksList > .ul .txtBox .subTtl {
  display: inline-block;
  margin: 0 0 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
  background: #c19112;
}
.worksMain .sec03 .worksList > .ul .txtBox .ul .li {
  position: relative;
  padding: 0 0 0 1.2em;
  line-height: 2;
}
.worksMain .sec03 .worksList > .ul .txtBox .ul .li .span {
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 1025px) {
  .worksMain .sec03 .worksList > .ul {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -35px;
  }
  .worksMain .sec03 .worksList > .ul > .li {
    width: calc(33.3333333333% - 35px);
    margin: 40px 0 0 35px;
  }
  .worksMain .sec03 .worksList > .ul .photo {
    position: relative;
    height: 250px;
  }
  .worksMain .sec03 .worksList > .ul .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.worksMain + .footer {
  position: relative;
}
.worksMain + .footer::before {
  content: "";
  position: absolute;
  top: -235px;
  right: 3%;
  width: 400px;
  height: 240px;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/works_sec03_btm_img.png) no-repeat;
  background-size: cover;
}

/*////////////////////////////////////////////////////////////
	flow
///////////////////////////////////////////////////////////*/
.flowMain .pageSecTtlBox {
  margin: 0 0 60px;
}
.flowMain .sec01 {
  padding: 150px 0 250px;
}
.flowMain .sec01 .secBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 0 60px;
}
.flowMain .sec01 .secBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 55px;
  width: 1px;
  height: 100%;
  background: #1c4979;
}
.flowMain .sec01 .secBox .numBox {
  position: relative;
  width: 110px;
}
.flowMain .sec01 .secBox .numBox .num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  font-size: 22px;
  color: #ffffff;
  border-radius: 50%;
  background: #1c4979;
}
.flowMain .sec01 .secBox .txtBox {
  width: calc(100% - 110px);
}
.flowMain .sec01 .secBox .txtBox .inner {
  max-width: 1000px;
}
.flowMain .sec01 .secBox .txtBox .ttl {
  margin: 0 0 15px;
  padding: 10px 0;
  font-size: 22px;
  color: #1c4979;
  border-bottom: 1px solid #a0a0a0;
}
.flowMain .sec01 .secBox:last-child::before {
  display: none;
}
.flowMain + .footer {
  position: relative;
}
.flowMain + .footer::before {
  content: "";
  position: absolute;
  top: -260px;
  right: 5%;
  width: 275px;
  height: 279px;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/flow_btm_img.png) no-repeat;
  background-size: cover;
}

/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
.recruitMain .topContainer {
  padding: 120px 0;
}
.recruitMain .topContainer .secBox {
  max-width: 740px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/recruit_box_tri.png) right top no-repeat #f7f2dc;
  background-size: 40px auto;
}
.recruitMain .topContainer .secBox .ttl p {
  display: inline-block;
  font-size: 16px;
  line-height: 1.7;
}
.recruitMain .topContainer .secBox .ttl .em {
  padding: 0 5px;
  font-size: 22px;
  background: #f3e068;
}
.recruitMain .pageSecTtlBox {
  margin: 0 0 60px;
}
.recruitMain .sec01 {
  padding: 0 0 150px;
}
.recruitMain .sec01 .secPanel .txtBox .box {
  padding: 40px;
  max-width: 700px;
  color: #ffffff;
  background: #1c4979;
}
.recruitMain .sec01 .secPanel .txtBox .ttl {
  margin: 0 0 30px;
  font-size: 34px;
}
.recruitMain .sec01 .secPanel .txtBox .name {
  margin: 30px 0 0;
  text-align: right;
}
.recruitMain .sec01 .secPanel .txtBox .name p {
  display: inline-block;
}
.recruitMain .sec01 .secPanel .txtBox .name .em {
  font-size: 24px;
}
@media (min-width: 1025px) {
  .recruitMain .sec01 .secPanel {
    display: flex;
    align-items: flex-end;
  }
  .recruitMain .sec01 .secPanel .photo {
    width: 45%;
  }
  .recruitMain .sec01 .secPanel .photo img {
    width: 1000px;
  }
  .recruitMain .sec01 .secPanel .txtBox {
    width: 55%;
  }
}
.recruitMain .sec02 {
  padding: 120px 0;
  background: #f7f2dc;
}
.recruitMain .sec02 .secPanel {
  padding: 50px 20px;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/recruit_box_tri.png) right top no-repeat #ffffff;
  background-size: 40px auto;
}
.recruitMain .sec02 .secBox {
  max-width: 1080px;
  margin: 0 auto;
}
.recruitMain .sec02 .secBox .txtBox .title {
  margin: 0 0 15px;
  padding: 0 0 10px;
  font-size: 22px;
  color: #1c4979;
  border-bottom: 1px solid #a0a0a0;
}
.recruitMain .sec02 .secBox .txtBox .title + .txt {
  margin: 0 0 30px;
}
.recruitMain .sec02 .secBox .txtBox .subTtl {
  display: inline-block;
  margin: 0 0 10px;
  padding: 2px 10px;
  color: #ffffff;
  text-align: center;
  background: #c19112;
}
@media (min-width: 1025px) {
  .recruitMain .sec02 .secBox {
    display: flex;
    justify-content: space-between;
  }
  .recruitMain .sec02 .secBox .photo {
    width: 45%;
  }
  .recruitMain .sec02 .secBox .txtBox {
    width: 50%;
  }
  .recruitMain .sec02 .secBox .txtBox .list .txt {
    display: inline-block;
    margin: 0 40px 0 0;
    vertical-align: top;
  }
}
.recruitMain .sec03 {
  padding: 120px 0;
}
.recruitMain .sec03 .secContainer + .secContainer {
  margin: 60px 0 0;
}
.recruitMain .sec03 .ttlCase {
  width: 160px;
  padding: 2px 5px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1em;
  background: #1c4979;
}
.recruitMain .sec03 .secPanel {
  padding: 25px;
  background: #f7f2dc;
}
.recruitMain .sec03 .topBox .txtBox {
  padding: 30px;
}
.recruitMain .sec03 .topBox .txtBox .txtTtl {
  max-width: 600px;
  margin: 0 0 20px;
  padding: 0 0 5px;
  font-size: 24px;
  border-bottom: 1px solid #a0a0a0;
}
.recruitMain .sec03 .topBox .txtBox .txt p + p {
  margin: 20px 0 0;
}
@media (min-width: 1025px) {
  .recruitMain .sec03 .topBox {
    display: flex;
    justify-content: space-between;
  }
  .recruitMain .sec03 .topBox .photo {
    position: relative;
    width: 38%;
    height: 320px;
  }
  .recruitMain .sec03 .topBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .recruitMain .sec03 .topBox .txtBox {
    width: 60%;
  }
  .recruitMain .sec03 .topBox .txtBox .btnMoreList .btnMore {
    display: inline-block;
  }
  .recruitMain .sec03 .topBox .txtBox .btnMoreList .btnMore + .btnMore {
    margin: 0 0 0 60px;
  }
}
.recruitMain .sec04 {
  padding: 120px 0;
  background: #f7f2dc;
}
.recruitMain .sec04 .listBox .ul .li {
  text-align: center;
  background: #ffffff;
}
.recruitMain .sec04 .listBox .ul .li .dl .dt {
  padding: 10px;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 0.1em;
  background: #1b4979;
}
.recruitMain .sec04 .listBox .ul .li .dl .dd {
  padding: 20px;
  line-height: 2;
}
.recruitMain .sec04 .listBox .ul .li:nth-child(even) .dl .dt {
  color: #000000;
  background: #fff100;
}
@media (min-width: 1025px) {
  .recruitMain .sec04 .listBox .ul {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -30px;
  }
  .recruitMain .sec04 .listBox .ul .li {
    width: calc(33.3333333333% - 30px);
    margin: 40px 0 0 30px;
  }
}
.recruitMain .sec05 {
  padding: 120px 0;
}
.recruitMain .sec05 .infoBox .dl {
  display: table;
  width: 100%;
}
.recruitMain .sec05 .infoBox .dl + .dl {
  border-top: 1px solid #ffffff;
}
.recruitMain .sec05 .infoBox .dl > * {
  display: table-cell;
  vertical-align: middle;
}
.recruitMain .sec05 .infoBox .dl .dt {
  width: 280px;
  padding: 15px 10px;
  color: #ffffff;
  text-align: center;
  border-right: 1px solid #ffffff;
  background: #1c4979;
}
.recruitMain .sec05 .infoBox .dl .dd {
  padding: 15px 40px;
  background: #f7f2dc;
}
.recruitMain .sec05 .list {
  margin: 50px 0 0;
}
@media (min-width: 1025px) {
  .recruitMain .sec05 .list .ul {
    display: flex;
    justify-content: space-between;
  }
  .recruitMain .sec05 .list .ul .li {
    width: calc(33.3333333333% - 15px);
  }
}
.recruitMain .sec06 {
  padding: 120px 0;
  background: #f7f2dc;
}
.recruitMain .sec06 .topTxt {
  margin: 0 0 60px;
  text-align: center;
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  /*テキストエリア*/
}
.formMain .contactForm input[type=text],
.formMain .contactForm input[type=email],
.formMain .contactForm input[type=tel] {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ffffff;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffffff;
  background: #ffffff;
  resize: none;
  box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
}
.formMain .contactForm input[type=text]:focus,
.formMain .contactForm input[type=email]:focus,
.formMain .contactForm input[type=tel]:focus,
.formMain .contactForm textarea:focus {
  outline: 0;
  border: 2px solid #90cefd;
}
.formMain .contactForm button[type=submit] {
  overflow: hidden;
  position: relative;
  display: block;
  max-width: 140px;
  width: 100%;
  margin: 60px auto 0;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  cursor: pointer;
  border: none;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/btn_more.png) left center no-repeat;
  background-size: 25px auto;
  transition: 0.6s;
}
.formMain .contactForm button[type=submit][disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
.formMain .contactForm .form .checkList .ul + .ul {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList .ul .li + .li {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList01 .ul .li {
  display: inline-block;
}
.formMain .contactForm .form .checkList01 .ul .li + .li {
  margin: 0 0 0 10px;
}
.formMain .contactForm .form .checkList01 .checkItem {
  display: inline-block;
  padding: 0 5px 0 0;
}
.formMain .contactForm .form .checkList01 .checkItem + input {
  display: inline-block;
  width: 150px;
}
.formMain .contactForm .form .checkList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .checkItem + .checkItem {
  margin-top: 10px;
}
.formMain .contactForm .form .checkItem > label {
  position: relative;
  display: block;
}
.formMain .contactForm .form .checkItem input {
  position: absolute;
  opacity: 0;
}
.formMain .contactForm .form .checkItem span {
  display: block;
  padding-left: 20px;
  position: relative;
}
.formMain .contactForm .form .checkItem span::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #e3e1d3;
  background: #ffffff;
}
.formMain .contactForm .form .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #000000;
  border-right: 3px solid #000000;
}
.formMain .contactForm .form .checkItem.agreeCheck > label {
  display: inline-block;
}
.formMain .contactForm .form .radioList01 .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .form .radioList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .radioBox .radio {
  position: relative;
  display: inline-block;
}
.formMain .contactForm .form .radioBox input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.formMain .contactForm .form .radioBox label {
  position: relative;
  padding: 5px 0 5px 35px;
}
.formMain .contactForm .form .radioBox label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  margin: auto 0;
  border-radius: 50%;
  border: 1px solid #e3e1d3;
  background: #ffffff;
  box-sizing: border-box;
}
.formMain .contactForm .form .radioBox input[type=radio]:checked + label:before {
  border: 8px solid #000000;
}
.formMain .contactForm .form .postalBox {
  border-bottom: none !important;
}
.formMain .contactForm .form .postalBox input {
  width: 90px;
}
.formMain .contactForm .form .postalBox input + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .postalBox .postalTxt {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm {
  padding: 40px 0 0;
  text-align: left;
}
.formMain .contactForm .formBox + .formBox {
  margin-top: 60px;
}
.formMain .contactForm .formBox > .dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid #a0a0a0;
}
.formMain .contactForm .formBox > .dl.line {
  align-items: flex-start;
}
.formMain .contactForm .formBox > .dl.line > .dt {
  padding: 20px 0 0;
}
.formMain .contactForm .formBox > .dl > .dt {
  display: flex;
  justify-content: space-between;
  width: 310px;
  padding: 15px 0 10px;
}
.formMain .contactForm .formBox > .dl > .dt .span {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.formMain .contactForm .formBox > .dl > .dt .em {
  display: inline-block;
  padding: 0 8px;
  font-size: 14px;
  color: #ffffff;
  vertical-align: middle;
  background: #1c4979;
}
.formMain .contactForm .formBox > .dl > .dt .small {
  font-size: 12px;
}
.formMain .contactForm .formBox > .dl > .dt .aside {
  margin-top: 10px;
}
.formMain .contactForm .formBox > .dl > .dt .aside p {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
}
.formMain .contactForm .formBox > .dl > .dd {
  width: calc(100% - 330px);
  padding: 5px 0;
}
.formMain .contactForm .formBox .otherTtl {
  padding: 20px 20px 10px;
  border-bottom: none;
}
.formMain .contactForm .formBox .otherRadio .dt {
  display: block;
  text-align: right;
}
.formMain .contactForm .formBox .otherRadio .dt .span {
  display: block;
  max-width: 260px;
  margin: 0;
}
.formMain .contactForm .formBox .otherRadio01 {
  border-bottom: none;
}
.formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
  display: table;
  width: 100%;
}
.formMain .contactForm .formBox .addressBox .dl + .dl,
.formMain .contactForm .formBox .dateBox .dl + .dl {
  margin-top: 10px;
}
.formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
  display: table-cell;
  width: 60px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
  display: table-cell;
  vertical-align: middle;
}
.formMain .contactForm .formBox .ageInput input {
  display: inline-block;
  width: 120px;
  margin: 0 5px 0 0;
}
.formMain .contactForm .formBox .ageInput > p {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox {
  margin: 0 0 20px;
}
.formMain .contactForm .formBox .meetingBox .radioList {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .dateBox + .dateBox {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox + .txt {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox input[type=text] {
  width: 90px;
}
.formMain .contactForm .formBox .dateBox .em {
  display: inline-block;
}
.formMain .contactForm .formBox .dateBox .span {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .dateBox .radioList {
  display: inline-block;
  margin: 0 0 0 40px;
}
.formMain .contactForm .formBox .dateBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .caution {
  margin-top: 10px;
  color: #d20000;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox {
  padding: 10px 10px 40px;
  font-size: 0;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox > * {
  display: inline-block;
  font-size: 14px;
}
.formMain .contactForm .formBox .telTxt {
  padding: 10px 10px 0;
}
.formMain .contactForm .formBox .privacy {
  margin: 30px auto 0;
  text-align: center;
}
.formMain .contactForm .formBox .privacy > p {
  margin: 0 0 20px;
  text-align: left;
}
.formMain .contactForm .formBox .privacy .agreeBox {
  overflow: scroll;
  height: 500px;
  padding: 20px;
  font-weight: 400;
  text-align: left;
  border: 1px solid #ffffff;
  background: #ffffff;
}
.formMain .contactForm .formBox .privacy .agreeBox .box + .box {
  margin: 30px 0 0;
}
.formMain .contactForm .formBox .privacy .agreeBox .box .link a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy .agreeBox p {
  line-height: 2;
}
.formMain .contactForm .formBox .privacy .agreeBox .tel p,
.formMain .contactForm .formBox .privacy .agreeBox .tel a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy + .checkItem {
  margin: 40px 0;
  text-align: center;
}
.formMain .contactForm .fileUploadPanel {
  padding: 20px;
}
.formMain .contactForm .fileUploadTtl {
  margin: 0 0 15px;
}
.formMain .contactForm .fileUploadBox .ttl {
  margin: 0 0 10px;
  line-height: 2;
}
.formMain .contactForm .fileUploadBox .fileBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  border-bottom: 1px solid #888163;
}
.formMain .contactForm .fileUploadBox .fileArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.formMain .contactForm .fileUploadBox .fileArea + .fileArea {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile {
  position: relative;
  width: 28%;
  font-size: 16px;
  color: #000000;
  text-align: center;
  border: 1px solid #dadada;
  background: #f8f8f8;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile p {
  padding: 12px 10px;
}
.formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
  width: 70%;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt p {
  display: inline-block;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .fileName {
  margin: 0 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .attention {
  font-size: 13px;
  color: #54765f;
}
.formMain .contactForm .fileUploadBox .txt {
  line-height: 2;
}
.formMain .contactForm .aside {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadTitleBox {
  margin: 60px 0 30px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle {
  position: relative;
  max-width: 440px;
  margin: 0 0 20px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #000000;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 30px;
  font-weight: bold;
  background: #ffffff;
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 100px 0;
}
.complete .txt {
  margin: 0 0 40px;
  text-align: center;
  line-height: 3;
}
.complete .btnMore {
  margin: 0 auto;
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
.companyMain .pageSecTtlBox {
  margin: 0 0 60px;
}
.companyMain .sec01 {
  padding: 120px 0;
}
.companyMain .sec01 .secBox .photoBox .name {
  margin: 20px 0 0;
  text-align: right;
}
.companyMain .sec01 .secBox .photoBox .name p {
  display: inline-block;
}
.companyMain .sec01 .secBox .photoBox .name .em {
  font-size: 24px;
}
.companyMain .sec01 .secBox .txtBox {
  padding: 20px 0 0;
}
.companyMain .sec01 .secBox .txtBox .ttl {
  margin: 0 0 30px;
  font-size: 26px;
  color: #1c4979;
}
.companyMain .sec01 .secBox .txtBox .txt {
  line-height: 2.2;
}
@media (min-width: 1025px) {
  .companyMain .sec01 .secBox {
    display: flex;
    justify-content: space-between;
  }
  .companyMain .sec01 .secBox .photoBox {
    width: 50%;
  }
  .companyMain .sec01 .secBox .txtBox {
    width: 45%;
  }
}
.companyMain .sec02 {
  padding: 120px 0;
  background: #f7f2dc;
}
.companyMain .sec02 .infoBox .dl {
  display: table;
  width: 100%;
}
.companyMain .sec02 .infoBox .dl + .dl {
  border-top: 1px solid #f7f2dc;
}
.companyMain .sec02 .infoBox .dl > * {
  display: table-cell;
  vertical-align: middle;
}
.companyMain .sec02 .infoBox .dl .dt {
  width: 280px;
  padding: 15px 10px;
  color: #ffffff;
  text-align: center;
  border-right: 1px solid #f7f2dc;
  background: #1c4979;
}
.companyMain .sec02 .infoBox .dl .dd {
  padding: 15px 40px;
  background: #ffffff;
}
.companyMain .sec02 .infoBox .dl .dd a {
  display: inline-block;
}
.companyMain .sec02 .infoBox .dl .dd .ul {
  line-height: 2;
}
.companyMain .sec02 .infoBox .dl .dd .ul .line p {
  padding: 0 0 0 135px;
}
.companyMain .sec02 .list {
  margin: 50px 0 0;
}
@media (min-width: 1025px) {
  .companyMain .sec02 .list .ul {
    display: flex;
    justify-content: space-between;
  }
  .companyMain .sec02 .list .ul .li {
    width: calc(33.3333333333% - 15px);
  }
}
.companyMain .sec03 {
  padding: 120px 0 0;
}
.companyMain .sec03 .secBox {
  padding: 0 0 120px;
}
.companyMain .sec03 .secBox .photoBox .photo {
  max-width: 440px;
  margin: 0 auto;
}
.companyMain .sec03 .secBox .txtBox .dl + .dl {
  margin: 40px 0 0;
}
.companyMain .sec03 .secBox .txtBox .dl .dt {
  width: 130px;
  margin: 0 0 15px;
  padding: 2px 5px;
  color: #ffffff;
  text-align: center;
  background: #1c4979;
}
.companyMain .sec03 .secBox .txtBox .dl .dd {
  line-height: 2;
}
@media (min-width: 1025px) {
  .companyMain .sec03 .secBox {
    display: flex;
    justify-content: space-between;
  }
  .companyMain .sec03 .secBox .photoBox {
    width: 50%;
  }
  .companyMain .sec03 .secBox .txtBox {
    width: 50%;
  }
}
.companyMain .sec04 {
  padding: 120px 0 0;
}
.companyMain .sec04 .topTxt {
  padding: 0 0 60px;
  text-align: center;
}

/*////////////////////////////////////////////////////////////
	news
///////////////////////////////////////////////////////////*/
.newsMain .blogSection {
  padding: 80px 0 200px;
}
@media (min-width: 1025px) {
  .newsMain .postContainer {
    display: flex;
    justify-content: space-between;
  }
  .newsMain .postContainer .catePanel {
    width: 200px;
  }
  .newsMain .postContainer .blogPanel {
    width: calc(100% - 260px);
  }
}
.newsMain .catePanel .webgene-blog .webgene-header {
  margin: 0 0 10px;
  padding: 0 20px 10px;
  border-bottom: 1px solid #a0a0a0;
}
.newsMain .catePanel .webgene-blog .webgene-header h2 {
  font-size: 18px;
  color: #1c4979;
  letter-spacing: 0.15em;
}
.newsMain .catePanel .webgene-blog .webgene-item {
  border-bottom: 1px solid #e2e2e2;
}
.newsMain .catePanel .webgene-blog .webgene-item a {
  display: block;
  padding: 15px;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/btn_more.png) right center no-repeat;
  background-size: 25px auto;
}
.newsMain .blogPanel--list .webgene-blog .webgene-header {
  display: none;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item {
  border-bottom: 1px solid #a0a0a0;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item a {
  display: block;
  min-height: 300px;
  padding: 0 0 15px;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .img {
  margin: 0 0 10px;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .img img {
  border-radius: 4px;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .infoBox {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  font-size: 14px;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .infoBox .time {
  margin: 0 10px 0 0;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .infoBox .cate {
  min-width: 100px;
  padding: 0 10px;
  color: #ffffff;
  text-align: center;
  background: #c19112;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .title {
  text-decoration: underline;
}
@media (min-width: 1025px) {
  .newsMain .blogPanel--list .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -20px;
  }
  .newsMain .blogPanel--list .webgene-blog .webgene-item {
    width: calc(33.3333333333% - 20px);
    margin: 40px 0 0 20px;
  }
  .newsMain .blogPanel--list .webgene-blog .webgene-item .img {
    position: relative;
    height: 220px;
  }
  .newsMain .blogPanel--list .webgene-blog .webgene-item .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.newsMain .blogPanel--list .webgene-pagination {
  overflow: hidden;
  width: 100%;
  margin: 100px auto 0;
  font-size: 14px;
}
.newsMain .blogPanel--list .webgene-pagination ul {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.newsMain .blogPanel--list .webgene-pagination ul li {
  display: inline-block;
  margin: 0 2px;
}
.newsMain .blogPanel--list .webgene-pagination ul li a {
  display: block;
  width: 45px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  background: #cdcdcd;
}
.newsMain .blogPanel--list .webgene-pagination ul .prev {
  margin: 0 2px 0 0;
}
.newsMain .blogPanel--list .webgene-pagination ul .next {
  position: relative;
  margin: 0 0 0 2px;
}
.newsMain .blogPanel--list .webgene-pagination ul .selected a {
  background: #1c4979;
}
@media (min-width: 1025px) {
  .newsMain .blogPanel--list .webgene-pagination ul li {
    margin: 0 5px;
  }
  .newsMain .blogPanel--list .webgene-pagination ul .prev {
    float: left;
  }
  .newsMain .blogPanel--list .webgene-pagination ul .next {
    float: right;
  }
}
.newsMain .blogPanel--detail .webgene-blog .webgene-header {
  display: none;
}
.newsMain .blogPanel--detail .webgene-blog .info {
  margin: 0 0 15px;
  padding: 0 15px;
  font-size: 14px;
}
.newsMain .blogPanel--detail .webgene-blog .info .time {
  display: inline-block;
  margin: 0 10px 0 0;
}
.newsMain .blogPanel--detail .webgene-blog .info .cate {
  display: inline-block;
  min-width: 100px;
  padding: 0 10px;
  color: #ffffff;
  text-align: center;
  background: #c19112;
}
.newsMain .blogPanel--detail .webgene-blog .ttlBox {
  margin: 0 0 20px;
  padding: 0 15px 10px;
  font-size: 26px;
  border-bottom: 1px solid #a0a0a0;
}
.newsMain .blogPanel--detail .webgene-blog .slickSlide {
  margin: 0 0 40px;
}
.newsMain .blogPanel--detail .webgene-blog .slickSlide .slider .li > div {
  overflow: hidden;
  position: relative;
  padding: 0 0 65%;
}
.newsMain .blogPanel--detail .webgene-blog .slickSlide .slider .li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsMain .blogPanel--detail .webgene-blog .slick-list {
  margin: 0 0 10px;
}
.newsMain .blogPanel--detail .webgene-blog .thumb-item {
  margin: 0 0 10px;
}
.newsMain .blogPanel--detail .webgene-blog .slick-slide {
  margin: 0 10px;
}
.newsMain .blogPanel--detail .webgene-blog .slideNav .slick-slide {
  margin: 0 5px;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .photo {
  margin-bottom: 20px;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .photo img {
  width: auto;
  max-width: 100%;
  border-radius: 6px;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .postTxt {
  line-height: 2;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .postTxt p + p {
  margin: 30px 0 0;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .postTxt img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.newsMain .blogPanel--detail .pdfArea {
  margin: 40px 0 0;
}
.newsMain .blogPanel--detail .pdfArea a {
  color: #2151a3;
}
.newsMain .blogPanel .btnBack {
  width: 140px;
  margin: 100px auto 0;
}
.newsMain .blogPanel .btnBack a {
  display: block;
  padding: 5px 0 5px 35px;
  background: url(https://fit-system240119.smooooth.jp/system_panel/uploads/images/btn_back_arrow.png) left center no-repeat;
  background-size: 25px auto;
}