@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain .topKvPanel {
    padding: 0;
  }
  .topMain .topKvPanel .topKv {
    height: 400px;
  }
  .topMain .topKvPanel .kvTtl {
    width: 98%;
    margin: 0 auto;
    padding: 15px 10px;
    font-size: 13px;
  }
  .topMain .sec01 {
    margin: -30px 0 0;
    padding: 60px 0;
  }
  .topMain .sec01 .newsPanel {
    margin: 0 0 30px;
  }
  .topMain .sec01 .newsPanel .ttlBox {
    padding: 20px 0;
    background: none;
  }
  .topMain .sec01 .newsPanel .ttlBox .ttl {
    width: 120px;
    margin: 0 auto;
  }
  .topMain .sec01 .newsPanel .newsBox .webgene-blog .webgene-item {
    display: block;
    padding: 20px 15px;
  }
  .topMain .sec01 .newsPanel .newsBox .webgene-blog .webgene-item .infoBox {
    width: 100%;
    margin: 0 0 10px;
  }
  .topMain .sec01 .newsPanel .newsBox .webgene-blog .webgene-item .infoBox > * {
    font-size: 12px;
  }
  .topMain .sec01 .newsPanel .newsBox .webgene-blog .webgene-item .title {
    width: 100%;
  }
  .topMain .sec01 .newsPanel .newsBox .webgene-blog .webgene-item .title a {
    display: inline-block;
    color: #3f1a0a;
  }
  .topMain .sec01 .alcPanel .photoBox {
    max-width: 500px;
    margin: 0 auto 20px;
  }
  .topMain .sec01 .alcPanel .txtBox {
    position: relative;
  }
  .topMain .sec01 .alcPanel .txtBox .iconBox {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 10px;
  }
  .topMain .sec01 .alcPanel .txtBox .iconBox .icon {
    width: 100px;
  }
  .topMain .sec01 .alcPanel .txtBox .ttlBox {
    margin: 0 0 20px;
    font-size: 24px;
  }
  .topMain .sec01 .alcPanel .txtBox .ttlBox p {
    display: inline;
  }
  .topMain .sec01 .alcPanel .txtBox .ttlBox .em {
    font-size: 40px;
  }
  .topMain .sec01 .alcPanel .txtBox .dl {
    margin: 0 0 10px;
  }
  .topMain .sec01 .alcPanel .txtBox .dl .dt {
    margin: 0 20px 0 0;
    font-size: 20px;
  }
  .topMain .sec01 .alcPanel .txtBox .dl .dd p {
    font-size: 24px;
  }
  .topMain .sec01 .alcPanel .txtBox .dl .dd .span {
    font-size: 20px;
  }
  .topMain .sec01 .alcPanel .txtBox .aside {
    margin: 10px 0 0;
    font-size: 13px;
    text-align: left;
  }
  .topMain .sec02 {
    background: url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/top_sec02_bg.png) center top no-repeat;
    background-size: cover;
  }
  .topMain .sec02 .secBox {
    padding: 60px 0;
  }
  .topMain .sec02 .secBox .txtBox {
    padding: 0 0 20px;
  }
  .topMain .sec02 .secBox .txtBox .iconBox {
    position: static;
    width: 140px;
  }
  .topMain .sec02 .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
  }
  .topMain .sec02 .secBox .txtBox .ttlBox p,
.topMain .sec02 .secBox .txtBox .ttlBox h2 {
    font-size: 24px;
  }
  .topMain .sec02 .secBox .txtBox .ttlBox .em {
    font-size: 40px;
  }
  .topMain .sec02 .secBox .txtBox .btnMore {
    margin: 30px 0 0;
  }
  .topMain .sec02 .secBox .photoBox {
    max-width: 400px;
  }
  .topMain .sec03 .secBox {
    padding: 80px 0 40px;
    background: url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/top_sec03_img_icon_bg.png) right top no-repeat, url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/top_sec03_img_icon_bg.png) left 50px bottom no-repeat;
    background-size: 150px auto, 150px auto;
  }
  .topMain .sec03 .secBox .ttlBox {
    margin: 0 0 20px;
    font-size: 20px;
  }
  .topMain .sec03 .secBox .ttlBox .em {
    font-size: 40px;
  }
  .topMain .sec03 .secBox .btnMore {
    margin: 30px auto 0;
  }
  .topMain .sec03 .secBox .photoList {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 30px auto;
  }
  .topMain .sec03 .secBox .photoList .photo {
    max-width: 48%;
  }
  .topMain .sec04 .secBox {
    padding: 100px 0 60px;
  }
  .topMain .sec04 .ttlBox {
    position: relative;
    margin: 0 0 20px;
    padding: 70px 0 0;
    background: url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/top_sec04_ttl.png) left top no-repeat;
    background-size: 80px auto;
  }
  .topMain .sec04 .ttlBox p {
    font-size: 16px;
  }
  .topMain .sec04 .ttlBox .em {
    font-size: 24px;
  }
  .topMain .sec04 .btnMore {
    margin: 30px 0;
  }
  .topMain .sec04 .photo {
    position: static;
    width: 90%;
    max-width: 400px;
  }
  .topMain .sec05 {
    padding: 60px 0;
  }
  .topMain .sec05 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .topMain .sec05 .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
    font-size: 40px;
  }
  .topMain .sec05 .secBox .txtBox .btnMore {
    margin: 30px 0 0;
  }
  .topMain .sec06 {
    padding: 60px 0;
  }
  .topMain .sec06 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .topMain .sec06 .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
  }
  .topMain .sec06 .secBox .txtBox .ttlBox p {
    font-size: 20px;
  }
  .topMain .sec06 .secBox .txtBox .ttlBox h2 {
    font-size: 30px;
  }
  .topMain .sec06 .secBox .txtBox .btnMore {
    margin: 30px 0 0;
  }
  .topMain .sec07 {
    padding: 60px 0;
  }
  .topMain .sec07 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .topMain .sec07 .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
    font-size: 40px;
  }
  .topMain .sec07 .secBox .txtBox .infoBox .dl {
    display: block;
    padding: 10px;
  }
  .topMain .sec07 .secBox .txtBox .infoBox .dl .dt {
    width: 100%;
  }
  .topMain .sec07 .secBox .txtBox .infoBox .dl .dd {
    width: 100%;
  }
  .topMain .sec07 .secBox .txtBox .infoBox .dl .btnMap {
    width: 120px;
  }
  .topMain .sec07 .secBox .txtBox .btnMore {
    margin: 40px 0 0;
  }
}
/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .serviceMain .topSection {
    background: url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/page_top_bg.png) center top -40px no-repeat;
    background-size: cover;
  }
  .serviceMain .topSection .secBox {
    padding: 40px 0 120px;
  }
  .serviceMain .topSection .secBox .photo {
    max-width: 400px;
    margin: 0 auto;
  }
  .serviceMain .topSection .secBox .txtBox {
    padding: 0 0 20px;
  }
  .serviceMain .topSection .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
  }
  .serviceMain .topSection .secBox .txtBox .ttlBox p,
.serviceMain .topSection .secBox .txtBox .ttlBox h2 {
    font-size: 24px;
  }
  .serviceMain .topSection .secBox .txtBox .ttlBox .em {
    font-size: 40px;
  }
}
@media (max-width: 1024px) and (min-width: 1025px) {
  .serviceMain .topSection .secBox .txtBox {
    width: 50%;
  }
  .serviceMain .topSection .secBox .photo {
    position: absolute;
    top: 60px;
    right: 5%;
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .serviceMain .sec01 {
    padding: 0 0 80px;
  }
  .serviceMain .sec01::before {
    display: none;
  }
  .serviceMain .sec01 .secBox + .secBox {
    margin: 50px 0 0;
  }
  .serviceMain .sec01 .secBox .photoBox {
    max-width: 450px;
    margin: 0 auto 20px;
  }
  .serviceMain .sec01 .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
  }
  .serviceMain .sec01 .secBox .txtBox .ttlBox p,
.serviceMain .sec01 .secBox .txtBox .ttlBox h2 {
    font-size: 20px;
  }
  .serviceMain .sec01 .secBox .txtBox .ttlBox .em {
    font-size: 30px;
  }
}
/*////////////////////////////////////////////////////////////
	strength
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .strengthMain .topSection .secBox .txtBox .iconBox {
    position: static;
    width: 120px;
    margin: 0 0 10px;
  }
}
/*////////////////////////////////////////////////////////////
	menu
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .menuMain .topSection {
    background: url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/page_top_bg.png) center top -40px no-repeat;
    background-size: cover;
  }
  .menuMain .topSection .secBox {
    padding: 40px 0 120px;
  }
  .menuMain .topSection .secBox .photo {
    max-width: 400px;
    margin: 0 auto;
  }
  .menuMain .topSection .secBox .txtBox {
    padding: 0 0 20px;
  }
  .menuMain .topSection .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
  }
  .menuMain .topSection .secBox .txtBox .ttlBox p,
.menuMain .topSection .secBox .txtBox .ttlBox h2 {
    font-size: 24px;
  }
  .menuMain .topSection .secBox .txtBox .ttlBox .em {
    font-size: 40px;
  }
}
@media (max-width: 1024px) and (min-width: 1025px) {
  .menuMain .topSection .secBox .txtBox {
    width: 50%;
  }
  .menuMain .topSection .secBox .photo {
    position: absolute;
    top: 60px;
    right: 5%;
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .menuMain .sec01 {
    padding: 0 0 60px;
  }
  .menuMain .sec01::before {
    display: none;
  }
  .menuMain .sec01::after {
    display: none;
  }
  .menuMain .sec01 .secTtlBox {
    margin: 0 0 15px;
    font-size: 24px;
  }
  .menuMain .sec01 .topTxt {
    margin: 0 0 20px;
    font-size: 13px;
  }
  .menuMain .sec01 .alcPanel .photoBox {
    max-width: 500px;
    margin: 0 auto 20px;
  }
  .menuMain .sec01 .alcPanel .txtBox {
    position: relative;
  }
  .menuMain .sec01 .alcPanel .txtBox .iconBox {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 10px;
  }
  .menuMain .sec01 .alcPanel .txtBox .iconBox .icon {
    width: 100px;
  }
  .menuMain .sec01 .alcPanel .txtBox .ttlBox {
    margin: 0 0 20px;
    font-size: 24px;
  }
  .menuMain .sec01 .alcPanel .txtBox .ttlBox p {
    display: inline;
  }
  .menuMain .sec01 .alcPanel .txtBox .ttlBox .em {
    font-size: 40px;
  }
  .menuMain .sec01 .alcPanel .txtBox .dl {
    margin: 0 0 10px;
  }
  .menuMain .sec01 .alcPanel .txtBox .dl .dt {
    margin: 0 20px 0 0;
    font-size: 20px;
  }
  .menuMain .sec01 .alcPanel .txtBox .dl .dd p {
    font-size: 24px;
  }
  .menuMain .sec01 .alcPanel .txtBox .dl .dd .span {
    font-size: 20px;
  }
  .menuMain .sec01 .alcPanel .txtBox .aside {
    margin: 10px 0 0;
    font-size: 13px;
    text-align: left;
  }
  .menuMain .sec01 .secPanelList {
    padding: 60px 0 0;
  }
  .menuMain .sec01 .secPanel + .secPanel {
    margin: 60px 0 0;
  }
  .menuMain .sec01 .secPanel .photo {
    max-width: 640px;
  }
  .menuMain .sec01 .secPanel .secBox .txtBox {
    position: relative;
    padding: 60px 20px 30px;
  }
  .menuMain .sec01 .secPanel .secBox .txtBox .balloon {
    position: absolute;
    top: -60px;
    right: 10px;
    width: 160px;
    height: 115px;
    background: url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/menu_sec01_balloon.png) no-repeat;
    background-size: 100% auto;
  }
  .menuMain .sec01 .secPanel .secBox .txtBox .balloon p {
    padding: 0 0 5px 5px;
    font-size: 18px;
  }
  .menuMain .sec01 .secPanel .secBox .txtBox .ttlBox {
    display: block;
    margin: 0 0 15px;
  }
  .menuMain .sec01 .secPanel .secBox .txtBox .ttlBox .ttl {
    font-size: 24px;
  }
  .menuMain .sec01 .secPanel .secBox .txtBox .ttlBox .price {
    min-width: 90px;
  }
  .menuMain .sec01 .secPanel .secBox .txtBox .ttlBox .price .em {
    font-size: 20px;
  }
  .menuMain .sec01 .secPanel .secBox .txtBox .ttlBox .price .span {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .menuMain .sec02 {
    padding: 60px 0;
  }
  .menuMain .sec02 .secTtlBox {
    margin: 0 0 40px;
    font-size: 30px;
  }
  .menuMain .sec02 .section + .section {
    margin: 50px 0 0;
  }
  .menuMain .sec02 .section h3 {
    margin: 0 0 20px;
    font-size: 24px;
  }
  .menuMain .sec02 .photoList {
    margin: 0 0 40px;
  }
  .menuMain .sec02 .photoList .ul .li + .li {
    margin: 30px 0 0;
  }
  .menuMain .sec02 .photoList .ul .dl {
    margin: -10px 0 0;
    padding: 0 15px;
    text-align: left;
  }
  .menuMain .sec02 .photoList .ul .dl .dt {
    margin: 0 0 5px;
  }
  .menuMain .sec02 .photoList .ul .dl .dd {
    font-size: 16px;
  }
  .menuMain .sec02 .menuList .dl + .dl {
    margin: 30px 0 0;
  }
  .menuMain .sec02 .menuList02 .dl + .dl {
    margin: 30px 0 0;
  }
}
/*////////////////////////////////////////////////////////////
	intro
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .introMain .topSection {
    background: url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/page_top_bg.png) center top -40px no-repeat;
    background-size: cover;
  }
  .introMain .topSection .secBox {
    padding: 40px 0 120px;
  }
  .introMain .topSection .secBox .photo {
    max-width: 400px;
    margin: 0 auto;
  }
  .introMain .topSection .secBox .txtBox {
    padding: 0 0 20px;
  }
  .introMain .topSection .secBox .txtBox .iconBox {
    position: static;
    width: 120px;
    margin: 0 0 10px;
  }
  .introMain .topSection .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
  }
  .introMain .topSection .secBox .txtBox .ttlBox p,
.introMain .topSection .secBox .txtBox .ttlBox h2 {
    font-size: 24px;
  }
  .introMain .topSection .secBox .txtBox .ttlBox .em {
    font-size: 40px;
  }
  .introMain .sec01 {
    padding: 0 0 60px;
  }
  .introMain .sec01::before {
    display: none;
  }
  .introMain .sec01 .secTtlBox {
    margin: 0 0 40px;
    font-size: 30px;
  }
  .introMain .sec01 .listBox {
    max-width: 1100px;
    margin: 0 auto 60px;
  }
  .introMain .sec01 .listBox .ul .li + .li {
    margin: 30px 0 0;
  }
  .introMain .sec01 .listBox .ul .photoBox {
    margin: 0 auto 5px;
  }
  .introMain .sec01 .listBox .ul .txt {
    padding: 0;
    font-size: 14px;
  }
  .introMain .sec01 .mapImg {
    max-width: 780px;
    margin: 0 auto;
  }
  .introMain .sec02 {
    padding: 60px 0;
  }
  .introMain .sec02 .secTtlBox {
    margin: 0 0 40px;
    font-size: 30px;
  }
  .introMain .sec02 .secBox01 {
    margin: 0 0 50px;
  }
  .introMain .sec02 .secBox01 .txtBox {
    position: relative;
    padding: 10px 0 0;
  }
  .introMain .sec02 .secBox01 .txtBox .balloon {
    position: static;
    width: 180px;
    margin: 0 0 10px;
  }
  .introMain .sec02 .secBox02 .txtBox {
    padding: 10px 0 0;
  }
  .introMain .sec02 .secBox02 .txtBox .balloon {
    width: 180px;
    margin: 0 0 10px;
  }
}
/*////////////////////////////////////////////////////////////
	info
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .infoMain .topSection {
    background: url(https://kitchennanoka240327.smooooth.jp/system_panel/uploads/images/info_top_bg.png) center top no-repeat;
    background-size: cover;
  }
  .infoMain .topSection .secBox {
    padding: 40px 0 120px;
  }
  .infoMain .topSection .secBox .photo {
    max-width: 400px;
    margin: 0 auto;
  }
  .infoMain .topSection .secBox .txtBox {
    padding: 0 0 20px;
  }
  .infoMain .topSection .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
  }
  .infoMain .topSection .secBox .txtBox .ttlBox p,
.infoMain .topSection .secBox .txtBox .ttlBox h2 {
    font-size: 24px;
  }
  .infoMain .topSection .secBox .txtBox .ttlBox .em {
    font-size: 40px;
  }
  .infoMain .sec01 {
    padding: 0 0 60px;
  }
  .infoMain .sec01::before {
    display: none;
  }
  .infoMain .sec01 .secTtlBox {
    margin: 0 0 40px;
    font-size: 30px;
  }
  .infoMain .sec01 .secBox {
    margin: 0 0 40px;
  }
  .infoMain .sec01 .secBox .leftBox {
    margin: 0 0 30px;
  }
  .infoMain .sec01 .secBox .leftBox .infoBox .dl {
    display: block;
    padding: 10px;
  }
  .infoMain .sec01 .secBox .leftBox .infoBox .dl .dt {
    width: 100%;
  }
  .infoMain .sec01 .secBox .leftBox .infoBox .dl .dd {
    margin: 5px 0 0;
  }
  .infoMain .sec01 .secBox .rightBox .telBox {
    max-width: 260px;
    padding: 15px;
  }
  .infoMain .sec01 .secBox .rightBox .telBox .tel a {
    font-size: 24px;
  }
  .infoMain .sec01 .secBox .rightBox .photo {
    margin: 20px 0 0;
  }
}
/*////////////////////////////////////////////////////////////
	rental
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .rentalMain .sec01 {
    padding: 60px 0;
  }
  .rentalMain .sec01 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .rentalMain .sec01 .secBox .txtBox .ttlBox {
    margin: 0 0 20px;
  }
  .rentalMain .sec01 .secBox .txtBox .ttlBox p {
    font-size: 20px;
  }
  .rentalMain .sec01 .secBox .txtBox .ttlBox h2 {
    font-size: 30px;
  }
  .rentalMain .sec01 .secBox .txtBox .btnMore {
    margin: 30px 0 0;
  }
  .rentalMain .sec01 .boxList {
    max-width: 580px;
    margin: 30px auto 0;
  }
  .rentalMain .sec01 .boxList .box {
    padding: 15px;
  }
  .rentalMain .sec01 .boxList .box .dl .dt {
    font-size: 24px;
  }
  .rentalMain .sec01 .boxList .box01 {
    border: 5px solid #bcbcbc;
  }
  .rentalMain .sec01 .boxList .box02 {
    border: 5px solid #ffa60c;
  }
  .rentalMain .sec01 .boxList .arrow01 {
    display: none;
  }
  .rentalMain .sec01 .boxList .arrow02 {
    display: block;
    width: 40px;
    margin: 10px auto;
  }
  .rentalMain .sec02 {
    padding: 0 0 60px;
  }
  .rentalMain .sec02::before {
    display: none;
  }
  .rentalMain .sec02 .secBox + .secBox {
    margin: 50px 0 0;
  }
  .rentalMain .sec02 .secBox .dl .dt {
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px solid #000000;
  }
  .rentalMain .sec02 .secBox .dl .dt .num {
    margin: 0 20px 0 0;
    font-size: 40px;
  }
  .rentalMain .sec02 .secBox .dl .dt .ttl {
    font-size: 24px;
  }
  .rentalMain .sec03 {
    padding: 60px 0 180px;
  }
  .rentalMain .sec03::before {
    display: none;
  }
  .rentalMain .sec03 .secTtlBox {
    margin: 0 0 40px;
    font-size: 30px;
  }
  .rentalMain .sec03 .secBox {
    margin: 0 0 40px;
  }
  .rentalMain .sec03 .secBox .leftBox {
    margin: 0 0 30px;
  }
  .rentalMain .sec03 .secBox .leftBox .infoBox .dl {
    display: block;
    padding: 10px;
  }
  .rentalMain .sec03 .secBox .leftBox .infoBox .dl .dt {
    width: 100%;
  }
  .rentalMain .sec03 .secBox .leftBox .infoBox .dl .dd {
    margin: 5px 0 0;
  }
  .rentalMain .sec03 .secBox .rightBox .photo {
    margin: 20px 0 0;
  }
  .rentalMain .sec03 .photoList .ul .li + .li {
    margin: 30px 0 0;
  }
  .rentalMain .sec03 .photoList .ul .dl {
    margin: -10px 0 0;
    padding: 0 15px;
    text-align: left;
  }
  .rentalMain .sec03 .photoList .ul .dl .dt {
    margin: 0 0 5px;
  }
  .rentalMain .sec03 .photoList .ul .dl .dd {
    font-size: 16px;
  }
  .rentalMain .sec04 {
    margin: -160px 0 0;
    padding: 80px 0;
  }
  .rentalMain .sec04 .ttlBox {
    margin: 0 0 20px;
  }
  .rentalMain .sec04 .ttlBox p,
.rentalMain .sec04 .ttlBox h2 {
    font-size: 24px;
  }
  .rentalMain .sec04 .ttlBox .em {
    font-size: 40px;
  }
  .rentalMain .sec04 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .rentalMain .sec04 .secBox .txtBox .ttl {
    margin: 0 0 15px;
    font-size: 22px;
  }
  .rentalMain .sec05 {
    padding: 60px 0;
  }
  .rentalMain .sec05 .secTtlBox {
    margin: 0 0 20px;
    font-size: 30px;
  }
  .rentalMain .sec05 .topTxt {
    margin: 0 0 20px;
  }
  .rentalMain .sec05 .itemList {
    max-width: 340px;
    margin: 0 auto;
  }
  .rentalMain .sec05 .itemList .telBox {
    margin: 0 0 20px;
    padding: 15px;
  }
  .rentalMain .sec05 .itemList .mailBox {
    padding: 15px;
  }
  .rentalMain .sec05 .itemList .mailBox > p {
    margin: 0 0 10px;
  }
}
/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain .sec01 {
    padding: 60px 0 150px;
  }
  .contactMain .sec01 .secTtlBox {
    margin: 0 0 20px;
    font-size: 30px;
  }
  .contactMain .sec01 .topTxt {
    margin: 0 0 20px;
  }
  .contactMain .sec01 .itemList {
    max-width: 800px;
    text-align: center;
  }
  .contactMain .sec01 .itemList .telBox {
    padding: 30px 15px;
  }
  .contactMain .sec01 .itemList .telBox > p {
    font-size: 20px;
  }
  .contactMain .sec01 .itemList .mailBox {
    padding: 30px 15px;
  }
  .contactMain .sec01 .itemList .mailBox > p {
    font-size: 20px;
  }
  .contactMain .sec01 .itemList .mailBox .box {
    padding: 10px 0 0;
  }
  .contactMain .sec01 .itemList .mailBox .btnContact + .btnContact {
    margin: 10px auto 0;
  }
  .contactMain .sec02 {
    padding: 0 0 60px;
  }
  .contactMain .sec02::before {
    display: none;
  }
  .contactMain .sec02 .secTtlBox {
    margin: 0 0 20px;
    font-size: 30px;
  }
}
/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain .contactForm .formBox + .formBox {
    margin-top: 40px;
  }
  .formMain .contactForm .formBox > .dl {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .formMain .contactForm .formBox > .dl.line .dt {
    padding: 10px 0;
  }
  .formMain .contactForm .formBox > .dl > .dt {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .formMain .contactForm .formBox > .dl > .dt .span {
    width: auto;
    margin-right: 10px;
    font-size: 16px;
  }
  .formMain .contactForm .formBox > .dl > .dt .span br {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dt .em {
    font-size: 12px;
    vertical-align: middle;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside {
    margin-top: 5px;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside p {
    font-size: 12px;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside p br {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dd {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .formBox .radioList01 .list {
    display: block;
    margin: 0;
  }
  .formMain .contactForm .formBox .radioList01 .list + .list {
    margin: 20px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .ul .li {
    display: block;
  }
  .formMain .contactForm .formBox .checkList01 .ul .li + .li {
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .checkItem {
    display: inline-block;
    padding: 0 5px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .checkItem + input {
    display: inline-block;
    width: 150px;
  }
  .formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
    display: block;
  }
  .formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
    display: block;
  }
  .formMain .contactForm .formBox .datePanel {
    display: block;
    font-size: 14px;
  }
  .formMain .contactForm .formBox .datePanel + .datePanel {
    margin: 20px 0 0;
  }
  .formMain .contactForm .formBox .datePanel > * {
    padding: 0 0 5px;
  }
  .formMain .contactForm .formBox .datePanel input {
    width: 60px;
  }
  .formMain .contactForm .formBox .datePanel .selectBox {
    width: 60px;
  }
  .formMain .contactForm .formBox .datePanel .dateTtl {
    margin: 0 10px 0 0;
  }
  .formMain .contactForm .formBox .datePanel .dateTxt {
    margin: 0 5px;
  }
  .formMain .contactForm .formBox .dateBox input[type=text] {
    width: 70px;
  }
  .formMain .contactForm .formBox .dateBox .radioList {
    display: block;
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .selectBox {
    width: 180px;
  }
  .formMain .contactForm .formBox .privacy .agreeBox {
    height: 250px;
    padding: 20px 10px;
  }
  .formMain .contactForm .fileUploadBox {
    display: block;
  }
  .formMain .contactForm .fileUploadBox .fileBox {
    width: 100%;
  }
  .formMain .contactForm .fileUploadBox .fileArea {
    display: block;
  }
  .formMain .contactForm .fileUploadBox .fileArea .inputFile {
    width: 200px;
  }
  .formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
    width: 100%;
    margin: 10px 0 0;
  }
  .formMain .contactForm .fileUploadTitleBox {
    margin: 40px 0 20px;
  }
  .formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
    padding: 0 15px 0 0;
    font-size: 20px;
  }
}
/*////////////////////////////////////////////////////////////
	news
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .newsMain .blogSection {
    padding: 60px 0 80px;
  }
  .newsMain .catePanel {
    margin: 0 0 30px;
  }
  .newsMain .blogPanel--list .webgene-blog .webgene-item a {
    padding: 20px 0;
  }
  .newsMain .blogPanel--list .webgene-blog .webgene-item .infoBox {
    margin: 0 0 10px;
  }
  .newsMain .blogPanel--list .webgene-pagination {
    margin: 60px auto 0;
  }
  .newsMain .blogPanel--detail .webgene-blog {
    padding: 15px;
  }
  .newsMain .blogPanel--detail .webgene-blog .info {
    display: block;
    margin: 0 0 10px;
  }
  .newsMain .blogPanel--detail .webgene-blog .info .cate {
    margin: 0 0 5px;
  }
  .newsMain .blogPanel--detail .webgene-blog .info .time {
    text-align: right;
  }
  .newsMain .blogPanel--detail .webgene-blog .ttlBox {
    margin: 0 0 15px;
    font-size: 20px;
  }
  .newsMain .blogPanel--detail .webgene-blog .slickSlide {
    margin: 0 0 40px;
  }
  .newsMain .blogPanel--detail .webgene-blog .slickSlide .slider .li > div {
    padding: 0 0 70%;
  }
  .newsMain .btnBack {
    margin: 60px auto 0;
  }
}