@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain .topKvPanel {
  position: relative;
}
.topMain .topKvPanel .topKv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}
.topMain .topKvPanel .topKv .kvBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.topMain .topKvPanel .topKv .kvBox > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.topMain .topKvPanel .topKv .kvBox .kv01 {
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/top_kv_01.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .topKv .kvBox .kv02 {
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/top_kv_02.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .topKv .kvBox .kv03 {
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/top_kv_03.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .kvTitleBox {
  position: relative;
  padding: 20px 80px 0 0;
  z-index: 1;
}
.topMain .topKvPanel .kvTitleBox h1 {
  text-indent: -0.5em;
  font-size: 40px;
  color: #ffffff;
  line-height: 2;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1025px) {
  .topMain .topKvPanel .kvTitleBox h1 {
    writing-mode: vertical-rl;
  }
}
.topMain .topSection {
  padding: 100px 0;
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/top_top_bg.png) no-repeat;
  background-size: cover;
}
.topMain .topSection .secWrap01 {
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/top_top_logo.png) right 100px bottom no-repeat;
  background-size: 120px auto;
}
.topMain .topSection .secBox .ttl {
  font-size: 34px;
  color: #126a4b;
}
.topMain .topSection .secBox .btnBox {
  width: 160px;
}
.topMain .topSection .secBox .btnBox .btnDetail a {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right 15px center no-repeat #126a4b;
}
@media (min-width: 1025px) {
  .topMain .topSection .secBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .topMain .topSection .secBox .ttl {
    width: 100px;
  }
  .topMain .topSection .secBox .ttl h2 {
    writing-mode: vertical-lr;
  }
  .topMain .topSection .secBox .txtBox {
    width: calc(100% - 400px);
  }
  .topMain .topSection .secBox .txtBox .txt {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    height: 360px;
  }
  .topMain .topSection .secBox .txtBox .txt p {
    writing-mode: vertical-rl;
    line-height: 3;
  }
  .topMain .topSection .secBox .txtBox .txt p + p {
    margin: 0 4% 0 0;
  }
  .topMain .topSection .secBox .btnBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100px;
  }
  .topMain .topSection .secBox .btnBox .btnDetail {
    width: 40px;
  }
  .topMain .topSection .secBox .btnBox .btnDetail a {
    padding: 40px 10px;
    background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/btn_more_arrow_vertical.png) center bottom 15px no-repeat #126a4b;
  }
  .topMain .topSection .secBox .btnBox .btnDetail p {
    writing-mode: vertical-lr;
  }
}
.topMain .sec01 {
  padding: 120px 0 0;
}
.topMain .sec01 .secPanel .secBox {
  padding: 40px 80px;
  color: #ffffff;
  text-align: center;
}
.topMain .sec01 .secPanel .secBox .txtBox h3 {
  margin: 0 0 30px;
  font-size: 34px;
}
.topMain .sec01 .secPanel .secBox .txtBox .btnMore {
  margin: 40px auto 0;
}
.topMain .sec01 .secPanel .secBox01 {
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/top_sec01_img_01.png) center no-repeat;
  background-size: cover;
}
.topMain .sec01 .secPanel .secBox02 {
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/top_sec01_img_02.png) center no-repeat;
  background-size: cover;
}
@media (min-width: 1025px) {
  .topMain .sec01 .secPanel {
    display: flex;
  }
  .topMain .sec01 .secPanel .secBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 400px;
  }
}
.topMain .sec02 {
  padding: 120px 0;
}
.topMain .sec02 .secBox .photo {
  position: relative;
  height: 450px;
}
.topMain .sec02 .secBox .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topMain .sec02 .secBox .txtBox h3 {
  margin: 0 0 30px;
  font-size: 30px;
}
.topMain .sec02 .secBox .txtBox .btnMore {
  margin: 40px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec02 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .topMain .sec02 .secBox .photo {
    width: 50%;
  }
  .topMain .sec02 .secBox .photo img {
    width: 50vw;
  }
  .topMain .sec02 .secBox .txtBox {
    width: 45%;
  }
}
.topMain .sec03 {
  padding: 120px 0;
  background: #f1f2ec;
}
.topMain .sec03 .webgene-blog .webgene-header {
  display: none;
}
.topMain .sec03 .webgene-blog .webgene-item a {
  display: block;
}
.topMain .sec03 .webgene-blog .webgene-item .photoBox {
  position: relative;
}
.topMain .sec03 .webgene-blog .webgene-item .photoBox .cate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.topMain .sec03 .webgene-blog .webgene-item .photoBox .cate p {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: #126a4b;
}
.topMain .sec03 .webgene-blog .webgene-item .infoBox {
  padding: 10px 0 5px;
}
.topMain .sec03 .webgene-blog .webgene-item .infoBox .time {
  font-size: 14px;
  color: #126a4b;
}
@media (min-width: 1025px) {
  .topMain .sec03 .webgene-blog {
    display: flex;
    margin: 0 0 0 -15px;
  }
  .topMain .sec03 .webgene-blog .webgene-item {
    width: calc(25% - 15px);
    margin: 0 0 0 15px;
  }
  .topMain .sec03 .webgene-blog .webgene-item .photoBox .photo {
    position: relative;
    height: 250px;
  }
  .topMain .sec03 .webgene-blog .webgene-item .photoBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.topMain .sec03 .btnMore {
  margin: 60px auto 0;
}
.topMain .sec04 {
  padding: 120px 0;
}
.topMain .sec04 .secBox .photo {
  position: relative;
  height: 450px;
}
.topMain .sec04 .secBox .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topMain .sec04 .secBox .txtBox h3 {
  margin: 0 0 30px;
  font-size: 30px;
}
.topMain .sec04 .secBox .txtBox .btnMore {
  margin: 40px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec04 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .sec04 .secBox .photo {
    width: 50%;
  }
  .topMain .sec04 .secBox .photo img {
    width: 50vw;
  }
  .topMain .sec04 .secBox .txtBox {
    width: 45%;
  }
}
.topMain .sec05 {
  padding: 120px 0;
  background: #f5f5f5;
}
.topMain .sec05 .secBox .photo {
  position: relative;
  height: 450px;
}
.topMain .sec05 .secBox .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topMain .sec05 .secBox .txtBox h3 {
  margin: 0 0 30px;
  font-size: 30px;
}
.topMain .sec05 .secBox .txtBox .btnMore {
  margin: 40px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec05 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .topMain .sec05 .secBox .photo {
    width: 50%;
  }
  .topMain .sec05 .secBox .photo img {
    width: 50vw;
  }
  .topMain .sec05 .secBox .txtBox {
    width: 45%;
  }
}

/*////////////////////////////////////////////////////////////
	about
///////////////////////////////////////////////////////////*/
.aboutMain .topSection {
  padding: 100px 0;
  text-align: center;
}
.aboutMain .topSection h2 {
  margin: 0 0 30px;
  font-size: 34px;
}
.aboutMain .topSection .txt p + p {
  margin: 30px 0 0;
}
.aboutMain .sec01 {
  padding: 0 0 150px;
}
.aboutMain .sec01 .section + .section {
  margin: 60px 0 0;
}
.aboutMain .sec01 .section:nth-child(odd) .secContainer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 51%;
  height: 300px;
  z-index: -1;
  background: #f1f2ec;
}
.aboutMain .sec01 .section:nth-child(even) .secContainer::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 51%;
  height: 300px;
  z-index: -1;
  background: #f1f2ec;
}
.aboutMain .sec01 .secContainer {
  position: relative;
}
.aboutMain .sec01 .secPanel {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px 60px;
}
.aboutMain .sec01 .secPanel .secBox {
  max-width: 1400px;
  width: 100%;
}
.aboutMain .sec01 .secPanel .secBox .txtBox {
  padding: 20px 0 0;
}
.aboutMain .sec01 .secPanel .secBox .txtBox .ttlBox {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}
.aboutMain .sec01 .secPanel .secBox .txtBox .ttlBox .num {
  width: 50px;
  line-height: 1;
  text-align: center;
}
.aboutMain .sec01 .secPanel .secBox .txtBox .ttlBox .num .span {
  font-size: 14px;
}
.aboutMain .sec01 .secPanel .secBox .txtBox .ttlBox .num .em {
  font-size: 36px;
}
.aboutMain .sec01 .secPanel .secBox .txtBox .ttlBox .ttl {
  width: calc(100% - 70px);
  padding: 5px 0 0;
  font-size: 34px;
}
.aboutMain .sec01 .secPanel .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  .aboutMain .sec01 .secPanel .secBox {
    display: flex;
    justify-content: space-between;
  }
  .aboutMain .sec01 .secPanel .secBox .photo {
    width: 40%;
  }
  .aboutMain .sec01 .secPanel .secBox .txtBox {
    width: 53%;
  }
  .aboutMain .sec01 .section:nth-child(odd) .secPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .aboutMain .sec01 .section:nth-child(even) .secPanel .secBox {
    flex-direction: row-reverse;
  }
}
.aboutMain .sec01 .otherPanel01 {
  max-width: 1240px;
  margin: 30px auto 0;
  padding: 0 20px;
}
.aboutMain .sec01 .otherPanel01 .otherBox {
  padding: 60px;
  background: #f1f2ec;
}
.aboutMain .sec01 .otherPanel01 .otherBox .txtBox .ttl {
  margin: 0 0 20px;
  font-size: 26px;
}
@media (min-width: 1025px) {
  .aboutMain .sec01 .otherPanel01 .otherBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .aboutMain .sec01 .otherPanel01 .otherBox .photo {
    width: 48%;
  }
  .aboutMain .sec01 .otherPanel01 .otherBox .txtBox {
    width: 50%;
  }
}
.aboutMain .sec01 .otherPanel02 {
  max-width: 1240px;
  margin: 30px auto 0;
  padding: 0 20px;
}
.aboutMain .sec01 .otherPanel02 .otherBox {
  padding: 60px;
  background: #f1f2ec;
}
.aboutMain .sec01 .otherPanel02 .otherBox .txtBox .ttl {
  margin: 0 0 20px;
  font-size: 26px;
}
@media (min-width: 1025px) {
  .aboutMain .sec01 .otherPanel02 .otherBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aboutMain .sec01 .otherPanel02 .otherBox .photo {
    width: 35%;
  }
  .aboutMain .sec01 .otherPanel02 .otherBox .txtBox {
    width: 60%;
  }
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
.serviceMain .topSection {
  position: relative;
  padding: 100px 0 120px;
}
.serviceMain .topSection:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 55%;
  height: 420px;
  z-index: -1;
  background: #f1f2ec;
}
.serviceMain .topSection .secBox .txtBox h2 {
  margin: 0 0 20px;
  font-size: 34px;
}
.serviceMain .topSection .secBox .txtBox .txt p + p {
  margin: 20px 0 0;
}
@media (min-width: 1025px) {
  .serviceMain .topSection .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .serviceMain .topSection .secBox .photo {
    width: 50%;
  }
  .serviceMain .topSection .secBox .txtBox {
    width: 48%;
  }
}
.serviceMain .pointSection {
  padding: 80px 0 100px;
  background: #f5f5f5;
}
.serviceMain .pointSection .topTxt {
  margin: 0 0 40px;
  text-align: center;
}
.serviceMain .pointSection .secPanel {
  padding: 40px 20px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
}
.serviceMain .pointSection .secPanel + .secPanel {
  margin: 20px 0 0;
}
.serviceMain .pointSection .secBox {
  max-width: 1080px;
  margin: 0 auto;
}
.serviceMain .pointSection .secBox .txtBox {
  padding: 10px 0 0;
}
.serviceMain .pointSection .secBox .txtBox .ttlBox {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}
.serviceMain .pointSection .secBox .txtBox .ttlBox .ttl01 {
  margin: 0 30px 0 0;
  font-size: 26px;
  color: #126a4b;
}
.serviceMain .pointSection .secBox .txtBox .ttlBox .ttl02 {
  font-size: 30px;
}
.serviceMain .pointSection .secBox .txtBox .txt p + p {
  margin: 20px 0 0;
}
@media (min-width: 1025px) {
  .serviceMain .pointSection .secBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .serviceMain .pointSection .secBox .photo {
    width: 38%;
  }
  .serviceMain .pointSection .secBox .txtBox {
    width: 56%;
  }
}
.serviceMain .optionSection {
  padding: 80px 0 100px;
}
.serviceMain .optionSection .topTxt {
  margin: 0 0 40px;
  text-align: center;
}
.serviceMain .optionSection .secBox + .secBox {
  margin: 40px 0 0;
}
.serviceMain .optionSection .secBox .txtBox {
  padding: 20px 0 0;
}
.serviceMain .optionSection .secBox .txtBox h3 {
  margin: 0 0 30px;
  font-size: 30px;
}
@media (min-width: 1025px) {
  .serviceMain .optionSection .secBox {
    display: flex;
    justify-content: space-between;
  }
  .serviceMain .optionSection .secBox .photo {
    position: relative;
    width: 50%;
    height: 420px;
  }
  .serviceMain .optionSection .secBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .serviceMain .optionSection .secBox .txtBox {
    width: 45%;
  }
  .serviceMain .optionSection .secBox:nth-child(odd) .txtBox {
    padding: 40px 20px 0 0;
  }
  .serviceMain .optionSection .secBox:nth-child(even) {
    flex-direction: row-reverse;
  }
  .serviceMain .optionSection .secBox:nth-child(even) .txtBox {
    padding: 40px 20px 0 5%;
  }
}
.serviceMain .planSection {
  padding: 80px 0 100px;
}
.serviceMain .planSection .topTxt {
  margin: 0 0 40px;
  text-align: center;
}
.serviceMain .planSection .listBox .ul .dl {
  margin: 10px 0 0;
  text-align: center;
}
.serviceMain .planSection .listBox .ul .dl .dt {
  margin: 0 0 10px;
  font-size: 24px;
}
.serviceMain .planSection .listBox .ul .dl .dd {
  line-height: 2;
}
@media (min-width: 1025px) {
  .serviceMain .planSection .listBox .ul {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -20px;
  }
  .serviceMain .planSection .listBox .ul .li {
    width: calc(33.3333333333% - 20px);
    margin: 40px 0 0 20px;
  }
  .serviceMain .planSection .listBox .ul .photo {
    position: relative;
    height: 300px;
  }
  .serviceMain .planSection .listBox .ul .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.serviceMain .worksSection {
  padding: 80px 0 100px;
  background: #f1f2ec;
}
.serviceMain .worksSection .webgene-blog .webgene-header {
  display: none;
}
.serviceMain .worksSection .webgene-blog .webgene-item a {
  display: block;
}
.serviceMain .worksSection .webgene-blog .webgene-item .photoBox {
  position: relative;
}
.serviceMain .worksSection .webgene-blog .webgene-item .photoBox .cate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.serviceMain .worksSection .webgene-blog .webgene-item .photoBox .cate p {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: #126a4b;
}
.serviceMain .worksSection .webgene-blog .webgene-item .infoBox {
  padding: 10px 0 5px;
}
.serviceMain .worksSection .webgene-blog .webgene-item .infoBox .time {
  font-size: 14px;
  color: #126a4b;
}
@media (min-width: 1025px) {
  .serviceMain .worksSection .webgene-blog {
    display: flex;
    margin: 0 0 0 -15px;
  }
  .serviceMain .worksSection .webgene-blog .webgene-item {
    width: calc(25% - 15px);
    margin: 0 0 0 15px;
  }
  .serviceMain .worksSection .webgene-blog .webgene-item .photoBox .photo {
    position: relative;
    height: 250px;
  }
  .serviceMain .worksSection .webgene-blog .webgene-item .photoBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.serviceMain .worksSection .btnMore {
  margin: 60px auto 0;
}

/*////////////////////////////////////////////////////////////
	flow
///////////////////////////////////////////////////////////*/
.flowMain .sec01 {
  padding: 80px 0 100px;
  background: #f1f2ec;
}
.flowMain .sec01 .secPanel {
  position: relative;
  padding: 40px 20px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
}
.flowMain .sec01 .secPanel + .secPanel {
  margin: 60px 0 0;
}
.flowMain .sec01 .secPanel + .secPanel::before {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  width: 50px;
  height: 30px;
  margin: 0 auto;
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/flow_sec01_arrow.png) no-repeat;
  background-size: 100% auto;
}
.flowMain .sec01 .secBox {
  max-width: 1080px;
  margin: 0 auto;
}
.flowMain .sec01 .secBox .txtBox {
  padding: 10px 0 0;
}
.flowMain .sec01 .secBox .txtBox .ttlBox {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}
.flowMain .sec01 .secBox .txtBox .ttlBox .num {
  width: 50px;
  line-height: 1;
  text-align: center;
}
.flowMain .sec01 .secBox .txtBox .ttlBox .num .span {
  font-size: 14px;
}
.flowMain .sec01 .secBox .txtBox .ttlBox .num .em {
  font-size: 36px;
}
.flowMain .sec01 .secBox .txtBox .ttlBox .ttl {
  width: calc(100% - 70px);
  padding: 5px 0 0;
  font-size: 34px;
}
.flowMain .sec01 .secBox .txtBox .ttlBox .ttl p {
  display: inline-block;
}
.flowMain .sec01 .secBox .txtBox .ttlBox .ttl .span {
  font-size: 20px;
}
.flowMain .sec01 .secBox .txtBox .txt p + p {
  margin: 20px 0 0;
}
@media (min-width: 1025px) {
  .flowMain .sec01 .secBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .flowMain .sec01 .secBox .photo {
    width: 38%;
  }
  .flowMain .sec01 .secBox .txtBox {
    width: 56%;
  }
}
.flowMain .sec01 .btnContact {
  max-width: 300px;
  margin: 30px 0 0;
}
.flowMain .sec01 .btnContact a {
  display: block;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background: #f6f4f4;
}
.flowMain .sec01 .btnContact a p {
  display: inline-block;
  padding: 0 0 0 30px;
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/flow_sec01_mail.png) left center no-repeat;
  background-size: 20px auto;
}
.flowMain .sec02 {
  padding: 80px 0 100px;
}
.flowMain .sec02 .topTxt {
  margin: 0 0 40px;
  text-align: center;
}
.flowMain .sec02 .secPanel + .secPanel {
  margin: 15px 0 0;
}
.flowMain .sec02 .secPanel .ttlBox {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  color: #ffffff;
  background: #126a4b;
}
.flowMain .sec02 .secPanel .ttlBox .icon {
  margin: 0 15px 0 0;
  font-size: 26px;
}
.flowMain .sec02 .secPanel .ttlBox .ttl {
  font-size: 18px;
}
.flowMain .sec02 .secPanel .txtBox {
  padding: 20px 70px;
}

/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
.recruitMain .section {
  padding: 80px 0 100px;
}
.recruitMain .sec01 .listBox .ul .li {
  border: 1px solid #e1e1e1;
}
.recruitMain .sec01 .listBox .ul .dl .dt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 10px;
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  background: #126a4b;
}
.recruitMain .sec01 .listBox .ul .dl .dd {
  padding: 15px 20px;
  line-height: 2;
}
@media (min-width: 1025px) {
  .recruitMain .sec01 .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .recruitMain .sec01 .listBox .ul .li {
    width: calc(33.3333333333% - 20px);
  }
}
.recruitMain .sec02 {
  background: #f1f2ec;
}
.recruitMain .sec02 .listBox {
  max-width: 680px;
  margin: 0 auto;
}
.recruitMain .sec02 .listBox .ul .li {
  position: relative;
  padding: 20px;
  text-align: center;
  border: 1px solid #e1e1e1;
  background: #ffffff;
}
.recruitMain .sec02 .listBox .ul .num {
  width: 50px;
  line-height: 1;
  text-align: center;
}
.recruitMain .sec02 .listBox .ul .num .span {
  font-size: 14px;
}
.recruitMain .sec02 .listBox .ul .num .em {
  font-size: 36px;
}
.recruitMain .sec02 .listBox .ul .ttl {
  font-size: 24px;
}
@media (min-width: 1025px) {
  .recruitMain .sec02 .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .recruitMain .sec02 .listBox .ul .li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    width: calc(25% - 45px);
  }
  .recruitMain .sec02 .listBox .ul .li + .li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -45px;
    bottom: 0;
    width: 30px;
    height: 50px;
    margin: auto 0;
    background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/recruit_sec02_arrow_01.png) no-repeat;
    background-size: 100% auto;
  }
  .recruitMain .sec02 .listBox .ul .num {
    margin: 0 0 20px;
  }
  .recruitMain .sec02 .listBox .ul .ttl {
    font-size: 30px;
    writing-mode: vertical-lr;
  }
}
.recruitMain .sec03 .infoBox .dl {
  padding: 20px 20px 10px;
  line-height: 2;
  border-bottom: 1px solid #126a4b;
}
@media (min-width: 1025px) {
  .recruitMain .sec03 .infoBox .dl {
    display: flex;
  }
  .recruitMain .sec03 .infoBox .dl .dt {
    width: 260px;
  }
  .recruitMain .sec03 .infoBox .dl .dd {
    width: calc(100% - 260px);
  }
}
.recruitMain .sec04 {
  background: #f1f2ec;
}
.recruitMain .sec04 .topTxt {
  margin: 0 0 40px;
  text-align: center;
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
.companyMain .sec01 {
  padding: 100px 0 120px;
}
.companyMain .sec01 .secPanel {
  position: relative;
  padding: 0 0 30px;
}
.companyMain .sec01 .secPanel:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
  height: 350px;
  z-index: -1;
  background: #f1f2ec;
}
.companyMain .sec01 .secPanel .secBox .photoBox .inner {
  width: 100%;
  max-width: 550px;
}
.companyMain .sec01 .secPanel .secBox .photoBox .name {
  margin: 10px 0 0;
  font-size: 14px;
}
.companyMain .sec01 .secPanel .secBox .photoBox .name p {
  display: inline-block;
}
.companyMain .sec01 .secPanel .secBox .photoBox .name .em {
  margin: 0 0 0 10px;
  font-size: 24px;
}
.companyMain .sec01 .secPanel .secBox .txtBox .txt p + p {
  margin: 20px 0 0;
}
@media (min-width: 1025px) {
  .companyMain .sec01 .secPanel .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .companyMain .sec01 .secPanel .secBox .photoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .companyMain .sec01 .secPanel .secBox .txtBox {
    width: 55%;
  }
}
.companyMain .sec02 {
  padding: 0 0 100px;
}
.companyMain .sec02 .infoBox {
  margin: 0 0 60px;
}
.companyMain .sec02 .infoBox .dl {
  padding: 20px 20px 10px;
  line-height: 2;
  border-bottom: 1px solid #126a4b;
}
.companyMain .sec02 .infoBox .dl .dd a {
  display: inline-block;
}
@media (min-width: 1025px) {
  .companyMain .sec02 .infoBox .dl {
    display: flex;
  }
  .companyMain .sec02 .infoBox .dl .dt {
    width: 260px;
  }
  .companyMain .sec02 .infoBox .dl .dd {
    width: calc(100% - 260px);
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain .topSection {
  padding: 60px 0;
  text-align: center;
}
.contactMain .topSection .topTxt {
  margin: 0 0 30px;
}
.contactMain .topSection .secBox {
  padding: 30px 20px 20px;
  background: #f1f2ec;
}
.contactMain .topSection .secBox .ttl {
  margin: 0 0 10px;
  font-size: 30px;
}
.contactMain .topSection .secBox .tel {
  margin: 0 0 10px;
}
.contactMain .topSection .secBox .tel a {
  display: inline-block;
  padding: 0 0 0 40px;
  font-size: 40px;
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/contact_tel.png) left center no-repeat;
  background-size: 30px auto;
}
.contactMain .topSection .secBox .txt {
  line-height: 2;
}
.contactMain .sec01 {
  padding: 80px 0 120px;
  background: #f1f2ec;
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  /*テキストエリア*/
}
.formMain .contactForm input[type=text],
.formMain .contactForm input[type=email],
.formMain .contactForm input[type=tel] {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 1px 1px rgba(60, 66, 73, 0.1);
}
.formMain .contactForm textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  resize: none;
  box-shadow: 0 1px 1px rgba(60, 66, 73, 0.1);
}
.formMain .contactForm input[type=text]:focus,
.formMain .contactForm input[type=email]:focus,
.formMain .contactForm input[type=tel]:focus,
.formMain .contactForm textarea:focus {
  outline: 0;
  border: 2px solid #90cefd;
}
.formMain .contactForm button[type=submit] {
  overflow: hidden;
  position: relative;
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 60px auto 0;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  border: 1px solid #126a4b;
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right 15px center no-repeat #126a4b;
  transition: 0.6s;
}
.formMain .contactForm button[type=submit][disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
.formMain .contactForm .form .checkList .ul + .ul {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList .ul .li + .li {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList01 {
  padding: 10px 0;
}
.formMain .contactForm .form .checkList01 .ul .li {
  display: inline-block;
}
.formMain .contactForm .form .checkList01 .ul .li + .li {
  margin: 0 0 0 10px;
}
.formMain .contactForm .form .checkList01 .checkItem {
  display: inline-block;
  padding: 0 5px 0 0;
}
.formMain .contactForm .form .checkList01 .checkItem + input {
  display: inline-block;
  width: 150px;
}
.formMain .contactForm .form .checkList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .checkList02 {
  padding: 10px 0 0;
}
.formMain .contactForm .form .checkList02 .ul .li + .li {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkItem + .checkItem {
  margin-top: 10px;
}
.formMain .contactForm .form .checkItem > label {
  position: relative;
  display: block;
}
.formMain .contactForm .form .checkItem input {
  position: absolute;
  opacity: 0;
}
.formMain .contactForm .form .checkItem span {
  display: block;
  padding-left: 20px;
  position: relative;
}
.formMain .contactForm .form .checkItem span::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
}
.formMain .contactForm .form .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #126a4b;
  border-right: 3px solid #126a4b;
}
.formMain .contactForm .form .checkItem.agreeCheck > label {
  display: inline-block;
}
.formMain .contactForm .form .radioList01 {
  padding: 10px 0 0;
}
.formMain .contactForm .form .radioList01 .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .form .radioList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .radioBox .radio {
  position: relative;
  display: inline-block;
}
.formMain .contactForm .form .radioBox input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.formMain .contactForm .form .radioBox label {
  position: relative;
  padding: 5px 0 5px 35px;
}
.formMain .contactForm .form .radioBox label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  margin: auto 0;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  box-sizing: border-box;
}
.formMain .contactForm .form .radioBox input[type=radio]:checked + label:before {
  border: 8px solid #126a4b;
}
.formMain .contactForm .form .postalBox {
  margin: 0 0 8px;
}
.formMain .contactForm .form .postalBox input {
  width: 90px;
}
.formMain .contactForm .form .postalBox input + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .postalBox .postalTxt {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm {
  padding: 40px 0 0;
  text-align: left;
}
.formMain .contactForm .formBox + .formBox {
  margin-top: 60px;
}
.formMain .contactForm .formBox > .dl {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.formMain .contactForm .formBox > .dl + .dl .dd {
  border-top: none;
}
.formMain .contactForm .formBox > .dl.line {
  align-items: flex-start;
}
.formMain .contactForm .formBox > .dl.line > .dt {
  display: flex;
  flex-direction: column;
  height: 180px;
}
.formMain .contactForm .formBox > .dl.dash {
  border-bottom: 1px dashed #d8dee6;
}
.formMain .contactForm .formBox > .dl > .dt {
  overflow: hidden;
  width: 230px;
  padding: 20px;
  border-bottom: 1px solid #126a4b;
}
.formMain .contactForm .formBox > .dl > .dt .span {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}
.formMain .contactForm .formBox > .dl > .dt .day {
  min-width: 95px;
}
.formMain .contactForm .formBox > .dl > .dt .em {
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  color: #ffffff;
  vertical-align: middle;
  background: #126a4b;
}
.formMain .contactForm .formBox > .dl > .dt .small {
  font-size: 12px;
}
.formMain .contactForm .formBox > .dl > .dt .aside {
  margin-top: 10px;
}
.formMain .contactForm .formBox > .dl > .dt .aside p {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
}
.formMain .contactForm .formBox > .dl > .dd {
  width: calc(100% - 235px);
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #126a4b;
}
.formMain .contactForm .formBox > .dl > .dd .reserveBox {
  border: 1px solid #171a1c;
}
.formMain .contactForm .formBox > .dl > .dd .reserveBox .ttl {
  max-width: 220px;
  padding: 3px;
  color: #ffffff;
  text-align: center;
  background: #171a1c;
}
.formMain .contactForm .formBox > .dl > .dd .reserveBox .txt {
  padding: 10px 20px;
  line-height: 2;
}
.formMain .contactForm .formBox > .dl > .dd .dogBox > p {
  font-size: 12px;
}
.formMain .contactForm .formBox .otherTtl {
  padding: 20px 20px 10px;
  border-bottom: none;
}
.formMain .contactForm .formBox .otherRadio .dt {
  display: block;
  text-align: right;
}
.formMain .contactForm .formBox .otherRadio .dt .span {
  display: block;
  max-width: 260px;
  margin: 0;
}
.formMain .contactForm .formBox .otherRadio01 {
  border-bottom: none;
}
.formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
  display: table;
  width: 100%;
}
.formMain .contactForm .formBox .addressBox .dl + .dl,
.formMain .contactForm .formBox .dateBox .dl + .dl {
  margin-top: 10px;
}
.formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
  display: table-cell;
  width: 60px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
  display: table-cell;
  vertical-align: middle;
}
.formMain .contactForm .formBox .ageInput input {
  display: inline-block;
  width: 120px;
  margin: 0 5px 0 0;
}
.formMain .contactForm .formBox .ageInput > p {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox {
  margin: 0 0 20px;
}
.formMain .contactForm .formBox .meetingBox .radioList {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .dateBox + .dateBox {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox + .txt {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox input[type=text] {
  width: 90px;
}
.formMain .contactForm .formBox .dateBox .em {
  display: inline-block;
}
.formMain .contactForm .formBox .dateBox .span {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .dateBox .radioList {
  display: inline-block;
  margin: 0 0 0 30px;
}
.formMain .contactForm .formBox .dateBox .radioList .list {
  display: inline-block;
  margin: 0 10px 0 0;
}
.formMain .contactForm .formBox .caution {
  margin-top: 10px;
  color: #d20000;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox {
  padding: 10px 10px 40px;
  font-size: 0;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox > * {
  display: inline-block;
  font-size: 14px;
}
.formMain .contactForm .formBox .telTxt {
  padding: 10px 10px 0;
}
.formMain .contactForm .formBox .privacy {
  margin: 30px auto 0;
  text-align: center;
}
.formMain .contactForm .formBox .privacy > p {
  margin: 0 0 20px;
  text-align: left;
}
.formMain .contactForm .formBox .privacy .agreeBox {
  overflow: scroll;
  height: 500px;
  padding: 20px;
  font-weight: 400;
  text-align: left;
  border: 1px solid #e1e1e1;
  background: #f7f7f7;
}
.formMain .contactForm .formBox .privacy .agreeBox .box + .box {
  margin: 30px 0 0;
}
.formMain .contactForm .formBox .privacy .agreeBox .box .link a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy .agreeBox p {
  line-height: 2;
}
.formMain .contactForm .formBox .privacy .agreeBox .tel p,
.formMain .contactForm .formBox .privacy .agreeBox .tel a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy + .checkItem {
  margin: 40px 0;
  text-align: center;
}
.formMain .contactForm .fileUploadPanel {
  padding: 20px;
}
.formMain .contactForm .fileUploadTtl {
  margin: 0 0 15px;
}
.formMain .contactForm .fileUploadBox .fileBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.formMain .contactForm .fileUploadBox .fileArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.formMain .contactForm .fileUploadBox .fileArea + .fileArea {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile {
  position: relative;
  width: 32%;
  font-size: 16px;
  color: #000000;
  text-align: center;
  border: 1px solid #dadada;
  background: #f8f8f8;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile p {
  padding: 12px 10px;
}
.formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
  width: 65%;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt p {
  display: inline-block;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .fileName {
  margin: 0 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .attention {
  font-size: 13px;
  color: #54765f;
}
.formMain .contactForm .fileUploadBox + p {
  line-height: 2;
}
.formMain .contactForm .aside {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadTitleBox {
  margin: 60px 0 30px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle {
  position: relative;
  max-width: 440px;
  margin: 0 0 20px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #000000;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 30px;
  font-weight: bold;
  background: #ffffff;
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 100px 0;
}
.complete .txt {
  margin: 0 0 40px;
  text-align: center;
  line-height: 3;
}
.complete .btnMore {
  margin: 0 auto;
}

/*////////////////////////////////////////////////////////////
	news
///////////////////////////////////////////////////////////*/
.newsMain .blogSection {
  padding: 80px 0 100px;
}
@media (min-width: 1025px) {
  .newsMain .postContainer {
    display: flex;
    justify-content: space-between;
  }
  .newsMain .postContainer .catePanel {
    width: 200px;
  }
  .newsMain .postContainer .blogPanel {
    width: calc(100% - 260px);
  }
}
.newsMain .catePanel .webgene-blog .webgene-header {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 0 10px;
  text-align: center;
  border-bottom: 1px solid #126a4b;
}
.newsMain .catePanel .webgene-blog .webgene-header h2,
.newsMain .catePanel .webgene-blog .webgene-header h3 {
  position: relative;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 24px;
  color: #126a4b;
}
.newsMain .catePanel .webgene-blog .webgene-item {
  position: relative;
  max-width: 150px;
  margin: 0 auto;
  padding: 0 0 0 10px;
}
.newsMain .catePanel .webgene-blog .webgene-item::before {
  content: "-";
  position: absolute;
  top: 25%;
  left: 0;
}
.newsMain .catePanel .webgene-blog .webgene-item a {
  display: block;
  padding: 10px 5px;
}
.newsMain .blogPanel--list {
  padding: 10px 0 0;
}
.newsMain .blogPanel--list .webgene-blog .webgene-header {
  display: none;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item a {
  display: block;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .photoBox {
  position: relative;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .photoBox .cate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .photoBox .cate p {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: #126a4b;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .infoBox {
  padding: 10px 0 5px;
}
.newsMain .blogPanel--list .webgene-blog .webgene-item .infoBox .time {
  font-size: 14px;
  color: #126a4b;
}
@media (min-width: 1025px) {
  .newsMain .blogPanel--list .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -50px 0 0 -15px;
  }
  .newsMain .blogPanel--list .webgene-blog .webgene-item {
    width: calc(33.3333333333% - 15px);
    margin: 50px 0 0 15px;
  }
  .newsMain .blogPanel--list .webgene-blog .webgene-item .photoBox .photo {
    position: relative;
    height: 250px;
  }
  .newsMain .blogPanel--list .webgene-blog .webgene-item .photoBox .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.newsMain .blogPanel--list .webgene-pagination {
  overflow: hidden;
  width: 100%;
  margin: 100px auto 0;
  font-size: 14px;
}
.newsMain .blogPanel--list .webgene-pagination ul {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.newsMain .blogPanel--list .webgene-pagination ul li {
  display: inline-block;
  margin: 0 2px;
}
.newsMain .blogPanel--list .webgene-pagination ul li a {
  display: block;
  width: 45px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  background: #cdcdcd;
}
.newsMain .blogPanel--list .webgene-pagination ul .prev {
  margin: 0 2px 0 0;
}
.newsMain .blogPanel--list .webgene-pagination ul .next {
  position: relative;
  margin: 0 0 0 2px;
}
.newsMain .blogPanel--list .webgene-pagination ul .selected a {
  background: #126a4b;
}
@media (min-width: 1025px) {
  .newsMain .blogPanel--list .webgene-pagination ul li {
    margin: 0 5px;
  }
  .newsMain .blogPanel--list .webgene-pagination ul .prev {
    float: left;
  }
  .newsMain .blogPanel--list .webgene-pagination ul .next {
    float: right;
  }
}
.newsMain .blogPanel--detail .webgene-blog .webgene-header {
  display: none;
}
.newsMain .blogPanel--detail .webgene-blog .info {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  font-size: 14px;
}
.newsMain .blogPanel--detail .webgene-blog .info > * {
  display: inline-block;
  min-width: 100px;
  padding: 0 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.newsMain .blogPanel--detail .webgene-blog .info .cate {
  margin: 0 10px 0 0;
  background: #126a4b;
}
.newsMain .blogPanel--detail .webgene-blog .info .time {
  color: #126a4b;
}
.newsMain .blogPanel--detail .webgene-blog .ttlBox {
  margin: 0 0 20px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 24px;
}
.newsMain .blogPanel--detail .webgene-blog .slickSlide {
  max-width: 800px;
  margin: 0 0 40px;
}
.newsMain .blogPanel--detail .webgene-blog .slickSlide .slider .li > div {
  overflow: hidden;
  position: relative;
  padding: 0 0 65%;
}
.newsMain .blogPanel--detail .webgene-blog .slickSlide .slider .li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsMain .blogPanel--detail .webgene-blog .slick-list {
  margin: 0 0 10px;
}
.newsMain .blogPanel--detail .webgene-blog .thumb-item {
  margin: 0 0 10px;
}
.newsMain .blogPanel--detail .webgene-blog .slick-slide {
  margin: 0 10px;
}
.newsMain .blogPanel--detail .webgene-blog .slideNav .slick-slide {
  margin: 0 5px;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .photo {
  margin-bottom: 20px;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .photo img {
  width: auto;
  max-width: 100%;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .postTxt {
  line-height: 2;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .postTxt p + p {
  margin: 30px 0 0;
}
.newsMain .blogPanel--detail .webgene-blog .postBox .postTxt img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.newsMain .blogPanel--detail .pdfArea {
  margin: 40px 0 0;
}
.newsMain .blogPanel--detail .pdfArea a {
  color: #2151a3;
}
.newsMain .btnBack {
  max-width: 200px;
  margin: 100px auto 0;
}
.newsMain .btnBack a {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: #126a4b;
  background-size: cover;
}
.newsMain .btnBack a p {
  background: url(https://mitsurukomuten240417.smooooth.jp/system_panel/uploads/images/btn_back_arrow.png) left center no-repeat;
}