@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain .topKvPanel {
  position: relative;
  padding: 0 80px;
}
.topMain .topKvPanel .topKv {
  position: relative;
  height: calc(100vh - 100px);
  border-radius: 10px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/top_kv_01.png) no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .kvTitleTxt {
  position: relative;
  z-index: -1;
}
.topMain .topKvPanel .kvTitleBox {
  position: absolute;
  left: 80px;
  bottom: 180px;
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
}
.topMain .topKvPanel .kvTitleBox .kvTitle01 {
  font-size: 0;
}
.topMain .topKvPanel .kvTitleBox .kvTitle01 p {
  display: inline;
  font-size: 34px;
}
.topMain .topKvPanel .kvTitleBox .kvTitle01 .em {
  color: #e1bd05;
}
.topMain .topKvPanel .kvTitleBox .kvTitle02 {
  padding: 0 20px;
  font-size: 20px;
}
.topMain .topKvPanel .scrollBox {
  position: absolute;
  left: 30px;
  bottom: 0;
  width: 10px;
  height: 130px;
  text-align: center;
}
.topMain .topKvPanel .scrollBox .scroll {
  display: inline-block;
}
.topMain .topSection {
  position: relative;
  margin: 100px 0;
  padding: 0 0 50px;
}
.topMain .topSection::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 90%;
  z-index: -1;
  border-radius: 10px 0 0 10px;
  background: #dff0f4;
}
.topMain .topSection .secBox .txtBox .ttl {
  margin: 0 0 30px;
  font-size: 36px;
}
.topMain .topSection .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  .topMain .topSection .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .topMain .topSection .secBox .photo {
    width: 48%;
  }
  .topMain .topSection .secBox .txtBox {
    width: 50%;
  }
}
.topMain .sec01 {
  position: relative;
  padding: 80px 0;
}
.topMain .sec01::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  background: #dff0f4;
}
.topMain .sec01 .pageSecTtlBox {
  position: relative;
}
.topMain .sec01 .pageSecTtlBox::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -180px;
  width: 215px;
  height: 298px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/top_sec01_icon.png) no-repeat;
  background-size: 100% auto;
}
.topMain .sec01 .pageSecTtlBox > * {
  position: relative;
}
.topMain .sec01 .listBox .ul a {
  display: block;
}
.topMain .sec01 .listBox .ul .photo {
  overflow: hidden;
  position: relative;
}
.topMain .sec01 .listBox .ul .dl {
  margin: 20px 0 0;
}
.topMain .sec01 .listBox .ul .dl .dt {
  margin: 0 0 15px;
  padding: 0 0 0 20px;
  font-size: 26px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/top_sec01_ttl_line.png) left top 5px no-repeat;
}
.topMain .sec01 .listBox .ul .dl .dd {
  line-height: 2;
}
@media (min-width: 1025px) {
  .topMain .sec01 .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .topMain .sec01 .listBox .ul .li {
    width: calc(50% - 30px);
  }
  .topMain .sec01 .listBox .ul .photo img {
    transition: 0.6s;
  }
  .topMain .sec01 .listBox .ul a {
    opacity: 1;
  }
  .topMain .sec01 .listBox .ul a:hover .photo img {
    transform: scale(1.05);
  }
}
.topMain .sec02 {
  position: relative;
  margin: 100px 0;
  padding: 80px 0 120px 160px;
}
.topMain .sec02::before {
  content: "";
  position: absolute;
  left: 100px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px 0 0 10px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/top_sec02_bg.png) no-repeat;
  background-size: cover;
}
.topMain .sec02 .secWrap01 {
  position: relative;
}
.topMain .sec02 .pageSecTtlBox {
  color: #dff0f4;
}
.topMain .sec02 .listBox {
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  .topMain .sec02 .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .topMain .sec02 .listBox .ul .li {
    width: calc(25% - 20px);
  }
  .topMain .sec02 .listBox .ul .li:nth-child(even) {
    position: relative;
    top: 40px;
  }
}
@media (min-width: 1025px) {
  .topMain .sec02 .btnMore {
    position: absolute;
    top: 30px;
    right: 100px;
  }
}
.topMain .sec03 {
  position: relative;
  margin: 0 0 120px;
  padding: 100px 0;
}
.topMain .sec03::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  background: #dff0f4;
}
.topMain .sec03 .secWrap01 {
  position: relative;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-header {
  display: none;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-item {
  margin: 0 15px;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-item a {
  display: block;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-item .photo {
  position: relative;
  height: 200px;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-item .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-item .txtBox {
  padding: 15px 0;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-item .infoBox {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-item .infoBox .time {
  margin: 0 10px 0 0;
}
.topMain .sec03 .worksListPanel .webgene-blog .webgene-item .infoBox .cate {
  display: inline-block;
  min-width: 120px;
  padding: 1px 10px;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  background: #164e70;
}
@media (min-width: 1025px) {
  .topMain .sec03 .btnMore {
    position: absolute;
    top: 120px;
    right: 240px;
  }
}
.topMain .sec04 {
  position: relative;
  margin: 0 0 100px;
  padding: 0 0 50px;
}
.topMain .sec04::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 90%;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  background: #dff0f4;
}
.topMain .sec04 .secBox .txtBox .btnList {
  margin: 40px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec04 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .sec04 .secBox .photo {
    width: 48%;
  }
  .topMain .sec04 .secBox .txtBox {
    width: 48%;
  }
  .topMain .sec04 .secBox .txtBox .btnList {
    display: flex;
    justify-content: space-between;
    width: 340px;
  }
}
.topMain .sec05 {
  padding: 0 0 120px;
}
.topMain .sec05 .secPanel {
  padding: 40px 60px;
  color: #ffffff;
  border-radius: 10px;
  background: #45c3db;
}
.topMain .sec05 .secBox .txtBox .btnMore {
  margin: 60px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec05 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .sec05 .secBox .photo {
    width: 45%;
  }
  .topMain .sec05 .secBox .txtBox {
    width: 50%;
  }
}

/*////////////////////////////////////////////////////////////
	strength
///////////////////////////////////////////////////////////*/
.strengthMain .topSection {
  padding: 60px 0;
  text-align: center;
}
.strengthMain .topSection .title {
  margin: 0 0 40px;
  font-size: 34px;
}
.strengthMain .sec01 {
  padding: 0 0 120px;
}
.strengthMain .sec01 .secPanel {
  position: relative;
  padding: 0 20px 50px;
}
.strengthMain .sec01 .secPanel + .secPanel {
  margin: 60px 0 0;
}
.strengthMain .sec01 .secPanel:nth-child(odd)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 90%;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  background: #dff0f4;
}
.strengthMain .sec01 .secPanel:nth-child(even)::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 90%;
  z-index: -1;
  border-radius: 10px 0 0 10px;
  background: #dff0f4;
}
.strengthMain .sec01 .secBox {
  max-width: 1340px;
  margin: 0 auto;
}
.strengthMain .sec01 .secBox .photo {
  max-width: 500px;
}
.strengthMain .sec01 .secBox .txtBox .ttlBox {
  display: flex;
  margin: 0 0 30px;
}
.strengthMain .sec01 .secBox .txtBox .ttlBox .num {
  width: 50px;
  margin: 0 10px 0 0;
}
.strengthMain .sec01 .secBox .txtBox .ttlBox .ttl {
  font-size: 36px;
}
.strengthMain .sec01 .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  .strengthMain .sec01 .secPanel .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .strengthMain .sec01 .secPanel .secBox .photo {
    width: 40%;
  }
  .strengthMain .sec01 .secPanel .secBox .txtBox {
    width: 55%;
  }
  .strengthMain .sec01 .secPanel:nth-child(odd) .secBox {
    padding: 0 0 0 5%;
  }
  .strengthMain .sec01 .secPanel:nth-child(even) .secBox {
    flex-direction: row-reverse;
    padding: 0 5% 0 0;
  }
}

/*////////////////////////////////////////////////////////////
	reform
///////////////////////////////////////////////////////////*/
.reformMain .topSection {
  position: relative;
  margin: 100px 0;
  padding: 0 0 50px;
}
.reformMain .topSection::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 90%;
  z-index: -1;
  border-radius: 10px 0 0 10px;
  background: #dff0f4;
}
.reformMain .topSection .secBox .txtBox .ttl {
  margin: 0 0 30px;
  font-size: 36px;
}
.reformMain .topSection .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  .reformMain .topSection .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .reformMain .topSection .secBox .photo {
    width: 43%;
  }
  .reformMain .topSection .secBox .txtBox {
    width: 55%;
  }
}
.reformMain .sec01 {
  margin: 0 0 100px;
  padding: 0 20px;
}
.reformMain .sec01 .secContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 20px 100px;
  border-radius: 10px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/reform_sec01_bg.png) no-repeat;
  background-size: cover;
}
.reformMain .sec01 .pageSecTtlBox {
  color: #dff0f4;
}
.reformMain .sec01 .listBox {
  padding: 20px 0 0;
}
.reformMain .sec01 .listBox .ul .li {
  position: relative;
}
.reformMain .sec01 .listBox .ul .num {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 22px;
  color: #010508;
  line-height: 1;
  border-radius: 50%;
  background: #fdd005;
}
.reformMain .sec01 .listBox .ul .dl {
  margin: 10px 0 0;
  text-align: center;
}
.reformMain .sec01 .listBox .ul .dl .dt {
  margin: 0 0 5px;
  font-size: 26px;
  color: #fdd005;
}
.reformMain .sec01 .listBox .ul .dl .dd {
  color: #ffffff;
}
@media (min-width: 1025px) {
  .reformMain .sec01 .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .reformMain .sec01 .listBox .ul .li {
    width: calc(25% - 40px);
  }
  .reformMain .sec01 .listBox .ul .li:nth-child(2) {
    position: relative;
    top: 40px;
  }
  .reformMain .sec01 .listBox .ul .li:nth-child(4) {
    position: relative;
    top: -40px;
  }
}
.reformMain .sec02 {
  margin: 0 0 100px;
  padding: 0 20px;
}
.reformMain .sec02 .secContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 20px;
  border-radius: 10px;
  background: #dff0f4;
}
.reformMain .sec02 .topTxt {
  margin: 0 0 40px;
}
.reformMain .sec02 .listBox01 .ul .photo {
  position: relative;
  z-index: 1;
}
.reformMain .sec02 .listBox01 .ul .txtBox {
  padding: 40px 20px;
  border-radius: 10px;
  background: #ffffff;
}
.reformMain .sec02 .listBox01 .ul .txtBox .dl {
  padding: 0 0 10px;
  border-bottom: 1px solid #d4e0e3;
}
.reformMain .sec02 .listBox01 .ul .txtBox .dl .dt {
  margin: 0 0 10px;
  font-size: 20px;
}
.reformMain .sec02 .listBox01 .ul .txtBox .txt {
  padding: 10px 0 0;
}
@media (min-width: 1025px) {
  .reformMain .sec02 .listBox01 .ul {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -40px;
  }
  .reformMain .sec02 .listBox01 .ul .li {
    width: calc(33.3333333333% - 40px);
    margin: 40px 0 0 40px;
  }
  .reformMain .sec02 .listBox01 .ul .photo {
    height: 270px;
  }
  .reformMain .sec02 .listBox01 .ul .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .reformMain .sec02 .listBox01 .ul .txtBox {
    position: relative;
    top: -20px;
    left: 15px;
    height: calc(100% - 270px);
  }
  .reformMain .sec02 .listBox01 .ul .txtBox .dl {
    min-height: 150px;
  }
}
.reformMain .sec02 .waterPanel {
  position: relative;
  margin: 100px 0 0;
  padding: 60px 20px 40px;
  border-radius: 10px;
  background: #ffffff;
}
.reformMain .sec02 .waterPanel .ttlBox {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  width: 70%;
  max-width: 580px;
  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
  color: #164e70;
  text-align: center;
  border-radius: 30px;
  background: #ffffff;
}
.reformMain .sec02 .waterPanel .secBox {
  max-width: 1000px;
  margin: 0 auto;
}
.reformMain .sec02 .waterPanel .secBox .txtBox .ttl {
  margin: 0 0 10px;
  font-size: 28px;
}
.reformMain .sec02 .waterPanel .secBox .txtBox .ttl p {
  display: inline;
  background: linear-gradient(transparent 70%, #fffe9c 70%);
}
@media (min-width: 1025px) {
  .reformMain .sec02 .waterPanel .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reformMain .sec02 .waterPanel .secBox .photo {
    width: 30%;
  }
  .reformMain .sec02 .waterPanel .secBox .txtBox {
    width: 63%;
  }
}
.reformMain .sec02 .fullReformBox {
  margin: 80px 0 0;
}
.reformMain .sec02 .fullReformBox .ttlBox {
  margin: 0 0 30px;
  padding: 0 0 0 20px;
  font-size: 26px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/top_sec01_ttl_line.png) left top 5px no-repeat;
}
.reformMain .sec02 .fullReformBox .listBox02 {
  margin: 0 0 30px;
}
.reformMain .sec02 .fullReformBox .listBox02 .ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reformMain .sec02 .fullReformBox .listBox02 .ul .li {
  width: 130px;
  text-align: center;
}
.reformMain .sec02 .fullReformBox .listBox02 .ul .ttl {
  margin: 10px 0 0;
}
.reformMain .sec02 .fullReformBox .listBox02 + .txt .em {
  color: #164e70;
}
.reformMain .sec03 {
  margin: 0 0 100px;
  counter-reset: sectionCounter;
}
.reformMain .sec03 .secPanel {
  position: relative;
  width: 80%;
  padding: 60px 0;
  border-radius: 0 10px 10px 0;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/reform_sec03_icon.png) right 80px bottom 100px no-repeat #dff0f4;
  background-size: 200px auto;
}
.reformMain .sec03 .secPanel:before {
  counter-increment: sectionCounter;
  content: "WORKS " counter(sectionCounter, decimal-leading-zero);
  position: absolute;
  top: -40px;
  right: 0;
  width: 160px;
  padding: 10px;
  font-size: 20px;
  color: #164e70;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background: #dff0f4;
}
.reformMain .sec03 .secPanel + .secPanel {
  margin: 100px 0 0;
}
.reformMain .sec03 .ttlBox {
  padding: 0 0 0 20px;
  font-size: 26px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/top_sec01_ttl_line.png) left top 5px no-repeat;
}
.reformMain .sec03 .listBox {
  margin: 0 0 30px;
}
.reformMain .sec03 .listBox .photoBox .ttl {
  margin: 0 0 10px;
  font-size: 20px;
  color: #164e70;
  text-align: center;
}
.reformMain .sec03 .listBox .photoBox .photo img {
  border-radius: 0;
}
.reformMain .sec03 .listBox .balloonBox .balloon {
  padding: 20px;
  font-size: 0;
  color: #ffffff;
  border-radius: 4px;
  background: #164e70;
}
.reformMain .sec03 .listBox .balloonBox .balloon .bTxt p {
  display: inline;
  font-size: 16px;
  line-height: 2;
}
.reformMain .sec03 .listBox .balloonBox .balloon .bTxt .em {
  color: #fdd005;
}
@media (min-width: 1025px) {
  .reformMain .sec03 .listBox {
    display: flex;
    align-items: flex-end;
    margin: -30px 0 30px;
  }
  .reformMain .sec03 .listBox .photoBox.before {
    position: relative;
    margin: 0 80px 0 0;
  }
  .reformMain .sec03 .listBox .photoBox.before:before {
    content: "";
    position: absolute;
    right: -140px;
    bottom: 40px;
    width: 180px;
    height: 54px;
    background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/reform_sec03_arrow.png) no-repeat;
    background-size: 100% auto;
  }
  .reformMain .sec03 .listBox .balloonBox {
    display: flex;
    flex-direction: column;
    height: 480px;
    margin: 0 0 0 40px;
  }
  .reformMain .sec03 .listBox .balloonBox .balloon {
    position: relative;
    writing-mode: vertical-rl;
  }
  .reformMain .sec03 .listBox .balloonBox .balloon:before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 20px;
    width: 24px;
    height: 24px;
    background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/reform_sec03_balloon.png) no-repeat;
    background-size: 100% auto;
  }
}
.reformMain .sec03 .btnMore {
  margin: 40px auto 0;
}
.reformMain .sec04 {
  padding: 0 0 120px;
}
.reformMain .sec04 .secPanel {
  padding: 20px 30px;
  border-radius: 10px;
  background: #fcf2f3;
}
.reformMain .sec04 .secPanel + .secPanel {
  margin: 20px 0 0;
}
.reformMain .sec04 .secPanel .ttlBox {
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 0;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/accord_plus.png) right center no-repeat;
  background-size: 25px auto;
}
.reformMain .sec04 .secPanel .ttlBox.active {
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/accord_minus.png) right center no-repeat;
  background-size: 25px auto;
}
.reformMain .sec04 .secPanel .ttlBox .icon {
  margin: 0 10px 0 0;
  font-size: 30px;
  color: #164e70;
}
.reformMain .sec04 .secPanel .ttlBox .ttl {
  font-size: 24px;
}
.reformMain .sec04 .secPanel .txtBox {
  padding: 15px 10px;
  border-radius: 10px;
  background: #ffffff;
}
.reformMain .sec04 .secPanel .txtBox .txt {
  max-width: 1040px;
  margin: 0 auto;
}

/*////////////////////////////////////////////////////////////
	flow
///////////////////////////////////////////////////////////*/
.flowMain .sec01 {
  margin: 80px 0 100px;
  padding: 0 20px;
}
.flowMain .sec01 .secContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 20px;
  border-radius: 10px;
  background: #dff0f4;
}
.flowMain .sec01 .secPanelList {
  padding: 30px 0 0;
}
.flowMain .sec01 .secPanel {
  padding: 0 0 0 30px;
}
.flowMain .sec01 .secPanel + .secPanel {
  margin: 80px 0 0;
}
.flowMain .sec01 .secBox {
  border-radius: 10px;
  background: #ffffff;
}
.flowMain .sec01 .secBox .photoBox {
  position: relative;
}
.flowMain .sec01 .secBox .photoBox .num {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 22px;
  color: #010508;
  line-height: 1;
  border-radius: 50%;
  background: #fdd005;
}
.flowMain .sec01 .secBox .txtBox {
  padding: 30px 20px;
}
.flowMain .sec01 .secBox .txtBox .ttl {
  max-width: 380px;
  margin: 0 0 10px;
  padding: 0 10px 8px;
  font-size: 26px;
  border-bottom: 1px solid #d4e0e3;
}
@media (min-width: 1025px) {
  .flowMain .sec01 .secBox {
    display: flex;
    justify-content: space-between;
  }
  .flowMain .sec01 .secBox .photoBox {
    position: relative;
    top: -20px;
    left: -30px;
    width: 360px;
  }
  .flowMain .sec01 .secBox .txtBox {
    width: calc(100% - 300px);
    padding: 30px 60px 30px 10px;
  }
}
.flowMain .sec01 .itemBox {
  margin: 30px 0 0;
}
.flowMain .sec01 .itemBox .telBox {
  text-align: center;
}
.flowMain .sec01 .itemBox .telBox .tel a {
  display: inline-block;
  padding: 0 0 0 35px;
  font-size: 30px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/footer_tel.png) left top 12px no-repeat;
  background-size: 25px auto;
}
.flowMain .sec01 .itemBox .telBox > p {
  font-size: 13px;
}
.flowMain .sec01 .itemBox .btnBox .btnMore02 {
  width: 220px;
}
@media (min-width: 1025px) {
  .flowMain .sec01 .itemBox {
    display: flex;
    align-items: center;
  }
  .flowMain .sec01 .itemBox .telBox {
    margin: 0 40px 0 0;
  }
}
.flowMain .sec02 {
  position: relative;
  margin: 0 0 120px;
  padding: 60px 0;
}
.flowMain .sec02:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/flow_sec02_bg.png) right no-repeat;
  background-size: cover;
}
.flowMain .sec02 .secBox .map {
  max-width: 440px;
}
@media (min-width: 1025px) {
  .flowMain .sec02 .pageSecTtlBox {
    margin: 0;
  }
  .flowMain .sec02 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -60px 0 0;
    padding: 0 0 0 13%;
  }
  .flowMain .sec02 .secBox .map {
    width: 45%;
  }
  .flowMain .sec02 .secBox .txt {
    width: 55%;
  }
}

/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
.recruitMain .sec01 {
  position: relative;
  margin: 100px 0;
  padding: 0 0 50px;
}
.recruitMain .sec01::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 90%;
  z-index: -1;
  border-radius: 10px 0 0 10px;
  background: #dff0f4;
}
.recruitMain .sec01 .secBox .txtBox .ttl {
  margin: 0 0 30px;
  font-size: 36px;
}
.recruitMain .sec01 .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  .recruitMain .sec01 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .recruitMain .sec01 .secBox .photo {
    width: 43%;
  }
  .recruitMain .sec01 .secBox .txtBox {
    width: 55%;
  }
}
.recruitMain .sec02 {
  margin: 0 0 100px;
  padding: 0 20px;
}
.recruitMain .sec02 .secContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 20px 100px;
  color: #ffffff;
  border-radius: 10px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/recruit_sec02_bg.png) no-repeat;
  background-size: cover;
}
.recruitMain .sec02 .pageSecTtlBox {
  color: #dff0f4;
}
.recruitMain .sec02 .secBox .txtBox .dl + .dl {
  margin: 40px 0 0;
}
.recruitMain .sec02 .secBox .txtBox .dl .dt {
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 0 20px;
  font-size: 20px;
}
.recruitMain .sec02 .secBox .txtBox .dl .dt::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 7px;
  height: 30px;
  border-radius: 10px;
  background: #fdd005;
}
.recruitMain .sec02 .secBox .txtBox .dl .dt p {
  display: inline-block;
}
.recruitMain .sec02 .secBox .txtBox .dl .dt .em {
  font-size: 26px;
}
.recruitMain .sec02 .secBox .txtBox .dl .dd {
  padding: 0 0 0 20px;
  line-height: 2;
}
@media (min-width: 1025px) {
  .recruitMain .sec02 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .recruitMain .sec02 .secBox .photo {
    width: 40%;
  }
  .recruitMain .sec02 .secBox .txtBox {
    width: 55%;
  }
}
.recruitMain .sec02 .btmTxt {
  margin: 30px 0 0;
  font-size: 20px;
  text-align: center;
}
.recruitMain .sec03 {
  margin: 0 0 100px;
}
.recruitMain .sec03 .secPanel {
  padding: 30px 60px;
  border-radius: 10px;
  background: #dff0f4;
}
.recruitMain .sec03 .secPanel + .secPanel {
  margin: 20px 0 0;
}
.recruitMain .sec03 .secPanel .leftBox .ttlBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recruitMain .sec03 .secPanel .leftBox .ttlBox .point {
  width: 40px;
  text-align: center;
}
.recruitMain .sec03 .secPanel .leftBox .ttlBox .point .span {
  font-size: 14px;
  line-height: 1.2;
}
.recruitMain .sec03 .secPanel .leftBox .ttlBox .point .em {
  font-size: 40px;
  line-height: 1;
}
.recruitMain .sec03 .secPanel .leftBox .ttlBox .ttl {
  width: calc(100% - 80px);
  font-size: 26px;
  color: #164e70;
}
@media (min-width: 1025px) {
  .recruitMain .sec03 .secPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .recruitMain .sec03 .secPanel .leftBox {
    width: 40%;
  }
  .recruitMain .sec03 .secPanel .rightBox {
    width: 60%;
  }
}
.recruitMain .sec04 {
  margin: 0 0 100px;
}
.recruitMain .sec04 .topTxt {
  margin: 0 0 30px;
}
.recruitMain .sec04 .listBox .ul .li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 110px;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  background: #164e70;
}
@media (min-width: 1025px) {
  .recruitMain .sec04 .listBox .ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -20px 0 0;
  }
  .recruitMain .sec04 .listBox .ul .li {
    width: calc(33.3333333333% - 20px);
    margin: 20px 0 0;
  }
}
.recruitMain .sec05 {
  position: relative;
  margin: 0 0 100px;
  padding: 60px 0 0;
}
.recruitMain .sec05::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  background: #dff0f4;
}
.recruitMain .sec05 .infoBox {
  margin: 0 0 80px;
}
.recruitMain .sec05 .infoBox .dl {
  display: flex;
  line-height: 2;
}
.recruitMain .sec05 .infoBox .dl + .dl {
  margin: 10px 0 0;
}
.recruitMain .sec05 .infoBox .dl .dt {
  width: 160px;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #164e70;
}
.recruitMain .sec05 .infoBox .dl .dd {
  width: calc(100% - 161px);
  padding: 10px 20px;
  border-bottom: 1px solid #a2cfda;
}
.recruitMain .sec05 .swiperContainer {
  width: calc(600px + 50vw);
  position: relative;
  z-index: 6;
  overflow: visible;
  padding: 100px 0 0;
}
.recruitMain .sec05 .swiperContainer::before {
  content: "";
  position: absolute;
  left: -100px;
  bottom: 0;
  width: 100vw;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: #164e70;
}
.recruitMain .sec05 .swiperContainer .pageSecTtlBox {
  position: absolute;
  top: 40px;
  left: 0;
  color: #dff0f4;
}
.recruitMain .sec05 .swiperContainer .sliderPager {
  position: absolute;
  top: 30px;
  right: 100px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  z-index: 1;
}
.recruitMain .sec05 .swiperContainer .sliderPager > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.recruitMain .sec05 .swiperContainer .swiper-wrapper {
  position: relative;
}
.recruitMain .sec05 .swiperContainer .swiper-slide {
  position: relative;
  padding: 0 0 60px;
}
.recruitMain .sec05 .swiperContainer .swiper-slide .photoBox {
  position: relative;
}
.recruitMain .sec05 .swiperContainer .swiper-slide .photoBox .photo {
  position: relative;
  height: 300px;
}
.recruitMain .sec05 .swiperContainer .swiper-slide .photoBox .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recruitMain .sec06 {
  padding: 0 0 100px;
}
.recruitMain .sec06 .secContainer {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 0;
  border-radius: 10px 0 0 10px;
  background: #fcf2f3;
}
.recruitMain .sec06 .secContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100%;
  z-index: -1;
  background: #fcf2f3;
}
.recruitMain .sec06 .topTxt {
  margin: 0 0 30px;
}

/*////////////////////////////////////////////////////////////
	about
///////////////////////////////////////////////////////////*/
.aboutMain .sec01 {
  position: relative;
  margin: 100px 0;
  padding: 0 0 50px;
}
.aboutMain .sec01::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 90%;
  z-index: -1;
  border-radius: 10px 0 0 10px;
  background: #dff0f4;
}
.aboutMain .sec01 .secBox .photoBox .nameBox {
  margin: 20px 0 0;
  color: #164e70;
  text-align: right;
}
.aboutMain .sec01 .secBox .photoBox .nameBox .name p {
  display: inline-block;
}
.aboutMain .sec01 .secBox .photoBox .nameBox .name .em {
  margin: 0 0 0 10px;
  font-size: 30px;
}
.aboutMain .sec01 .secBox .txtBox .ttl {
  margin: 0 0 30px;
  font-size: 36px;
}
.aboutMain .sec01 .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  .aboutMain .sec01 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .aboutMain .sec01 .secBox .photoBox {
    width: 43%;
  }
  .aboutMain .sec01 .secBox .txtBox {
    width: 55%;
  }
}
.aboutMain .sec02 {
  position: relative;
  margin: 0 0 100px;
  padding: 60px 0 0;
}
.aboutMain .sec02::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 95%;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  background: #dff0f4;
}
.aboutMain .sec02 .infoBox .dl {
  display: flex;
  line-height: 2;
}
.aboutMain .sec02 .infoBox .dl + .dl {
  margin: 10px 0 0;
}
.aboutMain .sec02 .infoBox .dl .dt {
  width: 160px;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #164e70;
}
.aboutMain .sec02 .infoBox .dl .dd {
  width: calc(100% - 161px);
  padding: 10px 20px;
  border-bottom: 1px solid #a2cfda;
}
.aboutMain .sec02 .infoBox .dl .dd a {
  display: inline-block;
}
.aboutMain .sec02 .secBox {
  margin: 0 0 60px;
}
@media (min-width: 1025px) {
  .aboutMain .sec02 .secBox {
    display: flex;
    justify-content: space-between;
  }
  .aboutMain .sec02 .secBox .photo {
    width: 40%;
  }
  .aboutMain .sec02 .secBox .txtBox {
    width: 55%;
  }
}
.aboutMain .sec02 .instaBox {
  max-width: 1000px;
  margin: 0 auto 60px;
}
.aboutMain .sec02 .instaBox a {
  display: block;
  padding: 30px 20px;
  border-radius: 10px;
  background: #ffffff;
}
.aboutMain .sec02 .instaBox .inner .qr {
  width: 120px;
}
.aboutMain .sec02 .instaBox .inner .dl .dt {
  margin: 0 0 10px;
  font-size: 30px;
  color: #164e70;
}
.aboutMain .sec02 .instaBox .inner .dl .dd {
  line-height: 2;
}
@media (min-width: 1025px) {
  .aboutMain .sec02 .instaBox .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (min-width: 1025px) {
  .aboutMain .sec02 .mapPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .aboutMain .sec02 .mapPanel .mapBox {
    width: 80%;
  }
}
.aboutMain .sec03 {
  padding: 0 0 120px;
}
.aboutMain .sec03 .secPanel {
  padding: 40px 60px;
  color: #ffffff;
  border-radius: 10px;
  background: #45c3db;
}
.aboutMain .sec03 .secBox .txtBox .pageSecTtlBox {
  margin: 0 0 20px;
}
.aboutMain .sec03 .secBox .txtBox .itemBox {
  margin: 20px 0 0;
}
.aboutMain .sec03 .secBox .txtBox .itemBox .telBox {
  text-align: center;
}
.aboutMain .sec03 .secBox .txtBox .itemBox .telBox .tel a {
  display: inline-block;
  padding: 0 0 0 35px;
  font-size: 30px;
  color: #ffffff;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/about_icon_tel.png) left top 12px no-repeat;
  background-size: 25px auto;
}
.aboutMain .sec03 .secBox .txtBox .itemBox .telBox > p {
  font-size: 14px;
  text-align: right;
}
.aboutMain .sec03 .secBox .txtBox .itemBox .btnBox .btnMore {
  width: 180px;
}
@media (min-width: 1025px) {
  .aboutMain .sec03 .secBox .txtBox .itemBox {
    display: flex;
    align-items: center;
  }
  .aboutMain .sec03 .secBox .txtBox .itemBox .telBox {
    margin: 0 40px 0 0;
  }
}
@media (min-width: 1025px) {
  .aboutMain .sec03 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aboutMain .sec03 .secBox .photo {
    width: 45%;
  }
  .aboutMain .sec03 .secBox .txtBox {
    width: 50%;
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain .sec01 {
  padding: 80px 0;
}
.contactMain .sec01 .topTxt {
  margin: 0 0 30px;
}
.contactMain .sec01 .contactBox {
  max-width: 560px;
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
}
.contactMain .sec01 .contactBox .ttl {
  display: inline-block;
  font-size: 26px;
}
.contactMain .sec01 .contactBox .ttl01 {
  padding: 0 0 0 40px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/footer_contact_ttl_tel.png) left center no-repeat;
  background-size: 30px auto;
}
.contactMain .sec01 .contactBox01 {
  background: #dff0f4;
}
.contactMain .sec01 .contactBox01 .tel a {
  display: inline-block;
  padding: 0 0 0 35px;
  font-size: 36px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/footer_tel.png) left top 18px no-repeat;
  background-size: 25px auto;
}
.contactMain .sec02 {
  padding: 0 0 100px;
}
.contactMain .sec02 .secContainer {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 0;
  border-radius: 10px 0 0 10px;
  background: #fcf2f3;
}
.contactMain .sec02 .secContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100%;
  z-index: -1;
  background: #fcf2f3;
}
.contactMain .sec02 .topTxt {
  margin: 0 0 30px;
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  /*テキストエリア*/
}
.formMain .contactForm input[type=text],
.formMain .contactForm input[type=email],
.formMain .contactForm input[type=tel] {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background: #ffffff;
  resize: none;
}
.formMain .contactForm input[type=text]:focus,
.formMain .contactForm input[type=email]:focus,
.formMain .contactForm input[type=tel]:focus,
.formMain .contactForm textarea:focus {
  outline: 0;
  border: 2px solid #90cefd;
}
.formMain .contactForm button[type=submit] {
  overflow: hidden;
  position: relative;
  display: block;
  max-width: 220px;
  width: 100%;
  margin: 60px auto 0;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  border: 1px solid #164e70;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/btn_more_arrow_white.png) right 15px center no-repeat #164e70;
  background-size: 5px auto;
  transition: 0.6s;
}
.formMain .contactForm button[type=submit][disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
.formMain .contactForm .form .checkList .ul + .ul {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList .ul .li + .li {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList01 .ul .li {
  display: inline-block;
}
.formMain .contactForm .form .checkList01 .ul .li + .li {
  margin: 0 0 0 10px;
}
.formMain .contactForm .form .checkList01 .checkItem {
  display: inline-block;
  padding: 0 5px 0 0;
}
.formMain .contactForm .form .checkList01 .checkItem + input {
  display: inline-block;
  width: 150px;
}
.formMain .contactForm .form .checkList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .checkItem + .checkItem {
  margin-top: 10px;
}
.formMain .contactForm .form .checkItem > label {
  position: relative;
  display: block;
}
.formMain .contactForm .form .checkItem input {
  position: absolute;
  opacity: 0;
}
.formMain .contactForm .form .checkItem span {
  display: block;
  padding-left: 20px;
  position: relative;
}
.formMain .contactForm .form .checkItem span::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  background: #ffffff;
}
.formMain .contactForm .form .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #164e70;
  border-right: 3px solid #164e70;
}
.formMain .contactForm .form .checkItem.agreeCheck > label {
  display: inline-block;
}
.formMain .contactForm .form .radioList01 .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .form .radioList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .radioBox .radio {
  position: relative;
  display: inline-block;
}
.formMain .contactForm .form .radioBox input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.formMain .contactForm .form .radioBox label {
  position: relative;
  padding: 5px 0 5px 35px;
}
.formMain .contactForm .form .radioBox label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  margin: auto 0;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background: #ffffff;
  box-sizing: border-box;
}
.formMain .contactForm .form .radioBox input[type=radio]:checked + label:before {
  border: 8px solid #164e70;
}
.formMain .contactForm .form .postalBox input {
  width: 90px;
}
.formMain .contactForm .form .postalBox input + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .postalBox .postalTxt {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .selectBox {
  display: inline-block;
  width: 200px;
}
.formMain .contactForm .form .selectBox select {
  display: block;
  width: 100%;
  padding: 11px 20px;
  font-size: 16px;
  color: #000000;
  line-height: 1.5em;
  border-radius: 0;
  border: 1px solid #deebe4;
  border-radius: 15px;
  background: #f7f7f7;
  background-size: 10px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .form .selectBox + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .formBox + .formBox {
  margin-top: 60px;
}
.formMain .contactForm .formBox > .dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}
.formMain .contactForm .formBox > .dl.line {
  align-items: flex-start;
}
.formMain .contactForm .formBox > .dl.line > .dt {
  padding: 20px 0 0;
}
.formMain .contactForm .formBox > .dl > .dt {
  width: 310px;
  padding: 15px 0 10px;
}
.formMain .contactForm .formBox > .dl > .dt .span {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.formMain .contactForm .formBox > .dl > .dt .em {
  display: inline-block;
  padding: 0 8px;
  font-size: 14px;
  color: #ffffff;
  vertical-align: middle;
  border-radius: 4px;
  background: #164e70;
}
.formMain .contactForm .formBox > .dl > .dt .small {
  font-size: 12px;
}
.formMain .contactForm .formBox > .dl > .dt .aside {
  margin-top: 10px;
}
.formMain .contactForm .formBox > .dl > .dt .aside p {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
}
.formMain .contactForm .formBox > .dl > .dd {
  width: calc(100% - 330px);
  padding: 5px 0;
}
.formMain .contactForm .formBox .datePanel {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.formMain .contactForm .formBox .datePanel + .datePanel {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .datePanel > * {
  display: flex;
  align-items: center;
}
.formMain .contactForm .formBox .datePanel input {
  width: 70px;
  border-radius: 15px;
}
.formMain .contactForm .formBox .datePanel .selectBox {
  width: 70px;
}
.formMain .contactForm .formBox .datePanel .dateTtl {
  margin: 0 10px 0 0;
}
.formMain .contactForm .formBox .datePanel .dateTxt {
  margin: 0 5px;
}
.formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
  display: table;
  width: 100%;
}
.formMain .contactForm .formBox .addressBox .dl + .dl,
.formMain .contactForm .formBox .dateBox .dl + .dl {
  margin-top: 10px;
}
.formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
  display: table-cell;
  width: 60px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
  display: table-cell;
  vertical-align: middle;
}
.formMain .contactForm .formBox .ageInput input {
  display: inline-block;
  width: 120px;
  margin: 0 5px 0 0;
}
.formMain .contactForm .formBox .ageInput > p {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox {
  margin: 0 0 20px;
}
.formMain .contactForm .formBox .meetingBox .radioList {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .dateBox + .dateBox {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox + .txt {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox input[type=text] {
  width: 90px;
}
.formMain .contactForm .formBox .dateBox .em {
  display: inline-block;
}
.formMain .contactForm .formBox .dateBox .span {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .dateBox .radioList {
  display: inline-block;
  margin: 0 0 0 40px;
}
.formMain .contactForm .formBox .dateBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .caution {
  margin-top: 10px;
  color: #d20000;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox {
  padding: 10px 10px 40px;
  font-size: 0;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox > * {
  display: inline-block;
  font-size: 14px;
}
.formMain .contactForm .formBox .telTxt {
  padding: 10px 10px 0;
}
.formMain .contactForm .formBox .privacy {
  max-width: 1000px;
  margin: 30px auto 0;
  text-align: center;
}
.formMain .contactForm .formBox .privacy > p {
  margin: 0 0 20px;
  text-align: left;
}
.formMain .contactForm .formBox .privacy .agreeBox {
  overflow: scroll;
  height: 500px;
  padding: 20px;
  font-weight: 400;
  text-align: left;
  border-radius: 20px;
  background: #f6e9eb;
}
.formMain .contactForm .formBox .privacy .agreeBox .box + .box {
  margin: 30px 0 0;
}
.formMain .contactForm .formBox .privacy .agreeBox .box .link a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy .agreeBox p {
  line-height: 2;
}
.formMain .contactForm .formBox .privacy .agreeBox .tel p,
.formMain .contactForm .formBox .privacy .agreeBox .tel a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy + .checkItem {
  margin: 40px 0;
  text-align: center;
}
.formMain .contactForm .fileUploadBox .ttl {
  margin: 0 0 10px;
  line-height: 2;
}
.formMain .contactForm .fileUploadBox .fileArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formMain .contactForm .fileUploadBox .fileArea + .fileArea {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile {
  position: relative;
  width: 28%;
  font-size: 16px;
  color: #b4d2be;
  text-align: center;
  border: 1px solid #41ab6d;
  background: #ffffff;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile p {
  padding: 12px 10px;
}
.formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
  width: 70%;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt p {
  display: inline-block;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .fileName {
  margin: 0 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .attention {
  font-size: 13px;
  color: #54765f;
}
.formMain .contactForm .fileUploadBox .txt {
  line-height: 2;
}
.formMain .contactForm .aside {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadTitleBox {
  margin: 60px 0 30px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle {
  position: relative;
  max-width: 440px;
  margin: 0 0 20px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #000000;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 30px;
  font-weight: bold;
  background: #ffffff;
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 60px 0 100px;
}
.complete .txt {
  margin: 0 0 40px;
  text-align: center;
  line-height: 3;
}
.complete .btnMore {
  margin: 0 auto;
}

/*////////////////////////////////////////////////////////////
	works
///////////////////////////////////////////////////////////*/
.worksMain .mainContainer {
  padding: 80px 20px 120px;
}
.worksMain .blogSection {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 0 120px;
  border-radius: 10px;
  background: #dff0f4;
}
.worksMain .catePanel {
  margin: 0 0 60px;
}
.worksMain .catePanel .categoryBox {
  padding: 15px 0;
}
.worksMain .catePanel .webgene-header {
  display: none;
}
.worksMain .catePanel .allItem a,
.worksMain .catePanel .webgene-item a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  border-radius: 25px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/cate_arrow.png) right 15px center no-repeat #164e70;
}
.worksMain .catePanel .allItem .active,
.worksMain .catePanel .webgene-item .active {
  background: #d10b14;
}
@media (min-width: 1025px) {
  .worksMain .catePanel .categoryBox,
.worksMain .catePanel .webgene-blog {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .worksMain .catePanel .categoryBox .allItem,
.worksMain .catePanel .categoryBox .webgene-item,
.worksMain .catePanel .webgene-blog .allItem,
.worksMain .catePanel .webgene-blog .webgene-item {
    width: 200px;
  }
  .worksMain .catePanel .categoryBox .webgene-header,
.worksMain .catePanel .webgene-blog .webgene-header {
    margin: 0;
  }
  .worksMain .catePanel .categoryBox .webgene-item,
.worksMain .catePanel .webgene-blog .webgene-item {
    margin: 0 0 0 20px;
  }
}
.worksMain .blogPanel--list .webgene-blog .webgene-header {
  display: none;
}
.worksMain .blogPanel--list .webgene-blog .webgene-item {
  padding: 0 0 20px;
}
.worksMain .blogPanel--list .webgene-blog .webgene-item a {
  display: block;
  font-size: 15px;
}
.worksMain .blogPanel--list .webgene-blog .webgene-item .photo {
  margin: 0 0 10px;
}
.worksMain .blogPanel--list .webgene-blog .webgene-item .photo img {
  border-radius: 10px;
}
.worksMain .blogPanel--list .webgene-blog .webgene-item .infoBox {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
}
.worksMain .blogPanel--list .webgene-blog .webgene-item .infoBox .cate {
  min-width: 100px;
  margin: 0 0 0 10px;
  padding: 0 10px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  background: #164e70;
}
@media (min-width: 1025px) {
  .worksMain .blogPanel--list .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -60px 0 0 -80px;
  }
  .worksMain .blogPanel--list .webgene-blog .webgene-item {
    width: calc(33.3333333333% - 80px);
    margin: 60px 0 0 80px;
  }
  .worksMain .blogPanel--list .webgene-blog .webgene-item .photo {
    position: relative;
    height: 280px;
  }
  .worksMain .blogPanel--list .webgene-blog .webgene-item .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.worksMain .blogPanel--list .webgene-pagination {
  overflow: hidden;
  width: 100%;
  margin: 100px auto 0;
  font-size: 14px;
}
.worksMain .blogPanel--list .webgene-pagination ul {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.worksMain .blogPanel--list .webgene-pagination ul li {
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
}
.worksMain .blogPanel--list .webgene-pagination ul li a {
  display: block;
  width: 45px;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background: #b2dae3;
}
.worksMain .blogPanel--list .webgene-pagination ul .prev {
  margin: 0 2px 0 0;
}
.worksMain .blogPanel--list .webgene-pagination ul .prev a {
  height: 45px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/webgene_pagination_prev.png) center no-repeat;
  background-size: 15px auto;
}
.worksMain .blogPanel--list .webgene-pagination ul .next {
  position: relative;
  margin: 0 0 0 2px;
}
.worksMain .blogPanel--list .webgene-pagination ul .next a {
  height: 45px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/webgene_pagination_next.png) center no-repeat;
  background-size: 15px auto;
}
.worksMain .blogPanel--list .webgene-pagination ul .selected a {
  background: #164e70;
}
@media (min-width: 1025px) {
  .worksMain .blogPanel--list .webgene-pagination ul .prev {
    float: left;
  }
  .worksMain .blogPanel--list .webgene-pagination ul .next {
    float: right;
  }
}
.worksMain .blogPanel--detail {
  max-width: 1100px;
  margin: 0 auto;
}
.worksMain .blogPanel--detail .webgene-blog .webgene-header {
  display: none;
}
.worksMain .blogPanel--detail .webgene-blog .info {
  margin: 0 0 15px;
}
.worksMain .blogPanel--detail .webgene-blog .info .cate {
  display: inline-block;
  min-width: 100px;
  padding: 0 10px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  vertical-align: middle;
  background: #164e70;
}
.worksMain .blogPanel--detail .webgene-blog .info .time {
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: middle;
}
.worksMain .blogPanel--detail .webgene-blog .ttlBox {
  margin: 0 0 20px;
  font-size: 30px;
}
.worksMain .blogPanel--detail .webgene-blog .slickSlide {
  margin: 0 0 40px;
}
.worksMain .blogPanel--detail .webgene-blog .slick-list {
  margin: 0 0 10px;
}
.worksMain .blogPanel--detail .webgene-blog .thumb-item {
  margin: 0 auto 10px;
}
@media (min-width: 1025px) {
  .worksMain .blogPanel--detail .webgene-blog .thumb-item img {
    display: block;
    width: auto;
    max-height: 600px;
    margin: 0 auto;
    object-fit: cover;
  }
}
.worksMain .blogPanel--detail .webgene-blog .slick-slide {
  margin: 0 10px;
}
.worksMain .blogPanel--detail .webgene-blog .slideNav .slider .li > div {
  overflow: hidden;
  position: relative;
  padding: 0 0 80%;
}
.worksMain .blogPanel--detail .webgene-blog .slideNav .slider .li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.worksMain .blogPanel--detail .webgene-blog .slideNav .slick-slide {
  margin: 0 5px;
}
.worksMain .blogPanel--detail .webgene-blog .postBox .photo {
  margin-bottom: 40px;
}
.worksMain .blogPanel--detail .webgene-blog .postBox .photo img {
  width: auto;
  max-width: 100%;
}
.worksMain .blogPanel--detail .webgene-blog .postBox .postTxt {
  line-height: 2;
}
.worksMain .blogPanel--detail .webgene-blog .postBox .postTxt p + p {
  margin: 30px 0 0;
}
.worksMain .blogPanel--detail .webgene-blog .postBox .postTxt img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.worksMain .blogPanel--detail .webgene-blog .postBox .pdfArea {
  margin: 40px 0 0;
}
.worksMain .blogPanel--detail .webgene-blog .postBox .pdfArea a {
  color: #2151a3;
}
.worksMain .blogPanel--detail .btnBackBox {
  margin: 80px 0 0;
  text-align: center;
}
.worksMain .blogPanel--detail .btnBack {
  display: inline-block;
  width: 160px;
  margin: 0 5px;
}
.worksMain .blogPanel--detail .btnBack a {
  display: block;
  padding: 10px;
  color: #164e70;
  text-align: center;
  border-radius: 20px;
  background: url(https://revise240325.smooooth.jp/system_panel/uploads/images/btn_back_arrow.png) left 15px center no-repeat #fdd005;
  background-size: 4px auto;
}
.worksMain .blogPanel--detail .webgene-item-aroundPageLink {
  display: inline-block;
}
.worksMain .blogPanel--detail .webgene-item-aroundPageLink a {
  display: block;
  width: 40px;
  color: #ffffff;
  line-height: 44px;
  border-radius: 20px;
  background: #164e70;
}