@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain {
  .topKvContainer {
    padding: 0 20px;
    .topKvPanel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1600px;
      margin: 0 auto;
      height: 800px;
      padding: 40px 100px;
      border-radius: 10px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_kv_01.png)
        center no-repeat;
      background-size: cover;
    }
    .kvTtlBox {
      position: relative;
      width: 100%;
      max-width: 800px;
      height: 350px;
      padding: 40px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_kv_ttl_bg.png)
        no-repeat;
      background-size: 100% auto;
    }
    .kvTtl {
      margin: 0 0 20px;
      font-size: 22px;
      text-align: center;
      border-radius: 20px;
      background: #f1e2b6;
    }
    .kvMesBox {
      margin: 0 0 20px;
      .kvMes {
        font-size: 0;
        p {
          display: inline;
          font-size: 44px;
          line-height: 1.3;
        }
        .em {
          color: #e6b30e;
        }
      }
    }
    .txt {
      font-size: 18px;
    }
    .icon {
      position: absolute;
      right: -30px;
      bottom: -10px;
      width: 250px;
    }
  }
  .disasterContainer {
    padding: 60px 0;
    .disasterPanel {
      padding: 10px;
      border-radius: 6px;
      background: #e6b30e;
      .ttlBox {
        margin: 0 0 5px;
        .ttl {
          max-width: 900px;
          margin: 0 auto;
          padding: 0 0 0 60px;
          font-size: 30px;
          color: #ffffff;
          background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_disaster_icon.png)
            left center no-repeat;
          background-size: 50px auto;
        }
      }
      .txtBox {
        padding: 30px 20px;
        border-radius: 6px;
        background: #ffffff;
        .txt {
          margin: 0 0 20px;
          text-align: center;
        }
      }
    }
  }
  .troubleContainer {
    padding: 0 0 100px;
    .ttl {
      margin: 0 0 20px;
      padding: 45px 0 0;
      font-size: 30px;
      text-align: center;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_trouble_ttl_icon.png)
        center top no-repeat;
      background-size: 60px auto;
    }
    .listBox {
      max-width: 800px;
      margin: 0 auto;
      .ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .li {
          width: calc((100% / 2) - 20px);
        }
      }
    }
  }
  .introSection {
    padding: 0 20px 100px;
    .introContainer {
      max-width: 1640px;
      margin: 0 auto;
      padding: 80px 0;
      border-radius: 10px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_intro_bg.png)
        no-repeat;
      background-size: cover;
    }
    .ttlBox {
      margin: 0 0 40px;
      text-align: center;
      .ttl {
        + .ttl {
          margin: 5px 0 0;
        }
        p {
          display: inline-block;
          font-size: 30px;
          line-height: 1.2;
          vertical-align: bottom;
        }
      }
      .logo {
        display: inline-block;
        width: 200px;
        vertical-align: bottom;
      }
    }
    .chartBox {
      position: relative;
      margin: 0 0 40px;
      .chart {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
      }
      .list {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: 280px;
            img {
              border-radius: 6px;
            }
          }
        }
      }
      .list01 {
        max-width: 900px;
        margin: 0 auto 30px;
      }
      .list02 {
        max-width: 1080px;
        margin: 0 auto;
      }
    }
    .txt {
      margin: 0 0 30px;
      text-align: center;
      p + p {
        margin: 20px 0 0;
      }
    }
    .message {
      text-align: center;
      p {
        display: inline-block;
        padding: 0 10px;
        font-size: 30px;
        background: linear-gradient(transparent 75%, #f1e2b6 0%);
      }
    }
  }
  .roofContactContainer {
    margin: 0 0 120px;
  }
  .sec01 {
    padding: 0 0 120px;
    .topTxt {
      margin: 20px 0 0;
      text-align: center;
    }
    .list01 {
      margin: 0 0 40px;
      text-align: center;
      .ul {
        a {
          display: block;
        }
        .photo {
          img {
            border-radius: 6px;
          }
        }
        .ttl {
          padding: 10px;
          text-align: center;
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 2) - 20px);
          }
          .photo {
            position: relative;
            height: 400px;
            img {
              @include cover-image;
            }
          }
        }
      }
    }
    .list02 {
      text-align: center;
      .ul {
        a {
          display: block;
        }
        .photo {
          img {
            border-radius: 6px;
          }
        }
        .ttl {
          padding: 10px;
          text-align: center;
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 20px);
          }
          .photo {
            position: relative;
            height: 250px;
            img {
              @include cover-image;
            }
          }
        }
      }
    }
  }
  .sec02 {
    padding: 0 20px;
    .strContainer {
      max-width: 1640px;
      margin: 0 auto;
      padding: 120px 0;
      border-radius: 10px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_intro_bg.png)
        no-repeat;
      background-size: cover;
    }
    .listBox {
      margin: 0 0 40px;
      .ul {
        .photo {
          img {
            border-radius: 6px;
          }
        }
        .ttl {
          margin: 20px 0;
          font-size: 20px;
          text-align: center;
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 20px);
          }
          .photo {
            position: relative;
            height: 250px;
            img {
              @include cover-image;
            }
          }
        }
      }
    }
  }
  .sec03 {
    padding: 120px 0 0;
    .webgene-blog {
      margin: 0 0 60px;
      .webgene-header {
        display: none;
      }
      .webgene-item {
        a {
          display: block;
        }
        .photo {
          margin: 0 0 10px;
          img {
            border-radius: 6px;
          }
        }
        .infoBox {
          margin: 0 0 5px;
          .time {
            color: #c0c0c0;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .webgene-blog {
        display: flex;
        .webgene-item {
          width: calc((100% / 4) - 40px);
          margin: 0 0 0 40px;
          .photo {
            position: relative;
            height: 200px;
            img {
              @include cover-image;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	strength
///////////////////////////////////////////////////////////*/
.strengthMain {
  .pageKvPanel {
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/strength_kv.png)
      center no-repeat;
    background-size: cover;
  }
  .topSection {
    padding: 60px 0 30px;
    .ttl {
      margin: 0 0 40px;
      padding: 45px 0 0;
      font-size: 30px;
      text-align: center;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/strength_top_ttl_icon.png)
        center top no-repeat;
      background-size: 60px auto;
    }
    .txt {
      text-align: center;
      p + p {
        margin: 20px 0 0;
      }
    }
  }
  .slidePanel {
    .slideBox {
      .ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .li {
          position: relative;
          width: calc(100% / 7);
          height: 240px;
          margin: 0 5px;
          img {
            @include cover-image;
            border-radius: 6px;
          }
        }
      }
    }
  }
  .sec01 {
    padding: 120px 0;
    .secBox {
      + .secBox {
        margin: 80px 0 0;
      }
      .photoBox {
        .photo {
          max-width: 450px;
          img {
            border-radius: 6px;
          }
        }
      }
      .txtBox {
        .ttlBox {
          margin: 0 0 30px;
          .ttl {
            font-size: 0;
            p {
              display: inline;
              font-size: 34px;
            }
            .em {
              color: #e6b30e;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .photoBox {
          width: 45%;
        }
        .txtBox {
          width: 50%;
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
        &:nth-child(even) {
          .photoBox {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 0 20px;
    .strContainer {
      max-width: 1640px;
      margin: 0 auto;
      padding: 120px 0;
      border-radius: 10px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_intro_bg.png)
        no-repeat;
      background-size: cover;
    }
    .areaContainer {
      .areaBox {
        > p {
          margin: 10px 0 0;
        }
      }
      .txtBox {
        .infoBox {
          .table {
            border-radius: 6px;
            border: 1px solid #000000;
            background: #ffffff;
            .tr {
              display: table;
              width: 100%;
              line-height: 2;
              + .tr {
                border-top: 1px solid #000000;
              }
              .th {
                display: table-cell;
                width: 110px;
                padding: 15px 10px;
                text-align: center;
                border-right: 1px solid #000000;
              }
              .td {
                display: table-cell;
                padding: 15px 20px;
              }
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .areaContainer {
        display: flex;
        justify-content: space-between;
        .areaBox {
          width: 30%;
        }
        .txtBox {
          width: 68%;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	reform
///////////////////////////////////////////////////////////*/
.reformMain {
  .topSection {
    margin: 40px 0 0;
    padding: 0 20px;
    .secContainer {
      max-width: 1600px;
      margin: 0 auto;
      padding: 60px 0;
      border-radius: 10px;
      background: #0071a9;
    }
    .topTtl {
      margin: 0 0 60px;
      padding: 45px 0 0;
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/reform_top_ttl_icon.png)
        center top no-repeat;
      background-size: 60px auto;
    }
    .listBox {
      margin: 0 0 60px;
      .ul {
        .li {
          padding: 20px;
          border-radius: 6px;
          background: #ffffff;
        }
        .photo {
          img {
            border-radius: 6px;
          }
        }
        .ttl {
          margin: 20px 0;
          font-size: 20px;
          text-align: center;
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 20px);
          }
          .photo {
            position: relative;
            height: 240px;
            img {
              @include cover-image;
            }
          }
        }
      }
    }
    .messageBox {
      color: #ffffff;
      text-align: center;
      .message {
        margin: 0 0 30px;
        p {
          display: inline-block;
          padding: 0 10px;
          font-size: 30px;
          background: linear-gradient(transparent 75%, #228dc2 0%);
        }
      }
      .dl {
        .dt {
          margin: 0 0 30px;
          font-size: 24px;
          color: #ffc91c;
        }
        .dd {
          line-height: 2;
        }
      }
    }
  }
  .sec01 {
    padding: 120px 0;
    .topTxt {
      margin: 20px 0 0;
      text-align: center;
    }
    .secPanel {
      + .secPanel {
        margin: 60px 0 0;
      }
      .ttl {
        display: inline-block;
        margin: 0 0 20px;
        padding: 0 20px;
        font-size: 20px;
        text-align: center;
        border-radius: 20px;
        background: #f1e2b6;
        + p {
          margin: 0 0 20px;
        }
      }
      .secBox {
        .photoBox {
          position: relative;
          p {
            position: absolute;
            top: -10px;
            left: 20px;
            width: 120px;
            padding: 10px;
            color: #ffffff;
            text-align: center;
            border-radius: 6px;
            background: #0071a9;
          }
        }
        .arrowBox {
          .arrow {
            width: 50px;
            margin: 0 auto;
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .photoBox01 {
          }
          .arrowBox {
            position: relative;
            top: -160px;
            width: 80px;
          }
          .photoBox02 {
          }
        }
      }
    }
  }
  .sec02 {
    padding: 0 0 120px;
    .secBox {
      + .secBox {
        margin: 80px 0 0;
      }
      .photoBox {
        .photo {
          max-width: 450px;
          img {
            border-radius: 6px;
          }
        }
      }
      .txtBox {
        .ttlBox {
          margin: 0 0 30px;
          .ttl {
            font-size: 0;
            p {
              display: inline;
              font-size: 34px;
            }
            .em {
              color: #e6b30e;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .photoBox {
          width: 45%;
        }
        .txtBox {
          width: 50%;
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
        &:nth-child(even) {
          .photoBox {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }
    }
  }
  .sec03 {
    padding: 0 20px;
    .strContainer {
      max-width: 1640px;
      margin: 0 auto;
      padding: 120px 0;
      border-radius: 10px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_intro_bg.png)
        no-repeat;
      background-size: cover;
    }
    .topTxt {
      margin: 20px 0 0;
      text-align: center;
    }
    .priceBox {
      margin: 0 0 40px;
      border-radius: 6px;
      border: 1px solid #000000;
      background: #ffffff;
      .dl {
        display: table;
        width: 100%;
        .dt {
          display: table-cell;
          width: 400px;
          padding: 10px;
          text-align: center;
          vertical-align: middle;
          border-right: 1px solid #000000;
        }
        .dd {
          display: table-cell;
          padding: 10px;
          text-align: center;
          vertical-align: middle;
          .price {
            font-size: 0;
            p {
              display: inline;
              font-size: 20px;
              color: #ff0000;
            }
            .em {
              font-size: 30px;
            }
          }
        }
      }
    }
    .breakdownBox {
      .table {
        overflow: hidden;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #000000;
        .thead {
          padding: 15px 10px;
          border-bottom: 1px solid #000000;
          background: #fff9cc;
        }
        .tbody {
          .tr {
            display: table;
            width: 100%;
            + .tr {
              border-top: 1px solid #000000;
            }
            .td {
              display: table-cell;
              width: calc(100% / 3);
              vertical-align: top;
              + .td {
                border-left: 1px solid #000000;
              }
              .dl {
                .dt {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  min-height: 65px;
                  padding: 10px;
                  border-bottom: 1px solid #000000;
                  background: #d7f4f7;
                }
                .dd {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  min-height: 65px;
                  padding: 10px;
                  background: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	wall
///////////////////////////////////////////////////////////*/
.wallMain {
  .pageKvPanel {
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/wall_kv.png)
      center no-repeat;
    background-size: cover;
  }
}

/*////////////////////////////////////////////////////////////
	roof
///////////////////////////////////////////////////////////*/
.roofMain {
  .pageKvPanel {
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/roof_kv.png)
      center no-repeat;
    background-size: cover;
  }
}

/*////////////////////////////////////////////////////////////
	waterproof
///////////////////////////////////////////////////////////*/
.waterproofMain {
  .pageKvPanel {
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/waterproof_kv.png)
      center no-repeat;
    background-size: cover;
  }
  .sec01 {
    padding: 120px 0;
  }
  .sec02 {
    padding: 0 0 120px;
  }
  .section {
    .secBox01 {
      .photo {
        img {
          border-radius: 6px;
        }
      }
      .txtBox {
        padding: 20px 0 0;
        .txt {
          line-height: 2.2;
          p + p {
            margin: 20px 0 0;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox01 {
        display: flex;
        justify-content: space-between;
        .photo {
          width: 45%;
        }
        .txtBox {
          width: 50%;
        }
      }
    }
    .secBox02 {
      margin: 60px 0 0;
      .topTtl {
        display: inline-block;
        margin: 0 0 30px;
        padding: 0 20px;
        font-size: 20px;
        text-align: center;
        border-radius: 20px;
        background: #f1e2b6;
      }
      .listBox {
        .ul {
          .li {
            text-align: center;
          }
          .photo {
            img {
              border-radius: 6px;
            }
          }
          .ttl {
            display: inline-block;
            min-width: 180px;
            margin: 15px 0 0;
            padding: 5px 20px;
            text-align: center;
            border-radius: 20px;
            background: #e4e8ea;
          }
          .txt {
            margin: 15px 0 0;
            text-align: left;
          }
        }
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            justify-content: space-between;
            .li {
              width: calc((100% / 3) - 20px);
            }
            .photo {
              position: relative;
              height: 270px;
              img {
                @include cover-image;
              }
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	disaster
///////////////////////////////////////////////////////////*/
.disasterMain {
  .pageKvPanel {
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/disaster_kv.png)
      center no-repeat;
    background-size: cover;
  }
  .topSection {
    padding: 60px 0 30px;
    .ttl {
      margin: 0 0 40px;
      padding: 45px 0 0;
      font-size: 30px;
      text-align: center;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/strength_top_ttl_icon.png)
        center top no-repeat;
      background-size: 60px auto;
    }
    .secBox {
      max-width: 1100px;
      margin: 0 auto 30px;
      padding: 40px;
      border-radius: 6px;
      border: 1px solid #005f85;
      .photo {
        img {
          border-radius: 6px;
        }
      }
      .txtBox {
        .dl {
          .dt {
            margin: 0 0 20px;
            font-size: 26px;
          }
          .dd {
            line-height: 2;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .photo {
          width: 35%;
        }
        .txtBox {
          width: 60%;
        }
      }
    }
    .messageBox {
      max-width: 1100px;
      margin: 0 auto;
      .message {
        + .message {
          margin: 20px 0 0;
        }
        p {
          display: inline-block;
          padding: 5px 20px;
          font-size: 20px;
          text-align: center;
          border-radius: 20px;
          background: #f1e2b6;
        }
      }
    }
  }
  .troubleSection {
    margin: 40px 0;
    padding: 0 20px;
    .secContainer {
      max-width: 1600px;
      margin: 0 auto;
      padding: 60px 0;
      border-radius: 10px;
      background: #0071a9;
    }
    .topTtl {
      margin: 0 0 30px;
      padding: 45px 0 0;
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/reform_top_ttl_icon.png)
        center top no-repeat;
      background-size: 60px auto;
    }
    .txt {
      color: #ffffff;
      text-align: center;
    }
  }
  .sec01 {
    padding: 0 20px;
    .strContainer {
      max-width: 1640px;
      margin: 0 auto;
      padding: 120px 0;
      border-radius: 10px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_intro_bg.png)
        no-repeat;
      background-size: cover;
    }
    .areaContainer {
      .areaBox {
        > p {
          margin: 10px 0 0;
        }
      }
      .txtBox {
        .infoBox {
          .table {
            border-radius: 6px;
            border: 1px solid #000000;
            background: #ffffff;
            .tr {
              display: table;
              width: 100%;
              line-height: 2;
              + .tr {
                border-top: 1px solid #000000;
              }
              .th {
                display: table-cell;
                width: 110px;
                padding: 15px 10px;
                text-align: center;
                border-right: 1px solid #000000;
              }
              .td {
                display: table-cell;
                padding: 15px 20px;
              }
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .areaContainer {
        display: flex;
        justify-content: space-between;
        .areaBox {
          width: 30%;
        }
        .txtBox {
          width: 68%;
        }
      }
    }
  }
  .sec02 {
    padding: 120px 0;
    .topTxt {
      margin: 20px 0 0;
      text-align: center;
    }
    .secPanel {
      + .secPanel {
        margin: 60px 0 0;
      }
      .ttl {
        display: inline-block;
        margin: 0 0 20px;
        padding: 0 20px;
        font-size: 20px;
        text-align: center;
        border-radius: 20px;
        background: #f1e2b6;
        + p {
          margin: 0 0 20px;
        }
      }
      .secBox {
        .photoBox {
          position: relative;
          p {
            position: absolute;
            top: -10px;
            left: 20px;
            width: 120px;
            padding: 10px;
            color: #ffffff;
            text-align: center;
            border-radius: 6px;
            background: #0071a9;
          }
        }
        .arrowBox {
          .arrow {
            width: 50px;
            margin: 0 auto;
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .photoBox01 {
          }
          .arrowBox {
            position: relative;
            top: -160px;
            width: 80px;
          }
          .photoBox02 {
          }
        }
      }
    }
  }
  .sec03 {
    padding: 0 0 60px;
    .topTxt {
      margin: 0 0 60px;
    }
    .secBox {
      + .secBox {
        margin: 80px 0 0;
      }
      .photoBox {
        .photo {
          max-width: 450px;
          img {
            border-radius: 6px;
          }
        }
      }
      .txtBox {
        .ttlBox {
          margin: 0 0 30px;
          .ttl {
            font-size: 0;
            p {
              display: inline;
              font-size: 34px;
            }
            .em {
              color: #e6b30e;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .photoBox {
          width: 45%;
        }
        .txtBox {
          width: 50%;
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
        &:nth-child(even) {
          .photoBox {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
.companyMain {
  .pageKvPanel {
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/company_kv.png)
      center no-repeat;
    background-size: cover;
  }
  .sec01 {
    padding: 40px 20px;
    .strContainer {
      max-width: 1640px;
      margin: 0 auto;
      padding: 120px 0;
      border-radius: 10px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_intro_bg.png)
        no-repeat;
      background-size: cover;
    }
    .infoBox {
      .table {
        border-radius: 6px;
        border: 1px solid #000000;
        background: #ffffff;
        .tr {
          display: table;
          width: 100%;
          line-height: 2;
          + .tr {
            border-top: 1px solid #000000;
          }
          .th {
            display: table-cell;
            width: 240px;
            padding: 15px 10px;
            text-align: center;
            border-right: 1px solid #000000;
          }
          .td {
            display: table-cell;
            padding: 15px 40px;
            .txt {
              + .txt {
                margin: 20px 0 0;
              }
            }
            a {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain {
  .pageKvPanel {
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/contact_kv.png)
      center no-repeat;
    background-size: cover;
  }
  .sec01 {
    padding: 40px 20px;
    .strContainer {
      max-width: 1640px;
      margin: 0 auto;
      padding: 120px 0;
      border-radius: 10px;
      background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/top_intro_bg.png)
        no-repeat;
      background-size: cover;
    }
    .areaContainer {
      .areaBox {
        > p {
          margin: 10px 0 0;
        }
      }
      .txtBox {
        .infoBox {
          .table {
            border-radius: 6px;
            border: 1px solid #000000;
            background: #ffffff;
            .tr {
              display: table;
              width: 100%;
              line-height: 2;
              + .tr {
                border-top: 1px solid #000000;
              }
              .th {
                display: table-cell;
                width: 110px;
                padding: 15px 10px;
                text-align: center;
                border-right: 1px solid #000000;
              }
              .td {
                display: table-cell;
                padding: 15px 20px;
              }
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .areaContainer {
        display: flex;
        justify-content: space-between;
        .areaBox {
          width: 30%;
        }
        .txtBox {
          width: 68%;
        }
      }
    }
  }
  .sec02 {
    padding: 100px 0;
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        .section {
          width: 48%;
        }
      }
    }
    .telPanel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 230px;
      padding: 20px;
      color: #ffffff;
      border-radius: 6px;
      background: #0071a9;
      .telBox {
        text-align: center;
        a {
          display: inline-block;
          margin: 0 0 5px;
          padding: 0 0 0 40px;
          font-size: 36px;
          color: #ffffff;
          background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/contact_tel.png)
            left center no-repeat;
          background-size: 30px auto;
        }
      }
    }
    .linePanel {
      padding: 20px 40px;
      color: #ffffff;
      border-radius: 6px;
      background: #15d261;
      .lineBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 190px;
        .qr {
          width: 30%;
          a {
            display: block;
          }
        }
        .txtBox {
          width: 65%;
          line-height: 2;
          .dl {
            .dt {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  .sec03 {
    padding: 50px 0 0;
    .topTxt {
      margin: 0 0 60px;
      text-align: center;
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm input[type="tel"] {
    width: 100%;
    height: 55px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #000000;
    background: #f5f8f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  /*テキストエリア*/
  .contactForm textarea {
    width: 100%;
    height: 250px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #000000;
    background: #f5f8f9;
    resize: none;
  }
  .contactForm input[type="text"]:focus,
  .contactForm input[type="email"]:focus,
  .contactForm input[type="tel"]:focus,
  .contactForm textarea:focus {
    outline: 0;
    border: 2px solid #90cefd;
  }

  .contactForm button[type="submit"] {
    position: relative;
    display: block;
    max-width: 280px;
    width: 100%;
    margin: 60px auto 0;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png)
      right 15px center no-repeat #e6b30e;
    transition: 0.6s;
  }
  .contactForm button[type="submit"][disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .contactForm .form {
    .checkList {
      .ul {
        margin: -10px -20px 0 0;
        .li {
          display: inline-block;
          margin: 10px 20px 0 0;
        }
      }
    }
    .checkList02 {
      margin: 20px 0;
      .ul {
        .li {
          + .li {
            margin: 10px 0 0 20px;
          }
        }
      }
    }
    .checkItem {
      + .checkItem {
        margin-top: 10px;
      }
      > label {
        position: relative;
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
      }
      span {
        display: block;
        padding-left: 35px;
        position: relative;
      }
      span::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        margin: auto 0;
        border-radius: 6px;
        border: 1px solid #000000;
        background: #f5f8f9;
      }
      input:checked + span::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid #000000;
        border-right: 3px solid #000000;
      }
      &.agreeCheck {
        > label {
          display: inline-block;
        }
      }
    }
    .radioList {
      display: flex;
      flex-wrap: wrap;
      padding: 5px 0;
      .list {
        + .list {
          margin: 0 0 0 15px;
        }
      }
      + input {
        margin: 10px 0 0;
      }
    }
    @media (min-width: 1025px) {
      .radioList {
        .list {
          + .list {
            margin: 0 0 0 30px;
          }
        }
      }
    }
    .radioBox {
      .radio {
        position: relative;
        display: inline-block;
      }

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }

      label {
        position: relative;
        padding: 5px 0 5px 35px;
      }

      label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
        border: 1px solid #e72119;
        background: #f1f1f1;
        box-sizing: border-box;
      }

      input[type="radio"]:checked + label:before {
        border: 8px solid #e72119;
      }
    }
    .postal {
      margin: 0 0 5px;
      input {
        width: 90px;
      }

      input + .span {
        display: inline-block;
        margin: 0 5px;
      }

      .postalTxt {
        display: inline-block;
        margin: 0 5px;
      }
    }
    .selectBox {
      display: inline-block;
      width: 120px;
      select {
        display: block;
        width: 100%;
        padding: 11px 15px;
        font-size: 16px;
        color: #000000;
        line-height: 1.5em;
        border-radius: 0;
        border: 1px solid #e72119;
        background: #f1f1f1;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      + .span {
        display: inline-block;
        margin: 0 5px;
      }
    }
    .inputVisit {
      margin: 20px 0 0;
      > p {
        margin: 0 0 5px;
      }
    }
    .datePanel {
      + .datePanel {
        margin: 15px 0 0;
      }
    }
    .ageInput {
      display: inline-block;
      + .ageInput {
        margin: 0 0 0 40px;
      }
      input {
        width: 100px;
      }
      .ageTxt {
        display: inline-block;
        margin: 0 5px;
        line-height: 2;
      }
    }
    .addressTxt {
      padding: 3px 0 0;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .contactForm {
    font-weight: bold;
    text-align: left;
    .formBox {
      + .formBox {
        margin-top: 60px;
      }
      .dl {
        + .dl {
          margin: 20px 0 0;
        }
        .dt {
          padding: 0 5px 10px;
          .span {
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
          }
          .em {
            display: inline-block;
            padding: 2px 10px;
            font-size: 14px;
            color: #ffffff;
            vertical-align: middle;
            border-radius: 6px;
            background: #e6b30e;
          }
          .small {
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
      > .dl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5px 0;
        &.line {
          align-items: initial;
        }
        > .dt {
          width: 220px;
        }

        > .dd {
          position: relative;
          width: calc(100% - 260px);
        }
      }
      .baseBox {
        .company {
          max-width: 580px;
        }
        + * {
          margin: 20px 0 0;
        }
      }
      .multi {
        margin: 20px 0;
      }
      @media (min-width: 1025px) {
        .multi {
          display: flex;
          justify-content: space-between;
          > * {
            width: 50%;
            max-width: 580px;
          }
          .dl + .dl {
            margin: 0;
          }
        }
      }
      .addressBox,
      .dateBox {
        .dl {
          display: table;
          width: 100%;

          + .dl {
            margin-top: 10px;
          }

          .dt {
            display: table-cell;
            width: 60px;
            vertical-align: middle;
          }

          .dd {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .meetingBox {
        margin: 0 0 20px;
        .radioList {
          display: inline-block;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .dateBox {
        + .dateBox {
          margin: 10px 0 0;
        }
        + .txt {
          margin: 10px 0 0;
        }
        input[type="text"] {
          width: 90px;
        }

        .em {
          display: inline-block;
          width: 60px;
        }

        .span {
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
        }
        .radioList {
          display: inline-block;
          margin: 0 0 0 40px;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .caution {
        margin-top: 10px;
        color: #d20000;
        line-height: 2;
      }
      .telBox {
        padding: 10px 10px 40px;
        font-size: 0;
        text-align: left;
        line-height: 2;
        > * {
          display: inline-block;
          font-size: 14px;
        }
      }
      .telTxt {
        padding: 10px 10px 0;
      }
      .privacy {
        margin: 30px auto 0;
        text-align: center;

        > p {
          margin: 0 0 20px;
          text-align: left;
        }

        .agreeBox {
          overflow: scroll;
          height: 500px;
          padding: 20px;
          text-align: left;
          border-radius: 6px;
          border: 1px solid #000000;
          background: #ececec;
          .box {
            + .box {
              margin: 30px 0 0;
            }
            .link {
              a {
                display: inline-block;
              }
            }
          }
          p {
            line-height: 2;
          }
          .tel {
            p,
            a {
              display: inline-block;
            }
          }
        }
      }
      .privacy + .checkItem {
        margin: 40px 0;
        text-align: center;
      }
    }
    .fileUploadBox {
      .aside {
        padding: 10px 0;
      }
      .ttl {
        margin: 0 0 10px;
        line-height: 2;
      }
      .fileBox {
        + .fileBox {
          margin: 20px 0 0;
        }
      }
      .fileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        + .fileArea {
          margin: 10px 0 0;
        }
        .inputFile {
          position: relative;
          width: 40%;
          font-size: 16px;
          color: #404142;
          text-align: center;
          border: 1px solid #c4dcc9;
          background: #f0f9f2;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          p {
            padding: 40px 10px;
          }
        }

        > p {
          width: 58%;
        }
      }
      .txt {
        line-height: 2;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 100px 0;
  .txt {
    margin: 0 0 40px;
    font-weight: bold;
    text-align: center;
  }
  .btnMoreBox {
    text-align: center;
  }
}

/*////////////////////////////////////////////////////////////
	works
///////////////////////////////////////////////////////////*/
.worksMain {
  .pageKvPanel {
    background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/works_kv.png)
      center no-repeat;
    background-size: cover;
  }
  .blogSection {
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0 150px;
  }
  .catePanel {
    margin: 0 0 60px;
    .categoryBox {
      padding: 15px 0;
    }
    .webgene-header {
      display: none;
    }
    .allItem,
    .webgene-item {
      a {
        display: block;
        padding: 10px;
        color: #ffffff;
        text-align: center;
        border-radius: 6px;
        background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/btn_cate_arrow.png)
          right 15px center no-repeat #0071a9;
      }
      // .active {
      //   background: #d10b14;
      // }
    }
    @media (min-width: 1025px) {
      .webgene-blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 -30px;
        .allItem,
        .webgene-item {
          width: calc((100% / 5) - 30px);
          margin: 0 0 0 30px;
        }
        .webgene-header {
          margin: 0;
        }
      }
    }
  }
  .blogPanel {
    &--list {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .webgene-item {
          padding: 0 0 20px;
          a {
            display: block;
            font-size: 15px;
          }
          .photo {
            margin: 0 0 10px;
            img {
              border-radius: 6px;
            }
          }
          .infoBox {
            display: flex;
            align-items: center;
            margin: 0 0 15px;
            .cate {
              min-width: 100px;
              margin: 0 10px 0 0;
              padding: 0 10px;
              color: #ffffff;
              text-align: center;
              border-radius: 6px;
              background: #0071a9;
            }
            .time {
              color: #c0c0c0;
            }
          }
          .title {
            text-decoration: underline;
          }
        }
      }
      @media (min-width: 1025px) {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -60px 0 0 -50px;
          .webgene-item {
            width: calc((100% / 4) - 50px);
            margin: 60px 0 0 50px;
            .photo {
              position: relative;
              height: 200px;
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
      .webgene-pagination {
        overflow: hidden;
        width: 100%;
        margin: 100px auto 0;
        font-size: 14px;
        ul {
          max-width: 700px;
          margin: 0 auto;
          text-align: center;
          li {
            display: inline-block;
            margin: 0 2px;

            a {
              display: block;
              width: 45px;
              color: #ffffff;
              line-height: 45px;
              text-align: center;
              background: #cdcdcd;
            }
          }
          .prev {
            margin: 0 2px 0 0;
          }
          .next {
            position: relative;
            margin: 0 0 0 2px;
          }
          .selected {
            a {
              background: #e6b30e;
            }
          }
          @media (min-width: 1025px) {
            .prev {
              float: left;
            }
            .next {
              float: right;
            }
          }
        }
      }
    }
    &--detail {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        img {
          border-radius: 6px;
        }
        .info {
          margin: 0 0 15px;
          .cate {
            display: inline-block;
            min-width: 100px;
            margin: 0 10px 0 0;
            padding: 0 10px;
            color: #ffffff;
            text-align: center;
            border-radius: 6px;
            background: #0071a9;
          }
          .time {
            display: inline-block;
            color: #c0c0c0;
            vertical-align: middle;
          }
        }
        .ttlBox {
          margin: 0 0 20px;
          font-size: 24px;
        }
        .slickSlide {
          margin: 0 0 40px;
        }
        .slick-list {
          margin: 0 0 10px;
        }
        .thumb-item {
          margin: 0 auto 10px;
          @media (min-width: 1025px) {
            img {
              display: block;
              width: auto;
              max-height: 550px;
              // margin: 0 auto;
              object-fit: cover;
            }
          }
        }
        .slick-slide {
          margin: 0 10px;
        }
        .slideNav {
          .slider {
            .li {
              > div {
                overflow: hidden;
                position: relative;
                padding: 0 0 65%;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .slick-slide {
            margin: 0 5px;
          }
        }
        .postBox {
          .photo {
            margin-bottom: 40px;
            img {
              width: auto;
              max-width: 100%;
            }
          }
          .postTxt {
            line-height: 2;
            p + p {
              margin: 30px 0 0;
            }
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
          .pdfArea {
            margin: 40px 0 0;
            a {
              color: #2151a3;
            }
          }
        }
      }
      .btnBackBox {
        margin: 80px 0 0;
        text-align: center;
      }
      .btnBack {
        display: inline-block;
        width: 280px;
        margin: 0 5px;
        a {
          display: block;
          padding: 15px 10px;
          color: #ffffff;
          text-align: center;
          border-radius: 6px;
          background: url(https://shueikomuten240208.smooooth.jp/system_panel/uploads/images/btn_back_arrow.png)
            left 15px center no-repeat #e6b30e;
          background-size: 6px auto;
        }
      }
      .webgene-item-aroundPageLink {
        display: inline-block;
        a {
          display: block;
          width: 40px;
          color: #ffffff;
          line-height: 44px;
          border-radius: 20px;
          background: #d10b14;
        }
      }
    }
  }
}
