@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top {
  margin: 101px 0 0;
  .topKvPanel {
    .topKv {
      height: 300px;
    }
    .kvTitlePanel {
      align-items: flex-start;
      width: 55%;
      max-width: 400px;
      .kvTitle {
        h1 {
          font-size: 18px;
        }
      }
    }
    .kvBnr {
      // top: 150px;
      // width: 120px;
      top: auto;
      left: 0;
      bottom: 0;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .sec01 {
    padding: 60px 0;
    .message {
      margin: 0 0 30px;
      font-size: 20px;
      em {
        width: 50px;
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .listBox01 {
      max-width: 330px;
      margin: 0 auto 40px;
      ul {
        li {
          + li {
            margin: 20px 0 0;
          }
        }
        .photo {
          img {
            border-radius: 10px 10px 0 0;
          }
        }
        dl {
          dt {
            font-size: 18px;
          }
        }
      }
    }
    .listBox02 {
      max-width: 280px;
      margin: 0 auto;
      ul {
        li {
          + li {
            margin: 20px 0 0;
          }
        }
        .photo {
          img {
            border-radius: 10px 10px 0 0;
          }
        }
        dl {
          padding: 15px;
          dt {
            font-size: 18px;
          }
        }
      }
    }
  }
  .sec03 {
    padding: 60px 0;
    .mvPanel {
      .txtBox {
        padding: 20px;
        h2 {
          padding: 30px 10px;
          font-size: 20px;
          background: url("../image/common/page_sec_title_bg.png") center
            no-repeat;
          background-size: 70% auto;
        }
      }
    }
    .imageBox {
      margin: 15px 0 0;
      .image01 {
        max-width: 300px;
        margin: 0 auto 20px;
      }
      .image02 {
        max-width: 180px;
        margin: 0 auto;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	reason
///////////////////////////////////////////////////////////*/
#reason {
  .topSection {
    padding: 50px 0;
    h2 {
      margin: 0 0 20px;
      font-size: 20px;
    }
  }
  .sec01 {
    padding: 60px 0;
    .pageSecTtlBox {
      background: url("../image/reason/reason_sec01_logo.png") right 40px top
        10px no-repeat;
      background-size: 80px auto;
    }
    .secPanel {
      min-height: 0;
      + .secPanel {
        margin: 50px 0 0;
      }
      .ttlBox {
        padding: 15px;
        border-radius: 10px;
        .num {
          padding: 0 0 0 20px;
          font-size: 26px;
          background: url("../image/reason/reason_sec01_slash.png") left center
            no-repeat;
          background-size: 15px auto;
        }
        .ttl {
          p {
            font-size: 13px;
          }
          h3 {
            font-size: 20px;
          }
        }
      }
      .secBox {
        .photo {
          margin: 0 0 20px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	hearing
///////////////////////////////////////////////////////////*/
#hearing {
  .sec01 {
    padding: 50px 0;
    h3 {
      margin: 0 0 30px;
      font-size: 20px;
    }
    .secBox {
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        .txt {
          p + p {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  .consultContainer {
    padding: 60px 0;
    .secBox {
      .txtBox {
        padding: 20px 0 0;
        .ttl {
          margin: 0 0 20px;
          font-size: 20px;
        }
        .listBox {
          padding: 20px;
          ul {
            li {
              padding: 0 0 0 30px;
              background: url("../image/hearing/hearing_consult_check.png") left
                center no-repeat;
              background-size: 20px auto;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        .photo {
          width: 52%;
        }
        .txtBox {
          position: relative;
          right: -80px;
          width: 48%;
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .listBox {
      max-width: 360px;
      margin: 0 auto;
      ul {
        li {
          + li {
            margin: 20px 0 0;
          }
        }
        dl {
          padding: 15px;
          dt {
            font-size: 18px;
          }
        }
      }
    }
  }
  .mapContainer {
    padding: 60px 0;
    .ttl {
      margin: 0 0 15px;
      font-size: 20px;
    }
    .secBox {
      .map {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        .txt {
          p + p {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  .sec03 {
    padding: 60px 0;
    .secPanel {
      padding: 20px;
    }
    .secBox {
      .txtBox {
        .step {
          span {
            font-size: 20px;
          }
          em {
            font-size: 30px;
          }
        }
        .ttl {
          margin: 0 0 15px;
          font-size: 20px;
        }
      }
    }
    .contactItemBox {
      max-width: 330px;
      margin: 20px auto 0;
      .contactItem {
        + .contactItem {
          margin: 20px 0 0;
        }
      }
    }
  }
  .sec04 {
    padding: 60px 0;
    .topTxt {
      margin: 0 0 30px;
    }
    .faqPanel {
      .faqBox {
        + .faqBox {
          margin: 40px 0 0;
        }
        dl {
          dt {
            em {
              margin: 0 15px 0 0;
              font-size: 24px;
            }
            span {
              font-size: 18px;
            }
          }
          dd {
            em {
              margin: 0 15px 0 0;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	clock
///////////////////////////////////////////////////////////*/
#clock {
  .sec01 {
    padding: 50px 0;
    h3 {
      margin: 0 0 30px;
      font-size: 20px;
    }
    .secBox {
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        .txt {
          p + p {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .topBox {
      margin: 0 0 60px;
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        h3 {
          margin: 0 0 20px;
          font-size: 20px;
        }
      }
    }
    .menuBox {
      h3 {
        top: -15px;
        font-size: 20px;
      }
      .list {
        max-width: 440px;
        margin: 0 auto;
        ul {
          max-width: 900px;
          margin: 0 auto;
          li {
            + li {
              margin: 20px 0 0;
            }
            span {
              font-size: 20px;
            }
            em {
              font-size: 40px;
            }
          }
        }
      }
    }
    .listBox {
      max-width: 450px;
      ul {
        li {
          + li {
            margin: 20px 0 0;
          }
        }
        dl {
          dt {
            font-size: 18px;
          }
        }
      }
    }
  }
  .sec03 {
    padding: 60px 0;
    .topBox {
      margin: 0 0 60px;
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        h3 {
          margin: 0 0 20px;
          font-size: 20px;
        }
        .txt {
          em {
            font-size: 18px;
          }
        }
      }
    }
    .menuBox {
      h3 {
        top: -15px;
        font-size: 20px;
      }
      .menuList {
        max-width: 900px;
        margin: 0 auto;
      }
      .menuItem {
        .photo {
          margin: 0 0 20px;
        }
        .txtBox {
          .ttl {
            margin: 0 0 15px;
            font-size: 20px;
          }
        }
      }
    }
  }
  .sec04 {
    padding: 60px 0;
    .topBox {
      margin: 0 0 60px;
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        h3 {
          margin: 0 0 20px;
          font-size: 20px;
        }
        .txt {
          em {
            font-size: 18px;
          }
        }
      }
    }
    .menuBox {
      h3 {
        top: -15px;
        font-size: 20px;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	glasses
///////////////////////////////////////////////////////////*/
#glasses {
  .sec01 {
    padding: 50px 0;
    h3 {
      margin: 0 0 30px;
      font-size: 20px;
    }
    .secBox {
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        .txt {
          p + p {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  .consultContainer {
    padding: 60px 0;
    .secBox {
      .txtBox {
        padding: 20px 0 0;
        .ttl {
          margin: 0 0 20px;
          font-size: 20px;
        }
        .listBox {
          padding: 20px;
          ul {
            li {
              padding: 0 0 0 30px;
              background: url("../image/hearing/hearing_consult_check.png") left
                center no-repeat;
              background-size: 20px auto;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        .photo {
          width: 52%;
        }
        .txtBox {
          position: relative;
          right: -80px;
          width: 48%;
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .listBox {
      max-width: 360px;
      margin: 0 auto;
      ul {
        li {
          + li {
            margin: 20px 0 0;
          }
        }
        dl {
          padding: 15px;
          dt {
            font-size: 18px;
          }
        }
      }
    }
  }
  .sec03 {
    padding: 60px 0;
    .topTxt {
      margin: 0 0 30px;
    }
    .faqPanel {
      .faqBox {
        + .faqBox {
          margin: 40px 0 0;
        }
        dl {
          dt {
            em {
              margin: 0 15px 0 0;
              font-size: 24px;
            }
            span {
              font-size: 18px;
            }
          }
          dd {
            em {
              margin: 0 15px 0 0;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	other,consult
///////////////////////////////////////////////////////////*/
#other,
#consult {
  .sec01 {
    padding: 60px 0;
    h3 {
      margin: 0 0 30px;
      font-size: 20px;
    }
    .txt {
      p + p {
        margin: 20px 0 0;
      }
    }
  }
  .serviceContainer {
    padding: 30px 0;
    h3 {
      margin: 0 0 30px;
      font-size: 20px;
    }
    .listBox {
      max-width: 350px;
      margin: 0 auto;
      ul {
        li {
          height: 100px;
          + li {
            margin: 20px 0 0;
          }
          .box {
            min-height: 40px;
            padding: 0 0 0 60px;
            font-size: 18px;
          }
          .other01 {
            background: url("../image/other/other_service_icon_01.png") left
              center no-repeat;
            background-size: 40px auto;
          }
          .other02 {
            background: url("../image/other/other_service_icon_02.png") left
              center no-repeat;
            background-size: 30px auto;
          }
          .other03 {
            background: url("../image/other/other_service_icon_03.png") left
              center no-repeat;
            background-size: 30px auto;
          }
          .consult01 {
            background: url("../image/consult/consult_service_icon_01.png") left
              center no-repeat;
            background-size: 40px auto;
          }
          .consult02 {
            background: url("../image/consult/consult_service_icon_02.png") left
              center no-repeat;
            background-size: 30px auto;
          }
          .consult03 {
            background: url("../image/consult/consult_service_icon_03.png") left
              center no-repeat;
            background-size: 40px auto;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .topBox {
      margin: 0 0 60px;
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        h3 {
          margin: 0 0 20px;
          font-size: 20px;
        }
      }
    }
    .menuPanel {
      h3 {
        margin: 0 0 40px;
        font-size: 20px;
      }
      .menuBox {
        h4 {
          top: -15px;
          font-size: 20px;
        }
        .list {
          ul {
            display: block;
            margin: 0;
            li {
              width: 100%;
              margin: 0;
              padding: 15px;
            }
          }
        }
        .listBox {
          ul {
            margin: 0;
            li {
              display: block;
              margin: 0;
              + li {
                margin: 15px 0 0;
              }
            }
          }
        }
      }
    }
  }
  .sec03 {
    padding: 60px 0;
    .topBox {
      margin: 0 0 60px;
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        h3 {
          margin: 0 0 20px;
          font-size: 20px;
        }
      }
    }
    .menuBox {
      h3 {
        top: -15px;
        font-size: 20px;
      }
      .listBox {
        ul {
          li {
            padding: 20px 20px 20px 40px;
            border-bottom: 1px solid #e7dcd4;
            background: url("../image/consult/consult_check.png") left 10px
              center no-repeat;
            background-size: 20px auto;
          }
        }
      }
    }
  }
  .sec04 {
    padding: 60px 0;
    .topBox {
      .photo {
        max-width: 500px;
        margin: 0 auto 20px;
      }
      .txtBox {
        h3 {
          margin: 0 0 20px;
          font-size: 20px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
#company {
  .sec01 {
    padding: 60px 0;
    h3 {
      margin: 0 0 30px;
      font-size: 20px;
    }
    .secBox {
      .photoBox {
        max-width: 380px;
        margin: 0 auto 20px;
        .name {
          em {
            margin: 0 0 0 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    .infoBox {
      dl {
        display: block;
        + dl {
          margin: 10px 0 0;
        }
        dt {
          width: 100%;
          padding: 10px;
        }
        dd {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
  .sec03 {
    padding: 60px 0;
    .secBox {
      + .secBox {
        margin: 50px 0 0;
      }
      .photo {
        max-width: 500px;
        margin: 0 auto;
      }
      .txtBox {
        .titleBox {
          em {
            margin: 0 10px 0 0;
            font-size: 20px;
          }
        }
        .more {
          margin: 30px auto 0;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	shop
///////////////////////////////////////////////////////////*/
#shop {
  .sec01 {
    padding: 60px 0;
    .infoBox {
      dl {
        display: block;
        + dl {
          margin: 10px 0 0;
        }
        dt {
          width: 100%;
          padding: 10px;
        }
        dd {
          width: 100%;
          padding: 10px;
        }
      }
    }
    .listBox {
      max-width: 360px;
      margin: 40px auto 0;
      ul {
        li {
          + li {
            margin: 30px 0 0;
          }
        }
      }
    }
  }
  .mapPanel {
    padding: 50px 0 0;
  }
  .sec02 {
    padding: 60px 0;
    .secBox01 {
      margin: 0 0 50px;
      .txtBox {
        padding: 20px 0 0;
        .box {
          + .box {
            margin: 40px 0 0;
          }
        }
        .ttl {
          margin: 0 0 15px;
          font-size: 20px;
        }
        dl {
          display: block;
          &::before {
            display: none;
          }
          dt {
            padding: 0 0 5px;
            background: #ffffff;
          }
          dd {
            width: 100%;
            padding: 0 0 0 15px;
          }
        }
      }
    }
    .secBox02 {
      padding: 20px;
      .txtBox {
        padding: 20px 0 0;
        .sub {
          margin: 0 0 10px;
        }
        h3 {
          margin: 0 0 15px;
          font-size: 20px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
#contact {
  .pageKvPanel {
    background: url("../image/contact/contact_kv.png") center no-repeat;
    background-size: cover;
    .pageKvTitle {
      &::after {
        left: 15%;
      }
      h1 {
        font-size: 24px;
      }
    }
  }
  .topSection {
    padding: 60px 0;
    h2 {
      margin: 0 0 30px;
      font-size: 20px;
    }
    .secBox {
      a {
        padding: 0 0 0 35px;
        font-size: 30px;
        background: url("../image/contact/contact_icon_tel.png") left center
          no-repeat;
        background-size: 25px auto;
      }
    }
  }
  .sec01 {
    padding: 60px 0;
    .topTxt {
      margin: 0 0 40px;
    }
  }
}

/*===================================================
	フォーム
===================================================*/
.formBox {
  form > dl {
    font-size: 12px;
  }
  .radioForm {
    display: flex;
    dt {
      width: 85px;
    }
    dd {
      width: calc(100% - 85px);
    }
  }
  ::placeholder {
    font-size: 12px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 0 10px;
    font-size: 16px;
  }
  textarea {
    height: 100px;
    padding: 10px;
    font-size: 16px;
  }
  .dateSelectBox {
  }
  .birthBox {
    padding: 0 10px;
    ul {
      li {
        width: 70px;
        + li {
          padding: 0 0 0 15px;
        }
      }
    }
    input {
      height: 30px;
      padding: 0 5px;
    }
  }
  .checkItem {
    margin: 0 0 40px;
    span {
      padding-left: 30px;
    }
  }
  form .mwform-radio-field {
    display: block;
    + .mwform-radio-field {
      margin: 10px 0 0;
    }
  }
  .privacy {
    margin: 35px auto 20px;
    .agreeBox {
      height: 250px;
    }
    .box {
      + .box {
        margin: 5px 0 0;
      }
    }
  }
}

#contactConfirm,
#contactComplete {
  #section__contact {
    padding: 90px 0 0;
    .contactContainer {
      padding: 40px 0 60px;
    }
    .secWrap01 {
      padding: 0 30px;
    }
    .secTitleBox {
      margin: 0 0 20px;
      p {
        margin: 0 0 5px;
        font-size: 11px;
        letter-spacing: 0.15em;
      }
      h2 {
        font-size: 18px;
        letter-spacing: 0.2em;
      }
    }
    .topTxt {
      margin: 0 0 40px;
      .txt {
        letter-spacing: 0;
      }
    }
  }
  .btnToTop {
    font-size: 14px;
  }
}

.formBox {
  .dateSelect {
    display: block;
    + .dateSelect {
      margin: 10px 0 0;
    }
  }
}

.ui-widget.ui-widget-content {
  margin: -30px 0 0;
}
