@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain {
    .topKvContainer {
      .topKvPanel {
        height: 400px;
      }
      .topKvTitlePanel {
        position: absolute;
        top: 80px;
        left: 20px;
        width: 90%;
        max-width: 100%;
        .topKvTitleBox {
          margin: 0 0 10px;
          .topKvTitle {
            max-width: 420px;
            padding: 5px 10px;
            p {
              font-size: 18px;
            }
          }
          .topKvTitle01 {
            max-width: 300px;
          }
          .topKvTitle02 {
            max-width: 260px;
          }
        }
        .subTitleBox {
          .subTitle {
            p {
              font-size: 12px;
            }
          }
        }
      }
      .topKvBtn {
        position: absolute;
        right: 10px;
        bottom: -20px;
        width: 160px;
      }
    }
    .topSection {
      padding: 60px 0;
      .secBox {
        max-width: 800px;
        margin: 0 auto;
        .photoBox {
          position: relative;
          .photo {
            max-width: 600px;
          }
          .sub {
            position: absolute;
            left: -5px;
            bottom: -30px;
            width: 150px;
          }
        }
        .txtBox {
          padding: 60px 0 0;
          .ttl {
            margin: 0 0 15px;
            font-size: 22px;
          }
          .txt {
            p + p {
              margin: 15px 0 0;
            }
          }
        }
      }
    }
    .sec01 {
      padding: 30px 0 60px;
      .listBox {
        max-width: 400px;
        margin: 0 auto 60px;
        padding: 0 10px;
        .ul {
          .li {
            + .li {
              margin: 40px 0 0;
            }
          }
          .photoBox {
            .photo {
              top: -10px;
              left: -10px;
            }
          }
          .ttl {
            position: absolute;
            right: -10px;
            bottom: 20px;
            max-width: 260px;
            padding: 8px 10px;
            font-size: 16px;
          }
        }
      }
    }
    .sec02 {
      padding: 40px 0;
      .topTxt {
        margin: 0 0 30px;
      }
      .listBox {
        max-width: 600px;
        margin: 0 auto 40px;
        .ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: -30px 0 0;
          .li {
            width: calc((100% / 2) - 10px);
            margin: 30px 0 0;
          }
          .ttl {
            margin: 10px 0 0;
            font-size: 16px;
          }
        }
      }
    }
    .sec03 {
      padding: 40px 0;
      .worksListPanel {
        margin: 0 -20px 50px;
        .webgene-blog {
          .webgene-item {
            margin: 0 10px;
            .photo {
              height: 250px;
            }
            .txtBox {
              padding: 10px;
            }
          }
        }
      }
    }
    .sec04 {
      padding: 40px 0 80px;
      .secPanel {
        max-width: 1200px;
        margin: 0 auto;
        background: none;
        .infoBox {
          max-width: 600px;
          margin: 0 0 30px;
          .dl {
            display: block;
            .dt {
              width: 100%;
              padding: 10px;
            }
            .dd {
              width: 100%;
              padding: 10px;
            }
          }
        }
        .map {
          display: block;
          max-width: 280px;
          margin: 0 auto 30px;
        }
        .secBox {
          .ttlBox {
            display: block;
            margin: 0 0 15px;
            .ttl {
              margin: 0 0 5px;
              padding: 10px 20px 10px 0;
              font-size: 20px;
              background: url(https://s-9216557.smooooth.jp/system_panel/uploads/images/page_sec_ttl_bg.png)
                right center no-repeat;
              background-size: 60px auto;
            }
          }
          .listBox {
            padding: 0;
            .ul {
              flex-wrap: wrap;
              max-width: 440px;
              margin: 0 auto;
              .li {
                width: calc((100% / 2) - 10px);
                margin: 0 0 10px;
              }
            }
          }
        }
      }
    }
    + .footer {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -60px;
        width: 150px;
        height: 80px;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	paint
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .paintMain {
    .pagingList {
      padding: 40px 0;
      .ul {
        .li {
          width: 220px;
          margin: 0 auto 10px;
        }
      }
    }
    .sec01 {
      padding: 20px 0 40px;
      .secPanelList {
        margin: 0 0 40px;
      }
      .secPanel {
        + .secPanel {
          margin: 40px 0 0;
        }
        .photo {
        }
        .txtBox {
          padding: 20px 0 0;
          .ttlBox {
            display: block;
            margin: 0 0 15px;
            .num {
              min-width: 50px;
              margin: 0 0 5px;
              p {
                font-size: 30px;
              }
            }
            .ttl {
              font-size: 20px;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .secPanel {
          display: flex;
          justify-content: space-between;
          .photo {
            width: 42%;
          }
          .txtBox {
            width: 55%;
          }
          &:nth-child(even) {
            flex-direction: row-reverse;
          }
        }
      }
    }
    .sec02 {
      padding: 40px 0;
      .listBox {
        max-width: 500px;
        margin: 0 auto 50px;
        .photo {
          margin: 0 0 15px;
        }
        .ul {
          .li {
            + .li {
              margin: 30px 0 0;
            }
          }
          .dl {
            .dt {
              font-size: 20px;
            }
          }
        }
      }
      .planPanel {
        .ttl {
          position: relative;
          top: -20px;
          max-width: 330px;
          margin: 0 auto;
          padding: 5px 10px;
          font-size: 18px;
        }
      }
    }
    .sec03 {
      padding: 40px 0;
      .secPanel {
        padding: 10px;
        + .secPanel {
          margin: 20px 0 0;
        }
        .dl {
          .dt {
            font-size: 18px;
          }
          .dd {
            padding: 10px 0 0;
            .txt {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain {
    .topSection {
      padding: 40px 0;
      .secPanel {
        max-width: 600px;
      }
      .secBox {
        .photo {
          margin: 0 0 10px;
        }
        .txtBox {
          padding: 20px;
          .ul {
            .li {
              padding: 10px;
              p {
                padding: 2px 0 2px 30px;
                background: url(https://s-9216557.smooooth.jp/system_panel/uploads/images/contact_top_check.png)
                  left center no-repeat;
                background-size: 25px auto;
              }
            }
          }
        }
      }
      .ttl {
        position: relative;
        top: 0;
        max-width: 500px;
        margin: 20px auto 10px;
        padding: 15px;
        font-size: 20px;
      }
      .imgBox {
        max-width: 250px;
        margin: 0 auto;
      }
    }
    .sec01 {
      padding: 20px 0 40px;
    }
    .sec02 {
      padding: 40px 0;
      .topTxt {
        margin: 0 0 30px;
        .dl {
          margin: 10px 0 0;
          .dt {
            display: inline-block;
            width: 240px;
            margin: 0 0 10px;
          }
          .dd {
            display: block;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain {
    .contactForm {
      .formBox {
        + .formBox {
          margin-top: 40px;
        }

        h3 {
          margin-bottom: 0;
          font-size: 18px;
        }

        > .dl {
          display: block;
          width: 100%;
          padding: 10px;

          &.line {
            .dt {
              padding: 10px 0;
            }
          }

          > .dt {
            display: block;
            width: 100%;
            padding: 10px 0;

            .span {
              width: auto;
              margin-right: 10px;
              font-size: 16px;

              br {
                display: none;
              }
            }

            .em {
              font-size: 12px;
              vertical-align: middle;
            }

            .aside {
              margin-top: 5px;

              p {
                font-size: 12px;

                br {
                  display: none;
                }
              }
            }
          }

          > .dd {
            display: block;
            width: 100%;
          }
        }

        .radioList01 {
          .list {
            display: block;
            margin: 0;
            + .list {
              margin: 20px 0 0;
            }
          }
        }

        .checkList01 {
          .ul {
            .li {
              display: block;
              + .li {
                margin: 10px 0 0;
              }
            }
          }
          .checkItem {
            display: inline-block;
            padding: 0 5px 0 0;
            + input {
              display: inline-block;
              width: 150px;
            }
          }
        }

        .addressBox,
        .dateBox {
          .dl {
            display: block;

            .dt {
              display: block;
              width: 100%;
            }

            .dd {
              display: block;
            }
          }
        }

        .dateBox {
          input[type="text"] {
            width: 70px;
          }

          .radioList {
            display: block;
            margin: 10px 0 0;
          }
        }

        .selectBox {
          width: 180px;
        }

        .privacy {
          .agreeBox {
            height: 250px;
            padding: 20px 10px;
          }
        }
      }
      .fileUploadBox {
        display: block;
        .fileBox {
          width: 100%;
        }
        .fileArea {
          display: block;
          .inputFile {
            width: 200px;
          }
          > p,
          .fileTxt {
            width: 100%;
            margin: 10px 0 0;
          }
        }
      }
      .fileUploadTitleBox {
        margin: 40px 0 20px;
        .fileUploadTitle {
          p {
            padding: 0 15px 0 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	works
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .worksMain {
    .blogSection {
      padding: 60px 0 80px;
    }
    .catePanel {
      max-width: 320px;
      margin: 0 auto 40px;
      .webgene-item {
        margin: 10px 0 0;
      }
    }
    .blogPanel {
      &--list {
        .webgene-blog {
          .webgene-item {
            + .webgene-item {
              margin: 60px 0 0;
            }
          }
        }
        .webgene-pagination {
          margin: 60px auto 0;
        }
      }
      &--detail {
        .webgene-blog {
          padding: 20px;
          .ttlBox {
            font-size: 20px;
          }
          .slickSlide {
            margin: 0 0 40px;
            .slider {
              .li {
                > div {
                  padding: 0 0 70%;
                }
              }
            }
          }
          .thumb-item {
            &.slider {
              .li {
                > div {
                  overflow: hidden;
                  position: relative;
                  padding: 0 0 100%;
                }
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .slick-prev {
            left: -20px;
          }
          .slick-next {
            right: -20px;
          }
        }
        .btnBackBox {
          margin: 50px 0 0;
        }
        .btnBack {
          width: 180px;
        }
      }
    }
  }
}
