@charset "UTF-8";
/* CSS Document */
/*===================================================
	共通CSS（SMP）
===================================================*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: 14px;
  }

  a:hover {
    text-decoration: none;
  }

  /*改行*/
  .pcBreak {
    display: none;
  }

  .spBreak {
    display: block;
  }

  /*spのみ表示*/
  .pcHidden {
    display: block;
  }

  .spHidden {
    display: none;
  }

  #sideBtn {
    display: none;
  }

  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (max-width: 1024px) {
  .header {
    padding: 50px 10px 30px;
    background: #f6bf40;
  }
  .header .headWrap .leftPhoto {
    width: 30%;
  }
  .header .headWrap .centerBox {
    width: 40%;
    padding: 0 5px;
  }
  .header .headWrap .centerBox .logo {
    max-width: 260px;
    margin: 0 auto 10px;
  }
  .header .headWrap .centerBox .logo a {
    display: block;
  }
  .header .headWrap .centerBox .btnLine {
    max-width: 240px;
  }
  .header .headWrap .rightPhoto {
    width: 30%;
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (max-width: 1024px) {
  .navBox .btnLine {
    max-width: 220px;
    margin: 20px auto 0;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .pageTopPanel {
    height: 60px;
  }

  .mainContainer {
    padding: 30px 10px;
  }
  .mainContainer__left {
    width: 60px;
  }
  .mainContainer__left .ul .li + .li {
    margin: 10px 0 0;
  }
  .mainContainer__left .ul .li a {
    height: 35px;
    font-size: 12px;
  }
  .mainContainer__right {
    width: calc(100% - 65px);
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item {
    padding: 5px;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .img {
    margin: 0 0 2px;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item > p {
    font-size: 10px;
    line-height: 1.5;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .cate {
    min-width: 40px;
    margin: 0 0 5px;
    padding: 0 5px;
    font-size: 10px;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .priceBox {
    padding: 5px;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .price {
    padding: 0 0 2px;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .price em {
    margin: 0 2px 0 0;
    font-size: 14px;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .price span {
    font-size: 10px;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .btnMore {
    margin: 5px auto 0;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .btnMore a {
    padding: 5px;
    font-size: 10px;
    background: url(https://onda-net.co.jp/system_panel/uploads/images/btn_more_arrow.png) right 5px center no-repeat #daa779;
  }
  .mainContainer .propertyListPanel .webgene-blog .webgene-item .img {
    height: 0;
    padding: 0 0 60%;
  }
  .mainContainer .webgene-pagination {
    margin: 30px auto 0;
    font-size: 10px;
  }
  .mainContainer .webgene-pagination ul li {
    margin: 0 1px;
  }
  .mainContainer .webgene-pagination ul li a {
    width: 25px;
    line-height: 25px;
  }

  .mapBox {
    padding: 0 0 70%;
  }

  .videoBox {
    padding: 0 0 70%;
  }

  .pageLinePanel {
    padding: 20px 10px;
  }
  .pageLinePanel .pTtl {
    margin: 0 0 20px;
    font-size: 20px;
  }
  .pageLinePanel .secBox {
    padding: 10px;
  }
  .pageLinePanel .secBox .qr {
    margin: 0 0 15px;
  }
  .pageLinePanel .secBox .qr a {
    width: 130px;
  }
  .pageLinePanel .secBox .txtBox {
    max-width: 320px;
    margin: 0 auto;
  }
  .pageLinePanel .secBox .txtBox .txt + .txt {
    margin: 20px 0 0;
  }
}
@media (max-width: 1024px) and (min-width: 1025px) {
  .pageLinePanel .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pageLinePanel .secBox .qr {
    width: 30%;
  }
  .pageLinePanel .secBox .txtBox {
    width: 70%;
  }
}
/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer .footContact {
    padding: 50px 0 30px;
  }
  .footer .footContact .contactPanel {
    display: block;
    padding: 10px 5px;
  }
  .footer .footContact .contactPanel .ttl {
    margin: 0 0 10px;
    font-size: 14px;
  }
  .footer .footContact .contactPanel .contactItems {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer .footContact .contactPanel .contactItems > * {
    width: 50%;
    padding: 10px 5px;
  }
  .footer .footContact .contactPanel .contactItems .btnBox {
    max-width: 140px;
  }
  .footer .footContact .contactPanel .lineItem {
    width: 100%;
    margin: 10px 0 0;
  }
  .footer .footContact .contactPanel .lineItem .qr {
    width: 70px;
  }
  .footer .footPanel {
    padding: 30px 0 10px;
  }
  .footer .footPanel .footBox {
    display: block;
  }
  .footer .footPanel .footBox .leftBox {
    width: 100%;
    margin: 0 0 20px;
  }
  .footer .footPanel .footBox .leftBox .logo {
    max-width: 200px;
    margin: 0 0 10px;
  }
  .footer .footPanel .footBox .leftBox .txt {
    font-size: 12px;
  }
  .footer .footPanel .footBox .rightBox {
    width: 100%;
  }
  .footer .footPanel .copy {
    margin: 30px 0 0;
  }
}