@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain .topKvContainer {
  position: relative;
}
.topMain .topKvContainer .topKv {
  position: relative;
  height: 800px;
  padding: 0 20px;
}
.topMain .topKvContainer .topKv .kvBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.topMain .topKvContainer .topKv .kvBox > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topMain .topKvContainer .topKv .kvBox .kv01 {
  background: url(https://misakikenchikusekkei240719.smooooth.jp/system_panel/uploads/images/top_kv_01.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvContainer .topKv .kvBox .kv02 {
  background: url(https://misakikenchikusekkei240719.smooooth.jp/system_panel/uploads/images/top_kv_02.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvContainer .topKv .kvBox .kv03 {
  background: url(https://misakikenchikusekkei240719.smooooth.jp/system_panel/uploads/images/top_kv_03.png) center no-repeat;
  background-size: cover;
}
.topMain .topSection {
  padding: 100px 0;
  background: #f2f2f2;
}
.topMain .topSection .secBox .title {
  padding: 90px 0;
  background: url(https://misakikenchikusekkei240719.smooooth.jp/system_panel/uploads/images/top_main_title_bg.png) center no-repeat;
  background-size: 90% auto;
}
.topMain .topSection .secBox .title h1 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1025px) {
  .topMain .topSection .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .topSection .secBox .title {
    width: 48%;
  }
  .topMain .topSection .secBox .txtBox {
    width: 50%;
  }
}
.topMain .sec01 {
  padding: 100px 0;
}
.topMain .sec01 .secBox .txtBox h3 {
  margin: 0 0 20px;
  font-size: 34px;
}
.topMain .sec01 .secBox .txtBox .btnMore {
  margin: 30px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec01 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .sec01 .secBox .photo {
    width: 45%;
  }
  .topMain .sec01 .secBox .txtBox {
    width: 50%;
  }
}
.topMain .sec02 {
  padding: 100px 0;
  background: #e9f7e7;
}
.topMain .sec02 .listPanel .webgene-blog .webgene-header {
  display: none;
}
.topMain .sec02 .listPanel .webgene-blog .webgene-item a {
  display: block;
}
.topMain .sec02 .listPanel .webgene-blog .webgene-item .title {
  margin: 10px 0 0;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 1025px) {
  .topMain .sec02 .listPanel .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -30px;
  }
  .topMain .sec02 .listPanel .webgene-blog .webgene-item {
    width: calc(33.3333333333% - 30px);
    margin: 40px 0 0 30px;
  }
  .topMain .sec02 .listPanel .webgene-blog .webgene-item .photo {
    position: relative;
    height: 300px;
  }
  .topMain .sec02 .listPanel .webgene-blog .webgene-item .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.topMain .sec02 .btnMore {
  margin: 60px auto 0;
}
.topMain .sec03 {
  padding: 100px 0;
}
.topMain .sec03 .secBox .txtBox .infoBox .dl {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
.topMain .sec03 .secBox .txtBox .infoBox .dl .dt {
  width: 180px;
  padding: 10px 20px;
  border-bottom: 1px solid #f5c71e;
}
.topMain .sec03 .secBox .txtBox .infoBox .dl .dd {
  width: calc(100% - 182px);
  padding: 10px 20px;
  border-bottom: 1px solid #000000;
}
.topMain .sec03 .secBox .txtBox .infoBox .dl .dd a {
  display: inline-block;
}
@media (min-width: 1025px) {
  .topMain .sec03 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .sec03 .secBox .photo {
    width: 45%;
  }
  .topMain .sec03 .secBox .txtBox {
    width: 50%;
  }
}
.topMain .sec03 .mapBox {
  margin: 80px 0 0;
}
.topMain .sec04 {
  padding: 100px 0;
  color: #ffffff;
  background: url(https://misakikenchikusekkei240719.smooooth.jp/system_panel/uploads/images/top_sec04_bg.png) no-repeat;
  background-size: cover;
}
.topMain .sec04 .secBox .title {
  max-width: 340px;
  margin: 0 auto;
}
.topMain .sec04 .secBox .txtBox .ttl {
  margin: 0 0 20px;
  font-size: 34px;
}
.topMain .sec04 .secBox .txtBox .btnMore {
  margin: 40px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec04 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topMain .sec04 .secBox .title {
    width: 40%;
  }
  .topMain .sec04 .secBox .txtBox {
    width: 55%;
  }
}

/*////////////////////////////////////////////////////////////
	business
///////////////////////////////////////////////////////////*/
.businessMain .topSection {
  padding: 100px 0;
  text-align: center;
  background: #f2f2f2;
}
.businessMain .topSection h2 {
  margin: 0 0 30px;
  font-size: 34px;
  font-weight: bold;
}
.businessMain .sec01 {
  padding: 100px 0;
  background: #f2f2f2;
}
.businessMain .sec01 .secBox + .secBox {
  margin: 30px 0 0;
}
.businessMain .sec01 .secBox .txtBox {
  padding: 20px 0 0;
}
.businessMain .sec01 .secBox .txtBox h3 {
  margin: 0 0 20px;
  font-size: 34px;
}
@media (min-width: 1025px) {
  .businessMain .sec01 .secBox {
    display: flex;
    justify-content: space-between;
  }
  .businessMain .sec01 .secBox .photo {
    width: 45%;
  }
  .businessMain .sec01 .secBox .txtBox {
    width: 50%;
  }
}
.businessMain .sec02 {
  padding: 100px 0;
}
.businessMain .sec02 .pageSecTtl {
  margin: 0 0 30px;
}
.businessMain .sec02 .topTxt {
  margin: 0 0 40px;
  text-align: center;
}
.businessMain .sec02 .listBox {
  max-width: 1000px;
  margin: 0 auto;
}
.businessMain .sec02 .listBox .ul {
  position: relative;
}
.businessMain .sec02 .listBox .ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto 0;
  background: #f5c71e;
}
.businessMain .sec02 .listBox .ul .li {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background: #f5c71e;
}
@media (min-width: 1025px) {
  .businessMain .sec02 .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .businessMain .sec02 .listBox .ul .li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 300px;
    writing-mode: vertical-lr;
  }
}
.businessMain .sec03 {
  padding: 100px 0;
  background: #e9f7e7;
}
.businessMain .sec03 .pageSecTtl {
  margin: 0 0 30px;
}
.businessMain .sec03 .topTxt {
  margin: 0 0 40px;
  text-align: center;
}
.businessMain .sec03 .listBox .ul a {
  display: block;
}
.businessMain .sec03 .listBox .ul p {
  margin: 10px 0 0;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 1025px) {
  .businessMain .sec03 .listBox .ul {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -30px;
  }
  .businessMain .sec03 .listBox .ul .li {
    width: calc(33.3333333333% - 30px);
    margin: 40px 0 0 30px;
  }
}
.businessMain .sec03 .btnMore {
  margin: 60px auto 0;
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain .sec01 {
  padding: 100px 0;
  background: #f2f2f2;
}
.contactMain .sec01 .pageSecTtl {
  margin: 0 0 20px;
}
.contactMain .sec01 .topTxt {
  margin: 0 0 60px;
  text-align: center;
}
.contactMain .sec02 {
  padding: 100px 0;
}
.contactMain .section + .section {
  margin: 100px 0 0;
}
.contactMain .section .secTtl {
  margin: 0 0 20px;
  padding: 0 0 10px;
  font-size: 34px;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
.contactMain .section .secTtl h3 {
  padding: 0 0 0 20px;
  line-height: 1.1;
  border-left: 5px solid #f5c71e;
}
.contactMain .section .tel a {
  display: inline-block;
}
.contactMain .section .tel a p {
  display: inline-block;
  font-weight: bold;
}
.contactMain .section .tel a .span {
  font-size: 20px;
}
.contactMain .section .tel a .em {
  font-size: 40px;
}
.contactMain .section .secBoxList {
  margin: 0 0 60px;
}
.contactMain .section .secBoxList .secBox {
  padding: 40px 0;
}
.contactMain .section .secBoxList .secBox + .secBox {
  border-top: 1px dotted #000000;
}
.contactMain .section .secBoxList .secBox .ttl {
  font-size: 30px;
  font-weight: bold;
}
@media (min-width: 1025px) {
  .contactMain .section .secBoxList .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contactMain .section .secBoxList .secBox .ttl {
    width: 280px;
  }
  .contactMain .section .secBoxList .secBox .txt {
    width: calc(100% - 340px);
  }
}
@media (min-width: 1025px) {
  .contactMain .section .list .ul {
    display: flex;
    justify-content: space-between;
  }
  .contactMain .section .list .ul .li {
    width: calc(33.3333333333% - 20px);
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  /*テキストエリア*/
}
.formMain .contactForm input[type=text],
.formMain .contactForm input[type=email],
.formMain .contactForm input[type=tel] {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 0;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #000000;
  background: #ffffff;
  resize: none;
  box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
}
.formMain .contactForm input[type=text]:focus,
.formMain .contactForm input[type=email]:focus,
.formMain .contactForm input[type=tel]:focus,
.formMain .contactForm textarea:focus {
  outline: 0;
  border: 2px solid #90cefd;
}
.formMain .contactForm button[type=submit] {
  overflow: hidden;
  position: relative;
  display: block;
  max-width: 220px;
  width: 100%;
  margin: 60px auto 0;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background: #f5c71e;
  transition: 0.6s;
}
.formMain .contactForm button[type=submit][disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
@media (min-width: 1025px) {
  .formMain .contactForm button[type=submit]:hover {
    opacity: 0.6;
  }
}
.formMain .contactForm .form .checkList .ul + .ul {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList .ul .li + .li {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList01 .ul .li {
  display: inline-block;
}
.formMain .contactForm .form .checkList01 .ul .li + .li {
  margin: 0 0 0 10px;
}
.formMain .contactForm .form .checkList01 .checkItem {
  display: inline-block;
  padding: 0 5px 0 0;
}
.formMain .contactForm .form .checkList01 .checkItem + input {
  display: inline-block;
  width: 150px;
}
.formMain .contactForm .form .checkList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .checkItem + .checkItem {
  margin-top: 10px;
}
.formMain .contactForm .form .checkItem > label {
  position: relative;
  display: block;
}
.formMain .contactForm .form .checkItem input {
  position: absolute;
  opacity: 0;
}
.formMain .contactForm .form .checkItem span {
  display: block;
  padding-left: 20px;
  position: relative;
}
.formMain .contactForm .form .checkItem span::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #d6d6dd;
  background: #f7f7f8;
}
.formMain .contactForm .form .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #0f4c6a;
  border-right: 3px solid #0f4c6a;
}
.formMain .contactForm .form .checkItem.agreeCheck > label {
  display: inline-block;
}
.formMain .contactForm .form .radioList01 .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .form .radioList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .radioBox .radio {
  position: relative;
  display: inline-block;
}
.formMain .contactForm .form .radioBox input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.formMain .contactForm .form .radioBox label {
  position: relative;
  padding: 5px 0 5px 35px;
}
.formMain .contactForm .form .radioBox label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  margin: auto 0;
  border-radius: 50%;
  border: 1px solid #d6d6dd;
  background: #f7f7f8;
  box-sizing: border-box;
}
.formMain .contactForm .form .radioBox input[type=radio]:checked + label:before {
  border: 8px solid #0f4c6a;
}
.formMain .contactForm .form .postalBox {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .form .postalBox input {
  width: 140px;
}
.formMain .contactForm .form .postalBox input + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .postalBox .postalTxt {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .selectBox {
  display: inline-block;
  width: 200px;
}
.formMain .contactForm .form .selectBox select {
  display: block;
  width: 100%;
  padding: 11px 20px;
  font-size: 16px;
  color: #000000;
  line-height: 1.5em;
  border-radius: 0;
  border: 1px solid #707070;
  background: #ffffff;
  background-size: 10px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .form .selectBox + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm {
  padding: 40px 0 0;
  text-align: left;
}
.formMain .contactForm .formBox + .formBox {
  margin-top: 60px;
}
.formMain .contactForm .formBox > .dl {
  display: table;
  width: 100%;
  padding: 5px 0;
}
.formMain .contactForm .formBox > .dl > * {
  display: table-cell;
  vertical-align: middle;
}
.formMain .contactForm .formBox > .dl.line > .dt {
  vertical-align: top;
}
.formMain .contactForm .formBox > .dl > .dt {
  overflow: hidden;
  width: 300px;
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid #000000;
}
.formMain .contactForm .formBox > .dl > .dt .span {
  float: left;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.formMain .contactForm .formBox > .dl > .dt .em {
  float: right;
  display: inline-block;
  padding: 0 8px;
  font-size: 14px;
  vertical-align: middle;
  background: #f5c71e;
}
.formMain .contactForm .formBox > .dl > .dt .small {
  font-size: 12px;
}
.formMain .contactForm .formBox > .dl > .dt .aside {
  margin-top: 10px;
}
.formMain .contactForm .formBox > .dl > .dt .aside p {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
}
.formMain .contactForm .formBox > .dl > .dd {
  width: calc(100% - 302px);
  padding: 5px 10px;
  border-bottom: 1px solid #000000;
}
.formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
  display: table;
  width: 100%;
}
.formMain .contactForm .formBox .addressBox .dl + .dl,
.formMain .contactForm .formBox .dateBox .dl + .dl {
  margin-top: 10px;
}
.formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
  display: table-cell;
  width: 60px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
  display: table-cell;
  vertical-align: middle;
}
.formMain .contactForm .formBox .ageInput input {
  display: inline-block;
  width: 120px;
  margin: 0 5px 0 0;
}
.formMain .contactForm .formBox .ageInput > p {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox {
  margin: 0 0 20px;
}
.formMain .contactForm .formBox .meetingBox .radioList {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .dateBox + .dateBox {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox + .txt {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox input[type=text] {
  width: 90px;
}
.formMain .contactForm .formBox .dateBox .em {
  display: inline-block;
}
.formMain .contactForm .formBox .dateBox .span {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .dateBox .radioList {
  display: inline-block;
  margin: 0 0 0 40px;
}
.formMain .contactForm .formBox .dateBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .caution {
  margin-top: 10px;
  color: #d20000;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox {
  padding: 10px 10px 40px;
  font-size: 0;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox > * {
  display: inline-block;
  font-size: 14px;
}
.formMain .contactForm .formBox .telTxt {
  padding: 10px 10px 0;
}
.formMain .contactForm .formBox .privacy {
  margin: 30px auto 0;
  text-align: center;
}
.formMain .contactForm .formBox .privacy > p {
  margin: 0 0 20px;
  text-align: left;
}
.formMain .contactForm .formBox .privacy .agreeBox {
  overflow: scroll;
  height: 500px;
  padding: 20px;
  text-align: left;
  border: 1px solid #000000;
  background: #ffffff;
}
.formMain .contactForm .formBox .privacy .agreeBox .box + .box {
  margin: 30px 0 0;
}
.formMain .contactForm .formBox .privacy .agreeBox .box .link a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy .agreeBox p {
  line-height: 2;
}
.formMain .contactForm .formBox .privacy .agreeBox .tel p,
.formMain .contactForm .formBox .privacy .agreeBox .tel a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy + .checkItem {
  margin: 40px 0;
  text-align: center;
}
.formMain .contactForm .fileUploadBox .ttl {
  margin: 0 0 10px;
  line-height: 2;
}
.formMain .contactForm .fileUploadBox .fileArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formMain .contactForm .fileUploadBox .fileArea + .fileArea {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile {
  position: relative;
  width: 28%;
  font-size: 16px;
  color: #b4d2be;
  text-align: center;
  border: 1px solid #41ab6d;
  background: #ffffff;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile p {
  padding: 12px 10px;
}
.formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
  width: 70%;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt p {
  display: inline-block;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .fileName {
  margin: 0 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .attention {
  font-size: 13px;
  color: #54765f;
}
.formMain .contactForm .fileUploadBox .txt {
  line-height: 2;
}
.formMain .contactForm .aside {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadTitleBox {
  margin: 60px 0 30px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle {
  position: relative;
  max-width: 440px;
  margin: 0 0 20px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #000000;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 30px;
  font-weight: bold;
  background: #ffffff;
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 100px 0;
}
.complete .txt {
  margin: 0 0 40px;
  text-align: center;
  line-height: 3;
}
.complete .btnMore {
  width: 150px;
  margin: 0 auto;
}
.complete .btnMore a {
  color: #282931;
}

/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
.blogMain {
  background: #f2f2f2;
}
.blogMain .blogSection {
  padding: 60px 0 120px;
}
.blogMain .catePanel {
  margin: 0 0 60px;
}
.blogMain .catePanel .webgene-header > * {
  display: inline-block;
  color: #282931;
}
.blogMain .catePanel .webgene-item a {
  display: inline-block;
  text-decoration: underline;
}
@media (min-width: 1025px) {
  .blogMain .catePanel .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .blogMain .catePanel .webgene-blog .webgene-header {
    width: 100%;
    margin: 0 0 15px;
  }
  .blogMain .catePanel .webgene-blog .webgene-item {
    position: relative;
    font-size: 22px;
  }
  .blogMain .catePanel .webgene-blog .webgene-item + .webgene-item {
    margin: 0 0 0 60px;
  }
  .blogMain .catePanel .webgene-blog .webgene-item + .webgene-item::before {
    content: "/";
    position: absolute;
    top: 0;
    left: -30px;
    bottom: 0;
    width: 10px;
    height: 30px;
    margin: auto 0;
  }
}
.blogMain .blogPanel--list .webgene-blog .webgene-header {
  display: none;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item {
  padding: 0 0 20px;
  border-bottom: 1px solid #000000;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item a {
  display: block;
  font-size: 15px;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item .photo {
  margin: 0 0 10px;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item .infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item .infoBox .cate {
  min-width: 100px;
  padding: 0 10px;
  text-align: center;
  background: #f5c71e;
}
@media (min-width: 1025px) {
  .blogMain .blogPanel--list .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -50px 0 0 -30px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item {
    width: calc(33.3333333333% - 30px);
    margin: 50px 0 0 30px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .photo {
    position: relative;
    height: 320px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.blogMain .blogPanel--list .webgene-pagination {
  overflow: hidden;
  width: 100%;
  margin: 100px auto 0;
  font-size: 14px;
}
.blogMain .blogPanel--list .webgene-pagination ul {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.blogMain .blogPanel--list .webgene-pagination ul li {
  display: inline-block;
  margin: 0 2px;
}
.blogMain .blogPanel--list .webgene-pagination ul li a {
  display: block;
  width: 45px;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  background: #cdcdcd;
}
.blogMain .blogPanel--list .webgene-pagination ul .prev {
  margin: 0 2px 0 0;
}
.blogMain .blogPanel--list .webgene-pagination ul .next {
  position: relative;
  margin: 0 0 0 2px;
}
.blogMain .blogPanel--list .webgene-pagination ul .selected a {
  background: #f5c71e;
}
@media (min-width: 1025px) {
  .blogMain .blogPanel--list .webgene-pagination ul .prev {
    float: left;
  }
  .blogMain .blogPanel--list .webgene-pagination ul .next {
    float: right;
  }
}
.blogMain .blogPanel--detail .webgene-blog .webgene-header {
  display: none;
}
.blogMain .blogPanel--detail .webgene-blog .info {
  margin: 0 0 15px;
}
.blogMain .blogPanel--detail .webgene-blog .info .cate {
  display: inline-block;
  min-width: 100px;
  padding: 0 10px;
  text-align: center;
  background: #f5c71e;
}
.blogMain .blogPanel--detail .webgene-blog .info .time {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: middle;
}
.blogMain .blogPanel--detail .webgene-blog .ttlBox {
  margin: 0 0 20px;
  font-size: 30px;
  border-bottom: 1px solid #000000;
}
.blogMain .blogPanel--detail .webgene-blog .slickSlide {
  margin: 0 0 40px;
}
.blogMain .blogPanel--detail .webgene-blog .slickSlide .slider .li > div {
  overflow: hidden;
  position: relative;
  padding: 0 0 65%;
}
.blogMain .blogPanel--detail .webgene-blog .slickSlide .slider .li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogMain .blogPanel--detail .webgene-blog .slick-list {
  margin: 0 0 10px;
}
.blogMain .blogPanel--detail .webgene-blog .thumb-item {
  max-width: 800px;
  margin: 0 0 10px;
}
.blogMain .blogPanel--detail .webgene-blog .slick-slide {
  margin: 0 10px;
}
.blogMain .blogPanel--detail .webgene-blog .slideNav {
  max-width: 900px;
}
.blogMain .blogPanel--detail .webgene-blog .slideNav .slick-slide {
  margin: 0 5px;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .photo {
  margin-bottom: 40px;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .photo img {
  width: auto;
  max-width: 100%;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .postTxt {
  line-height: 2;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .postTxt p + p {
  margin: 30px 0 0;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .postTxt img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .pdfArea {
  margin: 40px 0 0;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .pdfArea a {
  color: #2151a3;
}
.blogMain .btnBack {
  width: 220px;
  margin: 100px auto 0;
}
.blogMain .btnBack a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  background: #f5c71e;
}