@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700;900&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Zen Maru Gothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #101211;
  font-size: 16px;
  background: #ffffff;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2;
}

/*リンク */
a {
  color: #101211;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
.fax a {
  pointer-events: none;
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (min-width: 1091px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #ffffff;
  }
  .header .headWrap {
    display: flex;
    justify-content: space-between;
    min-height: 95px;
    padding: 0 0 0 5%;
  }
  .header .headWrap .leftBox {
    position: relative;
    width: 15%;
    height: 100%;
    padding: 5px 0;
  }
  .header .headWrap .leftBox .headTtl {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 14px;
    line-height: 1.2;
    white-space: nowrap;
  }
  .header .headWrap .leftBox .logo {
    max-width: 120px;
    margin: 40px 0 0;
  }
  .header .headWrap .leftBox .logo a {
    display: block;
  }
  .header .headWrap .rightBox {
    width: 85%;
  }
  .header .headWrap .rightBox .itemBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
  }
  .header .headWrap .rightBox .telBox {
    width: 65%;
    min-height: 102px;
    padding: 20px 10px 10px;
    font-size: 12px;
    text-align: center;
  }
  .header .headWrap .rightBox .telBox a {
    display: block;
  }
  .header .headWrap .rightBox .telBox .em {
    display: inline-block;
    padding: 0 0 0 25px;
    font-size: 30px;
    line-height: 1.2;
    background: url("http://yamabiko.cc/system_panel/uploads/images/header_tel.png") left bottom 4px no-repeat;
    background-size: 20px auto;
  }
  .header .headWrap .rightBox .telBox .span {
    padding: 0 0 0 20px;
  }
  .header .headWrap .rightBox .mailBox {
    width: 35%;
    height: 100%;
  }
  .header .headWrap .rightBox .mailBox a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 102px;
    color: #ffffff;
    text-align: center;
    background: #3e4e30;
  }
  .header .headWrap .rightBox .mailBox p {
    display: inline-block;
    padding: 40px 0 0;
    font-size: 14px;
    background: url("http://yamabiko.cc/system_panel/uploads/images/header_mail.png") center top 5px no-repeat;
    background-size: 30px auto;
  }
  .header .hamburger {
    display: none;
  }
}
@media (max-width: 1090px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 999;
    background: #ffffff;
  }
  .header .headTtl {
    display: none;
  }
  .header .logo {
    width: 90px;
  }
  .header .logo a {
    display: block;
  }
  .header .hamburger {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 40px;
    z-index: 10000;
  }
  .header .hamburger .span {
    background: #000000;
    position: absolute;
    left: 50%;
    width: 30px;
    height: 1px;
    transform: translateX(-50%);
    transition: 0.4s;
  }
  .header .hamburger .span:nth-of-type(1) {
    top: 10px;
  }
  .header .hamburger .span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header .hamburger .span:nth-of-type(3) {
    bottom: 10px;
  }
  .header .hamburger.is-open .span:nth-of-type(1) {
    transform: translate(-50%, 9px) rotate(-45deg);
  }
  .header .hamburger.is-open .span:nth-of-type(2) {
    opacity: 0;
  }
  .header .hamburger.is-open .span:nth-of-type(3) {
    transform: translate(-50%, -9px) rotate(45deg);
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1091px) {
  .navBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .navBox .navList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(100% - 400px);
  }
  .navBox .navList .ul {
    display: flex;
    max-width: 500px;
    min-width: 380px;
    width: 100%;
  }
  .navBox .navList .ul > .li {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    height: 95px;
    padding: 0 2px 20px;
    text-align: center;
  }
  .navBox .navList .ul > .li > a {
    display: block;
    padding: 0 0 0 10px;
    background: url(http://yamabiko.cc/system_panel/uploads/images/header_nav_arrow.png) left center no-repeat;
  }
  .navBox .navList .ul > .li.spBreak {
    display: none;
  }
  .navBox .navList .ul .pulldown {
    background: url("../image/common/header_nav_arrow.png") center bottom 15px no-repeat;
  }
  .navBox .navList .ul .linkTxt {
    position: relative;
    display: block;
  }
  .navBox .navList .ul .pulldown:hover {
    overflow: visible;
  }
  .navBox .navList .ul .pulldown:hover .subList {
    top: 95px;
    height: auto;
    opacity: 1;
    z-index: 9999;
  }
  .navBox .navList .subList {
    position: absolute;
    top: 70px;
    left: -90px;
    width: 300px;
    height: 0;
    opacity: 0;
    z-index: -1;
    border: 1px solid #000000;
    background: #ffffff;
    transition: 0.6s;
  }
  .navBox .navList .subList .li + li {
    border-top: 1px solid #000000;
  }
  .navBox .navList .subList .li a {
    display: block;
    padding: 15px 5px;
    font-size: 13px;
    color: #000000;
    text-align: center;
  }
  .navBox .navList .subList .li a p {
    position: relative;
    display: inline-block;
  }
  .navBox .navList .subList .li a:hover {
    opacity: 1;
    color: #ffffff !important;
    background: #fe0000;
  }
}
@media (max-width: 1090px) {
  .navBox {
    position: fixed;
    top: -100%;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0 0 60px;
    z-index: 999;
    background: #ffffff;
    opacity: 0;
    transition: 0.6s;
  }
  .navBox.active {
    top: 51px;
    opacity: 1;
    z-index: 999;
  }
  .navBox .navList {
    border-top: 1px solid #34363d;
    border-bottom: 1px solid #34363d;
  }
  .navBox .navList .ul .li {
    padding: 10px 20px;
  }
  .navBox .navList .ul .li + .li {
    border-top: 1px solid #34363d;
  }
  .navBox .navList .ul .li a {
    display: block;
  }
  .navBox .navList .ul .li a .span {
    margin: 3px 0 0;
    font-size: 11px;
  }
  .navBox .itemBox {
    margin: 30px 0 0;
  }
  .navBox .telBox {
    margin: 0 0 20px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  .navBox .telBox a {
    display: block;
  }
  .navBox .telBox .em {
    display: inline-block;
    padding: 0 0 0 25px;
    font-size: 26px;
    line-height: 1.2;
    background: url("http://yamabiko.cc/system_panel/uploads/images/header_tel.png") left bottom 4px no-repeat;
    background-size: 18px auto;
  }
  .navBox .telBox .span {
    padding: 0 0 0 30px;
  }
  .navBox .mailBox a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    color: #ffffff;
    text-align: center;
    background: #3e4e30;
  }
  .navBox .mailBox p {
    display: inline-block;
    padding: 40px 0 0;
    font-size: 14px;
    background: url("http://yamabiko.cc/system_panel/uploads/images/header_mail.png") center top 5px no-repeat;
    background-size: 30px auto;
  }
  .navBox .spBreak {
    display: block;
  }
  .navBox .spHidden {
    display: none;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
  margin: 102px 0 0;
}

@media (max-width: 1090px) {
  .main {
    margin: 61px 0 0;
  }
}
.pageTopTitlePanel {
  padding: 30px 20px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  background: #88a028;
}
.pageTopTitlePanel p {
  font-size: 20px;
}
.pageTopTitlePanel h1 {
  font-size: 40px;
}

.secWrap {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap01 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap02 {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.btnMore a {
  display: block;
  max-width: 260px;
  margin: 40px auto 0;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  background: url(http://yamabiko.cc/system_panel/uploads/images/btn_more_arrow.png) right 15px center no-repeat #3e4e30;
  background-size: 16px auto;
}

.btnMorePink a {
  display: block;
  max-width: 260px;
  margin: 40px auto 0;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  background: url(http://yamabiko.cc/system_panel/uploads/images/btn_more_arrow_pink.png) right 15px center no-repeat #ff7f8a;
  background-size: 16px auto;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer .footContact {
  padding: 20px 0 60px;
  color: #ffffff;
  text-align: center;
  background: #3e4e30;
}
.footer .footContact .topSecTitleBox {
  margin: 0 0 40px;
  text-align: center;
}
.footer .footContact .topSecTitleBox .sub {
  position: relative;
  margin: 0 0 5px;
  padding: 20px 0 5px;
  font-size: 24px;
  color: #ffffff;
  background: url(http://yamabiko.cc/system_panel/uploads/images/top_sec_ttl_top_icon_white.png) center top no-repeat;
  background-size: 30px auto;
}
.footer .footContact .topSecTitleBox .sub:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 1px;
  margin: 0 auto;
  background: #ffffff;
}
.footer .footContact .topSecTitleBox .topSecTitle {
  display: inline-block;
  font-size: 0;
  color: #ffffff;
  position: relative;
}
.footer .footContact .topSecTitleBox .topSecTitle::before {
  content: "";
  position: absolute;
  left: -70px;
  bottom: -20px;
  width: 70px;
  height: 170px;
  background: url(http://yamabiko.cc/system_panel/uploads/images/footer_contact_img.png) no-repeat;
  background-size: 100% auto;
}
.footer .footContact .topSecTitleBox .topSecTitle p {
  display: inline;
  font-size: 40px;
  font-weight: 900;
}
.footer .footContact .topSecTitleBox .topSecTitle .em {
  color: #f7ff23;
}
.footer .footContact .contactItem {
  max-width: 800px;
  margin: 0 auto;
}
.footer .footContact .contactItem .itemBox {
  padding: 20px;
  border-top: 1px solid #7a9e5a;
  border-bottom: 1px solid #7a9e5a;
}
.footer .footContact .contactItem .itemBox .dl .dt {
  margin: 0 0 10px;
  font-size: 24px;
  color: #f2c920;
}
.footer .footContact .contactItem .itemBox .tel a {
  display: inline-block;
  padding: 0 0 0 30px;
  font-size: 34px;
  color: #ffffff;
  line-height: 1;
  background: url(http://yamabiko.cc/system_panel/uploads/images/footer_contact_tel.png) left top 6px no-repeat;
  background-size: 25px auto;
}
.footer .footContact .contactItem .itemBox .tel > p {
  margin: 5px 0 0;
}
.footer .footContact .contactItem .itemBox .mail {
  max-width: 220px;
  margin: 0 auto;
}
.footer .footContact .contactItem .itemBox .mail a {
  display: block;
  padding: 10px;
  font-size: 20px;
  color: #3e4e30;
  background: #f2c43a;
}
.footer .footContact .contactItem .itemBox .mail a p {
  display: inline-block;
  padding: 0 0 0 25px;
  background: url("http://yamabiko.cc/system_panel/uploads/images/footer_contact_mail.png") left center no-repeat;
  background-size: 18px auto;
}
@media (min-width: 1025px) {
  .footer .footContact .contactItem {
    display: flex;
    justify-content: space-between;
  }
  .footer .footContact .contactItem .itemBox {
    width: 350px;
  }
}
.footer .footPanel {
  position: relative;
  padding: 60px 0 30px;
  color: #ffffff;
  background: #88a028;
}
.footer .footPanel .logo {
  max-width: 120px;
  margin: 0 0 20px;
}
.footer .footPanel .txt a {
  display: inline-block;
  color: #ffffff;
}
.footer .footPanel .txt .telFax > * {
  display: inline-block;
}
.footer .footPanel .txt .telFax .tel {
  margin: 0 1em 0 0;
}
.footer .footPanel .copy {
  margin: 30px 0 0;
  text-align: right;
}
.footer .pagetop {
  position: absolute;
  top: 40px;
  right: 5%;
  width: 50px;
  cursor: pointer;
}

/* --------------------------------------------------
	fadeAnimation
-------------------------------------------------- */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* 背景カラー */
  z-index: 9999;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値では非表示 */
  -webkit-transition: opacity 0.8s ease;
  /* アニメーション時間は 0.8秒 */
  -ms-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/
body.fadeout::after {
  opacity: 1;
}

/*お好みで、.fadeoutセレクタ以下の他の要素にもアニメーション用のCSSを定義します*/
/*DEMOではページ遷移時にarticle要素のスケールもアニメーションさせています*/
body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.topSecTitle h2 {
  display: inline;
  font-size: 40px;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #88a03d;
}
.topSecTitle h2 em {
  color: #f7ff23;
}