@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain {
    .topKvPanel {
      .topKv {
        height: 450px;
      }
      .kvTitleBox {
        position: absolute;
        top: 100px;
        right: 20px;
        width: 80%;
        max-width: 400px;
      }
    }
    .topSection {
      padding: 50px 0;
    }
    .sec01 {
      padding: 40px 0 80px;
      .listBox {
        max-width: 600px;
        margin: 0 auto;
        .ul {
          .li {
            + .li {
              margin: 40px 0 0;
            }
          }
          .dl {
            padding: 15px 0 0;
            .dt {
              font-size: 18px;
              margin: 0 0 10px;
            }
          }
        }
      }
      .btnMore {
        margin: 40px auto 0;
      }
    }
    .sec02 {
      padding: 60px 0;
      .secBox {
        .txtBox {
          padding: 30px 0 0;
          .btnMore {
            margin: 40px auto 0;
          }
        }
      }
    }
    .sec03 {
      padding: 60px 0;
      .secBox {
        .txtBox {
          padding: 30px 0 0;
          .btnMore {
            margin: 40px auto 0;
          }
        }
      }
    }
    .sec04 {
      padding: 60px 0;
      .listBox {
        max-width: 600px;
        margin: 0 auto;
        .ul {
          .li {
            + .li {
              margin: 40px 0 0;
            }
          }
          .dl {
            padding: 15px 0 0;
            .dt {
              font-size: 18px;
              margin: 0 0 10px;
            }
          }
        }
      }
    }
    .sec05 {
      padding: 60px 0;
      .secBox {
        .txtBox {
          padding: 30px 0 0;
        }
        .infoBox {
          .dl {
            display: block;
            + .dl {
              margin: 10px 0 0;
            }
            .dt {
              width: 100%;
            }
            .dd {
              width: 100%;
              padding: 0;
              &::before {
                display: none;
              }
            }
          }
        }
        .btnMore {
          margin: 30px auto 0;
        }
      }
    }
    .sec06 {
      padding: 60px 0;
      .webgene-blog {
        max-width: 800px;
        .webgene-item {
          display: block;
          + .webgene-item {
            margin: 20px 0 0;
          }
          .infoBox {
            width: 100%;
            > * {
              min-width: 100px;
            }
          }
          .title {
            width: 100%;
            padding: 5px 0 0;
          }
        }
      }
      .btnMore {
        margin: 60px auto 0;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	about
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .aboutMain {
    .topSection {
      padding: 50px 0;
    }
    .sec01 {
      padding: 60px 0;
      .secPanel {
        + .secPanel {
          margin: 60px 0 0;
        }
        h3 {
          margin: 0 0 15px;
          font-size: 18px;
        }
        .txt {
          margin: 0 0 15px;
        }
        .listBox {
          .ul {
            .li {
              width: calc((100% / 2) - 5px);
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	history
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .historyMain {
    .topSection {
      padding: 50px 0;
    }
    .sec01 {
      padding: 60px 0;
      .secBox {
        margin: 0 0 20px;
      }
      .listBox {
        .ul {
          .li {
            width: calc((100% / 3) - 5px);
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	menu
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .menuMain {
    .topSection {
      padding: 50px 0;
    }
    .sec01 {
      padding: 60px 0;
      .topTxt {
        margin: 0 0 50px;
      }
      .secPanel {
        padding: 0 0 20px;
        + .secPanel {
          margin: 60px 0 0;
        }
        h3 {
          margin: 0 0 30px;
          font-size: 18px;
        }
        .secBox {
          .photoBox {
            margin: 0 0 10px;
          }
          .menuBox {
            font-size: 16px;
            .dl {
              display: block;
              .dd {
                padding: 3px 0 0;
                text-align: right;
                .span {
                  font-size: 12px;
                }
              }
            }
            .dl {
              + .span {
                font-size: 12px;
              }
            }
          }
          .txtBox {
            padding: 10px 0 0;
            .txt {
              margin: 15px 0 0;
              p + p {
                margin: 20px 0 0;
              }
            }
          }
        }
      }
    }
    .sec02,
    .sec03,
    .sec04 {
      .menuBox {
        font-size: 16px;
        .dl {
          display: block;
          padding: 0 0 5px 5px;
          .dd {
            padding: 3px 0 0;
            text-align: right;
            .span {
              font-size: 12px;
            }
          }
        }
        .dl {
          + .span {
            font-size: 12px;
          }
        }
      }
    }
    .sec02 {
      padding: 60px 0;
      .menuBoxList {
        margin: 0 0 40px;
      }
      .menuBox {
        + .menuBox {
          margin: 15px 0 0;
        }
      }
      .listBox {
        .ul {
          .li {
            width: calc((100% / 3) - 5px);
          }
        }
      }
    }
    .sec03 {
      padding: 60px 0;
    }
    .sec04 {
      padding: 60px 0;
      .menuPanel {
        + .menuPanel {
          margin: 30px 0 0;
        }
      }
      .menuBox {
        + .menuBox {
          margin: 30px 0 0;
        }
        .ttl {
          margin: 0 0 20px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	seasons
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .seasonsMain {
    .topSection {
      padding: 50px 0;
    }
    .sec01 {
      padding: 60px 0;
      .secBox {
        + .secBox {
          margin: 50px 0 0;
          padding: 50px 0 0;
        }
        .txtBox {
          padding: 0 0 30px;
          .ttlBox {
            width: 50px;
            .dl {
              .dt {
                margin: 0 0 15px;
                padding: 0 10px 15px;
                font-size: 40px;
              }
              .dd {
                font-size: 18px;
              }
            }
          }
          .txt {
            width: calc(100% - 70px);
          }
        }
        .photoBox {
          max-width: 560px;
          margin: 0 auto;
          min-height: 260px;
          .photo {
            width: 60%;
            max-width: 340px;
          }
          .photo01 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
          .photo02 {
            position: relative;
            top: 60px;
            margin: 0 auto;
          }
          .photo03 {
            position: absolute;
            top: 100px;
            right: 0;
            z-index: 2;
          }
        }
      }
    }
    .sec02 {
      padding: 60px 0;
      .listBox {
        .ul {
          .li {
            width: calc((100% / 3) - 2px);
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	group
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .groupMain {
    .topSection {
      padding: 50px 0;
      .telItem {
        display: block;
        max-width: 300px;
        margin: 20px auto;
        .tel {
          p {
            font-size: 18px;
          }
          .em {
            font-size: 28px;
          }
        }
      }
      .caution {
        .ttl {
          font-size: 16px;
        }
        .ul {
          line-height: 2;
        }
      }
    }
    .sec01 {
      padding: 30px 0;
      .secBox {
        padding: 30px 20px;
        .txtBox {
          padding: 20px 0 0;
          h3 {
            margin: 0 0 15px;
            font-size: 18px;
          }
        }
      }
    }
    .sec02 {
      padding: 30px 0 60px;
      .listBox {
        .ul {
          .li + .li {
            margin: 40px 0 0;
          }
          .dl {
            .dt {
              p {
                font-size: 16px;
              }
              .span {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	shop
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .shopMain {
    .topSection {
      padding: 50px 0;
    }
    .section {
      padding: 60px 0;
    }
    .sec01 {
      .secBox {
        .txtBox {
          .txt {
            p + p {
              margin: 20px 0 0;
            }
          }
          .name {
            margin: 20px 0 0;
            .em {
              font-size: 24px;
            }
          }
        }
      }
    }
    .sec02 {
      padding: 60px 0 0;
      .secBox {
        margin: 0 0 30px;
        .txtBox {
          padding: 20px 0 0;
        }
        .infoBox {
          .dl {
            display: block;
            + .dl {
              margin: 10px 0 0;
            }
            .dt {
              width: 100%;
            }
            .dd {
              width: 100%;
              padding: 0;
              &::before {
                display: none;
              }
            }
          }
        }
      }
      .listBox {
        margin: 0 0 50px;
        .ul {
          .li {
            width: calc((100% / 3) - 5px);
          }
        }
      }
      .accessList {
        padding: 0 0 50px;
      }
      .accessBox {
        + .accessBox {
          margin: 50px 0 0;
        }
        h3 {
          margin: 0 0 20px;
          padding: 0 50px 10px;
          font-size: 18px;
        }
      }
      .accessBox01 {
        h3 {
          background: url(https://yamadayayasuo240401.smooooth.jp/system_panel/uploads/images/shop_sec02_car.png)
            left 15px top 2px no-repeat;
          background-size: 25px auto;
        }
      }
      .accessBox02 {
        h3 {
          background: url(https://yamadayayasuo240401.smooooth.jp/system_panel/uploads/images/shop_sec02_train.png)
            left 15px top no-repeat;
          background-size: 20px auto;
        }
      }
    }
    .sec03 {
      .topTxt {
        margin: 0 0 30px;
      }
      .listBox {
        .ul {
          .li {
            width: calc((100% / 3) - 5px);
          }
        }
      }
    }
    .sec04 {
      .secBox {
        margin: 0 0 40px;
        .txtBox {
          padding: 20px 0 0;
        }
        .infoBox {
          .dl {
            display: block;
            + .dl {
              margin: 10px 0 0;
            }
            .dt {
              width: 100%;
            }
            .dd {
              width: 100%;
              padding: 0;
              &::before {
                display: none;
              }
            }
          }
        }
      }
      .intro {
        .logoBox {
          max-width: 320px;
          margin: 0 0 20px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain {
    .topSection {
      padding: 50px 0;
      .groupMenu {
        margin: 30px 0 15px;
        .dl {
          .dt {
            font-size: 18px;
          }
        }
      }
      .telItem {
        display: block;
        max-width: 300px;
        margin: 20px auto;
        .tel {
          p {
            font-size: 18px;
          }
          .em {
            font-size: 28px;
          }
        }
      }
      .caution {
        .ttl {
          font-size: 16px;
        }
        .ul {
          line-height: 2;
        }
      }
    }
    .sec01 {
      padding: 60px 0;
      .secPanel {
        .ttlBox {
          padding: 10px 20px;
          .icon {
            margin: 0 10px 0 0;
            font-size: 20px;
          }
          .ttl {
            font-size: 16px;
          }
        }
        .txtBox {
          padding: 20px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	news
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .newsMain {
    .blogSection {
      padding: 60px 0 80px;
    }
    .catePanel {
      max-width: 300px;
      margin: 0 auto 40px;
      .webgene-blog {
        .webgene-header {
          margin: 0 auto 10px;
          padding: 0 0 10px;
        }
      }
    }
    .blogPanel {
      &--list {
        .webgene-blog {
          .webgene-item {
            padding: 10px 10px 30px;
            + .webgene-item {
              margin: 40px 0 0;
            }
          }
        }
        .webgene-pagination {
          margin: 60px auto 0;
        }
      }
      &--detail {
        .webgene-blog {
          padding: 15px;
          .info {
            display: block;
            margin: 0 0 10px;
            .cate {
              margin: 0 0 5px;
            }
            .time {
              text-align: right;
            }
          }
          .ttlBox {
            margin: 0 0 15px;
            font-size: 20px;
          }
          .slickSlide {
            margin: 0 0 40px;
            .slider {
              .li {
                > div {
                  padding: 0 0 70%;
                }
              }
            }
          }
        }
      }
    }
    .btnBack {
      margin: 60px auto 0;
    }
  }
}
